<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:fragment="Header"
>
<head>
</head>
<body>
<div class="tn">
	<!-- 최상단 네비(로고 및 회원가입, 로그인) -->
	<div class="nav1-wrap">
		<div class="logo-side">
<!-- 			<a href="main/html" th:href="@{/main}">  -->
				<img th:src="@{/images/logo.png}" alt="로고">
			<!-- </a> -->
		</div>
		<div class="log">
			<ul>
				<li><a th:href="@{/airline/main}">항공</a></li>
				<li><a th:href="@{/hotel/main}">숙소</a></li>
				<li><a>특가</a></li>
				<li><a th:href="@{/login}">로그인</a></li>
				<li><a th:href="@{/join}">회원가입</a></li>
				<li><a>마이페이지</a></li>
				<li><a>로그아웃</a></li>			
			</ul>
		</div>
	</div>
</div>

<script>
function btnLogoutClickHandler(){
	alert("로그아웃되었습니다.");
	
	var frmlogout = document.getElementById("frm-logout");
	frmlogout.action = "${pageContext.request.contextPath}/logout";
	frmlogout.method = "post";
	frmlogout.submit();
}
</script>
</body>
</html>