<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.home.model.repository.HomeRepository">

	<!-- home에서 가장 많이 찾은 숙소 표시용 SQL문 -->
	<select id="selectDiscountHotelList" resultType="DiscountedHotelDtoRes">
		select v.hotel_code hotel_code, v.hotel_pic hotel_pic, v.hotel_name hotel_name, v.hotel_eng hotel_eng,
		v.hotel_address hotel_address, hr.room_cat_desc room_cat, to_char(v.hotel_price, '999,999,999') hotel_price, to_char(trunc(v.hotel_price*(1 - hr.hotel_discount/100)), '999,999,999') discounted_price, hr.hotel_discount discount_ratio, hr.room_count room_count 
		from (select * from hotel_room join hotel_room_cat using(room_cat)) hr join v_hotel_list v on hr.hotel_code = v.hotel_code where hr.hotel_discount > 0
		order by hotel_discount desc
	</select>

	<!-- 가장 최근에 달린 호텔 리뷰 1개 -->
	<select id="selectLatestReview" resultType="LatestHotelReviewDtoRes">
		select distinct hp.hotel_code hotel_code, first_value(hotel_picture) over (partition by hp.hotel_code) as hotel_picture, review_title, review_comment
		    from hotel_pic hp
		    join (select rank() over(order by hotel_reserve_code desc) daterank, substr(hotel_reserve_code, 9, 6) hotel_code, review_title, review_comment from hotel_review) hr
		    on hp.hotel_code = hr.hotel_code
		    where daterank = 1
	</select>
</mapper>