

.top-nav{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: aqua;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
    
}
/* 사이드바 css */
.flex-container .sidebar{
	flex: 1;
    /* width: 200px; */
    background-color: aqua;
    height: auto;
}

.flex-container .sidebar .time-list{
	margin-top: 100px;
}

.flex-container .sidebar .price-list{
	margin-top: 70px;
}

.flex-container .sidebar .straight{
	margin-top: 70px;
}

/* 양방향 레인지 바 */

.middle-range {
	position: relative;
	width: 100%;
	margin-top: 10px;
	/* max-width: 500px; */
}

.slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 15px;
}

.slider>.track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #9d9d9d;
}

.slider>.range {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #006AFF;
}

.slider>.thumb {
	position: absolute;
	top: 3px; z-index : 3;
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid #006AFF;
	z-index: 3;
	/* border-color: #006AFF; */
}

.slider>.thumb.left {
	left: 0;
	transform: translate(-15px, -10px);
}

.slider>.thumb.right {
	right: 0;
	transform: translate(15px, -10px);
}

input[type="range"] {
	position: absolute;
	/* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	/* height: 10px; */
	width: 100%;
	opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
	/* 겹쳐진 두 thumb를 모두 활성화 */
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	cursor: pointer;
	/* appearance를 해야 위의 스타일들을 볼 수 있음 */
	-webkit-appearance: none;
}

.middle-range .multi-range-slider {
	margin-top: 10px;
}

.multi-range-slider .resultval {
	margin: 10px 10px;
}

.div1 {
	float: left;
}

.div2 {
	float: right;
}

/* 양방향 레인지 바 */

.flex-container .sidebar .time-list .depart-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	/* margin-bottom: 10px; */
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .time-list .depart-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 10px;
}

.flex-container .sidebar .time-list .arr-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .price-list .price-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 10px;

}



.flex-container .sidebar .time-list .arr-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 11px;
	font-size: 10px;
}
/* 사이드바 css END */

.flex-container .airline-list .select-bar{
    float: right;
}

.flex-container .airline-list{
	flex: 5;
    /* width: 100%; */
    background-color: beige;
}
    
.flex-container .airline-list .airline-info{
    border: 1px solid black;
    width: 740px;
    height: 150px;
    margin: 0 auto;
    /* margin-bottom: 30px; */
    margin-top: 50px;
    /* background-color: violet; */
    border-radius: 10px;
}

.airline-info .seat-count{
    float: left;
    width: 100%;
    height: 100%;
}
.airline-info .seat-count .span-seat-div{
    /* border: 1px solid blue; */
    border-radius: 10px;
    margin-top: 10px;
    background-color: #006AFF;
    width: 60px;
    height: 22px;
    
}
.airline-info .seat-count .span-seat{
    font-size: 12px;
    padding: 5px;
    color: white;
}

.airline-info .airline-flex{
    /* 2 1 2 1 1 3 */
    display: flex;
    height: 100%;
}
.airline-flex .airline-logo{
    flex: 0.5;
    display: flex;
    /* background-color: beige; */
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    padding-left: 20px;
    
}
.airline-flex .airline-logo img{
    width: 50px;
    height: 50px;
    margin-top: 22px;
}

.airline-flex .airline-name{
	flex: 0.7;
	text-align: center;
	align-content: center;
	font-size: 12px;
	font-weight: bold;
	}

.airline-flex .airinfo.depart-info{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    /* background-color: darkgreen; */
    align-items: center;
    justify-content: space-evenly;
}
.airline-flex .date{
    font-size: 12px;
}
.airline-flex .time{
    font-weight: bold;
}
.airline-flex .loc{
    font-size: 12px;
}

.airline-flex .arrow{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}
.airline-flex .arrow .via-count span{
	font-size: 12px;

	}
.airline-flex .arrow img{
    width: 50px;
    height: 50px;
}
.airline-flex .arrow .flytime{
    font-size: 13px;
}

.airline-flex .airinfo.arr-info{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    /* background-color: darkgreen; */
    align-items: center;
    justify-content: space-evenly;
}

/* 그리드로 해야하나..? */
.airline-flex .nop{
    flex: 1.7;
    display: grid;
    grid-template-columns: 1fr 2.5fr 7fr;
    
     /* background-color: gold;  */
    
}
.airline-flex .nop .sero{
    text-align: center;
    align-content: center;
     /* background-color: white; */
    
}
.airline-flex .nop .ticket-adult{
     /* background-color: tomato;  */
    align-content: center;
    font-size: 12px;
    margin-left: 15px;
}
.airline-flex .nop .airticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.airline-flex .nop .airticket .ticket-price{
    margin-top: 45px;
    color: #E12D2D;
    font-weight: bolder;
    font-size: 18px;
}
.airline-flex .nop .airticket .ticket-btn{
    width: 60%;
    margin-top: 20px;
    text-align: center;
    
}
.airline-flex .nop .airticket .ticket-btn button{
	border-radius: 20px;
}