.top-nav{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: aqua;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
    
}
/* 사이드바 css */
.flex-container .sidebar{
    width: 200px;
    background-color: aqua;
    height: auto;
}
/* 양방형 레인지 슬라이드 
   출발
*/
        .box {
            width: 100%;
            height: auto;
            /* background-color: #ecf0f1; */
        }

        /* 후에 padding: 1.5rem 2rem 으로 수정합니다. 참고바랍니다. */
        .slider {
            width: 100%;
            height: 100%;
            /* padding: 1.5rem; */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }
        .depart-box {
        width: 100%;
        }

        .depart-box input[type="range"] {
            width: 100%;
            top: 20px;
            /* left: 1rem; */
            position: absolute;
            border: none;
            pointer-events: none;
            z-index: 10;
            appearance: none;
            opacity: 0;
        }

        .depart-box input[type="range"]:first-child {
            top: 1rem;
        }
        
        /* appearance, background 지워도 됨 */
        input::-webkit-slider-thumb{
            pointer-events: all;
            appearance: none;
            background-color: red;
            width: 2.5rem;
            height: 1.5rem;
        } 

        .depart-track {
        	top: 20px;
        	margin-top: 10px;
            /* position: relative; */
            position: absolute;
            width: 100%;
            height: 0.5rem;
            /* margin-top: 5rem; */
            background-color: #9d9d9d;
            border-radius: 0.5rem;
        }

        .depart-range {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #006AFF;
            border-radius: 0.5rem;
        }

        .departthumb {
            position: absolute;
            top: 0;
            transform: translateY(-0.25rem);
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #006AFF;
        }
        
        /* 도착 양방형 레인지 */
        
        .arr-box {
        margin-top: 20px;
        position:absolute;
        top: 35px;
        width: 100%;
        }

        .arr-box input[type="range"] {
            width: 100%;
            top: 20px;
            /* left: 1rem; */
            position: absolute;
            border: none;
            pointer-events: none;
            z-index: 10;
            appearance: none;
            opacity: 0;
        }

        .arr-box input[type="range"]:first-child {
            top: 1rem;
        }
        
        /* appearance, background 지워도 됨 */
        input::-webkit-slider-thumb{
            pointer-events: all;
            appearance: none;
            background-color: red;
            width: 2.5rem;
            height: 1.5rem;
        } 

        .arr-track {
        	top: 20px;
        	margin-top: 10px;
            /* position: relative; */
            position: absolute;
            width: 100%;
            height: 0.5rem;
            /* margin-top: 5rem; */
            background-color: #9d9d9d;
            border-radius: 0.5rem;
        }

        .arr-range {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #006AFF;
            border-radius: 0.5rem;
        }

        .arrthumb {
            position: absolute;
            top: 0;
            transform: translateY(-0.25rem);
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #006AFF;
        }
        .left {
            left: 0;
        }

        .right {
            right: 0;
        } 
/* 양향병 레인지 END */

.flex-container .sidebar .time-list .depart-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	/* margin-bottom: 10px; */
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .time-list .depart-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 10px;
}

.flex-container .sidebar .time-list .arr-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .time-list .arr-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 11px;
	font-size: 10px;
}
/* 사이드바 css END */

.flex-container .airline-list .select-bar{
    float: right;
}

.flex-container .airline-list{
    width: 100%;
    background-color: beige;
}
    
body > div.wrapper > div.wrap-main > div > div.flex-container > div.airline-list > div:nth-child(2){
    margin-top: 30px;
}

.flex-container .airline-list .airline-info{
    border: 1px solid black;
    width: 740px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    background-color: violet;
}
