@charset "UTF-8";

section {
	width: 960px;
	margin: auto;
}
	/* reserve_process 섹션 */
.reserve_process{
	height : 200px;	
	
}

.reserve_process > div {
	width: 700px;
	height: 200px;
	display : flex;
	margin: auto;
}


.reserve_process > div >div{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	text-align: center;
	font-size : 50px;
	line-height: 100px;
	
	margin : auto;
	border: 1px solid black;
	
}
	/* reserver_info 섹션 */
.reserver_info{
	margin-top : 30px;
}
.reserver_info > div {
	display: flex;
	
}
.reserver_info > div > div{
	height: 70px;
	line-height : 70px;
	border: 1px solid black;
}

.reserver_info > div > div:nth-child(1){
	width: 300px;
	text-align: center;
}
.reserver_info > div > div:nth-child(2){
	width: 660px;
	
}

.reserver_info > div > div:nth-child(2) > *{
	margin-left: 30px;
	
	height: 30px;
}
.reserver_info > div > div:nth-child(2) > input{
	width: 350px;
}
	/* passenger_info 섹션 */
.passenger_info{
	margin-top: 30px;
}
	
	
	