@charset "UTF-8";

/* airline_search_section 구간 */
section.airline_search_section{
	height: 340px;
	background-color: gray;
}

div.airline_search{
	width: 1100px;
	height : 145px;
	border: 5px solid rgb(0,106,255);
	border-radius : 20px;
	margin: auto;
	position : relative;
	top: 135px;
	background-color: white;
}
div.tab{
	  margin: 20px 5px 5px 45px;
}

button.tablinks{
	background: none;
    border: none;
    font-size: 17px;
}

button#one_way_btn{
	border-bottom: 3px solid  rgb(0,106,255);
}

div#round_trip{
	display: none;
}

div.tabcontent > *{
	height: 40px;
	margin: 20px 17px 20px 15px;
	border-radius: 10px;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	float: left;
}

div.tabcontent > div{
	background-color: #D9D9D9;
}

div.tabcontent div:nth-child(1) {
	width : 450px;
}
div.tabcontent div:nth-child(2) {
	width : 150px;
}
div.tabcontent div:nth-child(3) {
	width : 270px;
}

div.tabcontent > input{
	border : none;
	color : white;
	background-color: rgb(0,106,255);
	width: 100px;
}


div.tabcontent > div{
	background-color: #D9D9D9;
}

div.tabcontent div:nth-child(1) {
	width : 450px;
}
div.tabcontent div:nth-child(2) {
	width : 150px;
}
div.tabcontent div:nth-child(3) {
	width : 270px;
}

div.tabcontent > input{
	border : none;
	color : white;
	background-color: rgb(0,106,255);
	width: 100px;
}
input#depart{
	width: 190px;
	/* border : none; */
	background : none;
}
img.airline_type {
	width: 40px;
	height: 40px;
}
input#arrival{
	width: 190px;
	/* border : none; */
	background : none;
	height: 40px;
}


							/* airline_according_section 섹션 */
div.airline_according{
	display: none;
}

