

.top-nav{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: aqua;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
    
}
/* 사이드바 css */
.flex-container .sidebar{
	flex: 1;
    /* width: 200px; */
    background-color: aqua;
    height: auto;
}

.flex-container .sidebar .time-list{
	margin-top: 100px;
}

.flex-container .sidebar .price-list{
	margin-top: 70px;
}

.flex-container .sidebar .straight{
	margin-top: 70px;
}
/* 양방형 레인지 슬라이드 
   출발
*/
        .time-frm {
            width: 100%;
            height: auto;
            /* background-color: #ecf0f1; */
        }

        /* 후에 padding: 1.5rem 2rem 으로 수정합니다. 참고바랍니다. */
        .time-slider {
            width: 100%;
            height: 100%;
            /* padding: 1.5rem; */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }
        .depart-box {
        width: 100%;
        }

        .depart-box input[type="range"] {
            width: 100%;
            top: 20px;
            /* left: 1rem; */
            position: absolute;
            border: none;
            pointer-events: none;
            z-index: 10;
            appearance: none;
            opacity: 0;
        }

        .depart-box input[type="range"]:first-child {
            top: 1rem;
        }
        
        /* appearance, background 지워도 됨 */
        input::-webkit-slider-thumb{
            pointer-events: all;
            appearance: none;
            background-color: red;
            width: 2.5rem;
            height: 1.5rem;
        } 

        .depart-track {
        	top: 20px;
        	margin-top: 10px;
            /* position: relative; */
            position: absolute;
            width: 100%;
            height: 0.5rem;
            /* margin-top: 5rem; */
            background-color: #9d9d9d;
            border-radius: 0.5rem;
        }

        .depart-range {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #006AFF;
            border-radius: 0.5rem;
        }

        .departthumb {
            position: absolute;
            top: 0;
            transform: translateY(-0.25rem);
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #006AFF;
        }
        
        /* 도착 양방형 레인지 */
        
        .arr-box {
        margin-top: 20px;
        position:absolute;
        top: 35px;
        width: 100%;
        }

        .arr-box input[type="range"] {
            width: 100%;
            top: 20px;
            /* left: 1rem; */
            position: absolute;
            border: none;
            pointer-events: none;
            z-index: 10;
            appearance: none;
            opacity: 0;
        }

        .arr-box input[type="range"]:first-child {
            top: 1rem;
        }
        
        /* appearance, background 지워도 됨 */
        input[type=range]::-webkit-slider-thumb{
            pointer-events: all;
            appearance: none;
            background-color: red;
            width: 2.5rem;
            height: 1.5rem;
        } 

        .arr-track {
        	top: 20px;
        	margin-top: 10px;
            /* position: relative; */
            position: absolute;
            width: 100%;
            height: 0.5rem;
            /* margin-top: 5rem; */
            background-color: #9d9d9d;
            border-radius: 0.5rem;
        }

        .arr-range {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #006AFF;
            border-radius: 0.5rem;
        }

        .arrthumb {
            position: absolute;
            top: 0;
            transform: translateY(-0.25rem);
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #006AFF;
        }
/*         
        .left {
            left: 0;
        }

        .right {
            right: 0;
        }
         */ 
/* 양방향 레인지 END */

/* 가격 레인지 바 */

        .price-frm {
            width: 100%;
            height: auto;
            /* background-color: #ecf0f1; */
        }

        /* 후에 padding: 1.5rem 2rem 으로 수정합니다. 참고바랍니다. */
        .price-slider {
            width: 100%;
            height: 100%;
            /* padding: 1.5rem; */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }
        .price-box {
        width: 100%;
        }

        .price-box input[type="range"] {
            width: 100%;
            top: 20px;
            /* left: 1rem; */
            position: absolute;
            border: none;
            pointer-events: none;
            z-index: 10;
            appearance: none;
            opacity: 0;
        }

        .price-box input[type="range"]:first-child {
            top: 1rem;
        }
        
        /* appearance, background 지워도 됨 */
        input::-webkit-slider-thumb{
            pointer-events: all;
            appearance: none;
            background-color: red;
            width: 2.5rem;
            height: 1.5rem;
        } 

        .price-track {
        	top: 20px;
        	margin-top: 10px;
            /* position: relative; */
            position: absolute;
            width: 100%;
            height: 0.5rem;
            /* margin-top: 5rem; */
            background-color: #9d9d9d;
            border-radius: 0.5rem;
        }

        .price-range {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #006AFF;
            border-radius: 0.5rem;
        }

        .pricethumb {
            position: absolute;
            top: 0;
            transform: translateY(-0.25rem);
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #006AFF;
        }
        .pricethumb.right{
        	right: 0;
        }
        


/* 가격 레인지 바 END */

.flex-container .sidebar .time-list .depart-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	/* margin-bottom: 10px; */
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .time-list .depart-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 10px;
}

.flex-container .sidebar .time-list .arr-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 10px;

}

.flex-container .sidebar .price-list .price-movingtime{
	width: 100%;
	padding-top: 15px;
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 10px;

}



.flex-container .sidebar .time-list .arr-timeline{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 11px;
	font-size: 10px;
}
/* 사이드바 css END */

.flex-container .airline-list .select-bar{
    float: right;
}

.flex-container .airline-list{
	flex: 5;
    /* width: 100%; */
    background-color: beige;
}
    
body > div.wrapper > div.wrap-main > div > div.flex-container > div.airline-list > div:nth-child(2){
    margin-top: 30px;
}

.flex-container .airline-list .airline-info{
    border: 1px solid black;
    width: 740px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: violet;
}

.airline-info .seat-count{
    float: left;
    border: 1px solid blue;
    width: 100%;

}
.airline-info .airline-flex{
    /* 2 1 2 1 1 3 */
    display: flex;
    height: 97px;
}
.airline-flex .airline-logo{
    flex: 1.5;
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: space-around;
}
.airline-flex .airline-logo img{
    width: 50px;
    height: 50px;
}

.airline-flex .airinfo.depart-info{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    align-items: center;
    justify-content: center;
}
.airline-flex .date{
    font-size: 12px;
}
.airline-flex .time{
    font-weight: bold;
}
.airline-flex .loc{
    font-size: 12px;
}

.airline-flex .arrow{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.airline-flex .arrow img{
    width: 50px;
    height: 50px;
}
.airline-flex .arrow .flytime{
    font-size: 13px;
}

.airline-flex .airinfo.arr-info{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    align-items: center;
    justify-content: center;
}

/* 그리드로 해야하나..? */
.airline-flex .nop{
    flex: 1.7;
    background-color: gold;
    
}
.airline-flex .nop .sero{
    display: flex;
    flex-direction: column;
}
.airline-flex .nop .ticket-info-flex{
    display: flex;
    flex-direction: column;

}