<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/adminLogin.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::관리자 로그인</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="login-header">
						<img th:src="@{/images/logo.png}" alt="로고">
					</div>
					<div class="login-title">
						관리자 로그인
					</div>
					<div class="main">
						<div class="adminlogin-section">
							<form id="frm-post" th:action="@{/login}" method="post">
								<div class="loginInfo">
									<input type="text" name="userId" placeholder="아이디" autofocus>
									<input type="password" name="pwdCheck" placeholder="비밀번호 확인">
								</div>
								<div class="loginBtn">
									<button type="submit" class="btn login">관리자 로그인</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
	<script>
		$(loadedHandler);
	
		function loadedHandler() {
			$(".btn.login").on("click", loginHandler);
		}
	
		function loginHandler() {
			if ($("#userId").val() == "") {
				alert("아이디를 입력해 주세요.");
				return false;
			}
			
			if ($("#userPwd").val() == "") {
				alert("비밀번호를 입력해 주세요.");
				return false;
			}
			
		}
	</script>
</body>
</html>