<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/manageBusiness.css}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>[관리자모드] 슈슝::회원 관리</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-section">
				<section>
					<div class="section-header1">사업자 회원 관리</div>
					<div class="hrline">
						<hr>
					</div>
					<div class="business">
						<div class="businessList">
							<div class="content-title">사업자 회원 관리</div>
							<div class="content-body">
								<div class="article-title">
									<input type="text" id="userId1" class="searchInput" placeholder="아이디 검색">
									<img class="absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" width="20px" height="20px">
									<button type="button" class="idSearch search1">검색</button>
								</div>
								<div th:replace="~{mypage/admin/managemember/customerList :: memberlist}"></div>
							</div>
						</div>

						<div class="businessInformation">
							<div class="content-title">사업자 회원 목록</div>
							<div class="content-body">
								<div class="article-title2">세부 정보</div>
								<div th:replace="~{mypage/admin/managemember/viewMember :: viewMember}"></div>
							</div>
						</div>
					</div>
					<div class="onlineQnAList">
						<div class="content-title">1:1 문의 현황</div>
						<div class="QnA-grid">
							<div>번호</div>
							<div>문의제목</div>
							<div>카테고리</div>
							<div>문의자</div>
							<div>등록일자</div>
						</div>
						<div th:replace="~{mypage/admin/managemember/userQnaList :: qna}"></div>
						<div class="viewAllList">
							<a class="viewQnAList" th:href="@{/support/qna/list}">전체보기</a>
						</div>
					</div>
					
					<div class="manageStopBusiness">
						<div class="stopBusinessList">
							<div class="content-title">상품 미등록, 장기 미접속 회원 관리 </div>
							<div class="content-body">
								<div class="main">
									<input type="radio" id="tab-1" name="show" checked /> 
									<input type="radio" id="tab-2" name="show" />
									<div class="tab">
										<label for="tab-1">상품 미등록 회원</label> 
										<label for="tab-2">장기 미접속 회원</label>
									</div>
									<div class="content">
										<div class="secessionUser-section">
											<div class="search-user">
												<input type="text" id="userId2" class="searchInput" placeholder="아이디 검색">
												<img class="absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" width="20px" height="20px">
												<button type="button" class="idSearch search2">검색</button>
											</div>
											<div th:replace="~{mypage/admin/managemember/sleeperList :: sleeperlist}"></div>
										</div>
										<div class="stopUser-section">
											<div class="search-user">
												<input type="text" id="userId3" class="searchInput" placeholder="아이디 검색">
												<img class="absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" width="20px" height="20px">
												<button type="button" class="idSearch search3">검색</button>
											</div>
											<div th:replace="~{mypage/admin/managemember/sleeperList :: sleeperlist}"></div>
											<div class="btn allstop">
												<button type="button" class="allstopBtn">일괄 이용정지</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="businessInformation">
							<div class="content-title">사업자 회원</div>
							<div class="content-body">
								<div class="article-title2">세부 정보</div>
								<div th:replace="~{mypage/admin/managemember/viewSleeper :: viewSleeper}"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
<script th:src='@{/js/mypage/admin/manageBusiness.js}'></script>
</html>