<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/manageBusiness.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>[관리자모드] 슈슝::회원 관리</title>
</head>
<body>

</body>
</html>