<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/manageCustomer.css}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>[관리자모드] 슈슝::회원 관리</title>
</head>
<body>
	<div class="wrapper">
		<div th:replace="~{mypage/admin/managecustomer/payListModal :: viewPay}"></div>
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-section">
				<section>
					<div class="section-header1">일반 회원 관리</div>
					<div class="hrline">
						<hr>
					</div>
					<div class="customer">
						<div class="customerList">
							<div class="content-title">회원 검색</div>
							<div class="content-body">
								<div class="article-title">
									<input type="text" id="userId1" class="searchInput" placeholder="아이디 검색">
									<img class="absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" width="20px" height="20px">
									<button type="button" class="idSearch1 btnSearch">검색</button>
								</div>
								<div th:replace="~{mypage/admin/managecustomer/customerList :: memberlist}"></div>
							</div>
						</div>
						<div class="customerInformation">
							<div class="content-title">일반 회원 목록</div>
							<div class="content-body">
								<div class="article-title2">세부 정보</div>
								<div th:replace="~{mypage/admin/managecustomer/viewMember :: viewMember}"></div>
							</div>
						</div>
					</div>
					<div class="onlineQnAList">
						<div class="content-title">1:1 문의 현황</div>
						<div class="QnA-grid">
							<div>번호</div>
							<div>문의제목</div>
							<div>카테고리</div>
							<div>문의자</div>
							<div>등록일자</div>
						</div>
						<div th:each="faqList : ${latestFaq}" class="QnA-content">
							<div th:text="${faqList.FAQ_ID}"></div>
							<div th:text="${faqList.ASK_TITLE}"></div>
							<div th:text="${faqList.QUEST_CAT_DESC}"></div>
							<div th:text="${faqList.USER_ID}"></div>
							<div th:text="${faqList.ASK_DATE}"></div>
						</div>
						<div class="viewAllList">
							<button type="button" class="viewQnAList">전체보기</button>
						</div>
					</div>
					
					<div class="manageStopCustomer">
						<div class="stopCustomerList">
							<div class="content-title">장기 미접속(1년 이상) 회원 관리 </div>
							<div class="content-body">
								<div class="main">
									<div class="tab">
										<div class="search-user">
											<input type="text" id="userId2" class="searchInput" placeholder="아이디 검색">
											<img class="absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" width="20px" height="20px">
											<button type="button" class="idSearch2 btnSearch">검색</button>
										</div>
									</div>
									<div class="content">
										<div class="stopUser-section">
											<div th:replace="~{mypage/admin/managecustomer/sleeperList :: sleeperlist}"></div>
											<div class="btn allstop">
												<button type="button" class="allstopBtn">일괄 이용정지</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="customerInformation">
							<div class="content-title">장기 미접속 회원 목록</div>
							<div class="content-body">
								<div class="article-title2">세부 정보</div>
								<div th:replace="~{mypage/admin/managecustomer/viewSleeper :: viewSleeper}"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
<script th:src='@{/js/mypage/admin/manageCustomer.js}'></script>
</html>