<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="inner" th:fragment="Aside">
		<div class="aside-title">관리자</div>
		<div class="aside-content">
			<a th:href="@{/admin/manager/customer}">
				<div class="manageCustomer">회원 관리</div>
			</a>
			<div class="dropdown">
				<button class="dropbtn1">사업자 관리</button>
				<div class="dropdown-content">
					<a th:href="@{/admin/manager/business}">사업자 회원 관리</a> 
					<a th:href="@{/admin/manager/product}">사업장 관리</a>
				</div>
			</div>
			<a th:href="@{/support/notice/list}">
				<div class="noticeBoard">공지사항</div>
			</a>
			<a th:href="@{/support/qna/list}">
				<div class="OnlineQnA">1:1 문의 관리</div>
			</a>

		</div>
	</div>
</body>
</html>