<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/admin/mypageAdminHome.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝::관리자 모드</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-section">
				<section>
					<div class="image-section">
						<img th:src="@{/images/노트북.png}" alt="이미지" width="100px" height="100px">
					</div>
					<div class="section-header">
						안녕하세요, 관리자님! 이곳은 관리자 전용 공간이에요. 
					</div>
					<div class="section-image">
						<a th:href="@{/admin/manager/customer}">
							<div class="editInfo">
								<img th:src="@{/images/일반사람.png}" alt="개인회원 관리" width="150px" height="150px">
								<div class="tail">개인회원 관리</div>
							</div>
						</a>
						<a th:href="@{/admin/manager/business}">
							<div class="reservationHotel">
								<img th:src="@{/images/회사원.png}" alt="사업자 회원 관리" width="150px" height="150px">
								<div class="tail">사업자 회원 관리</div>
							</div>
						</a>
					</div>
					<div class="noticeList">
						<div class="notice-title">공지사항</div>
						<div class="notice-grid">
							<div>번호</div>
							<div>제목</div>
							<div>작성일</div>
						</div>
						<div th:each="notice : ${notice}" class="notice-content">
							<div th:text="${notice.NOTICE_ID}"></div>
							<div th:text="${notice.NOTICE_TITLE}"></div>
							<div th:text="${notice.NOTICE_TIME}"></div>
						</div>
						<a class="viewAllList" th:href="@{/support/notice/list}">
							<button type="button" class="viewNoticeList">전체보기</button>
						</a>
					</div>
					<div class="onlineQnAList">
						<div class="onlineQnAList-title">문의 현황</div>
						<div class="QnA-grid">
							<div>번호</div>
							<div>문의제목</div>
							<div>카테고리</div>
							<div>등록일자</div>
						</div>
						<div th:each="qna : ${qna}" class="QnA-content">
							<div th:text="${qna.FAQ_ID}"></div>
							<div th:text="${qna.ASK_TITLE}"></div>
							<div th:text="${qna.QUEST_CAT_DESC}"></div>
							<div th:text="${qna.ASK_DATE}"></div>
						</div>
						<a class="viewAllList" th:href="@{/support/qna/list}">
							<button type="button" class="viewQnAList">전체보기</button>
						</a>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>