<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.airline.model.repository.AirlineRepository">
	<select id="selectAllList" parameterType="String" resultType="AirlineInfoDto">
		SELECT * FROM AIRLINE_INFO a 
		JOIN SEAT_GRADE s ON a.AIRLINE_CODE = s.AIRLINE_CODE
		WHERE DEPART_LOC LIKE #{departLoc} 
		AND ARRIVAL_LOC LIKE #{arrivalLoc}
    	ORDER BY SEAT_PRICE
	</select>
	
	<select id="getMaxPrice" parameterType="map" resultType="Integer">
	    SELECT MAX(s.SEAT_PRICE) AS maxPrice
	    FROM AIRLINE_INFO a
	    JOIN SEAT_GRADE s ON a.AIRLINE_CODE = s.AIRLINE_CODE
	    WHERE a.DEPART_LOC = #{departLoc} 
	    AND a.ARRIVAL_LOC = #{arrivalLoc}
	</select>
	
	<select id="selectOne" parameterType="String" resultType="AirlineInfoDto">
		SELECT * FROM AIRLINE_INFO 
		WHERE AIRLINE_CODE LIKE #{airlineCode}
	</select>
	
    <select id="selectOptions" parameterType="map" resultType="AirlineInfoDto">
        SELECT * FROM AIRLINE_INFO a
        JOIN SEAT_GRADE s ON a.AIRLINE_CODE = s.AIRLINE_CODE  
        WHERE TO_DATE(DEPART_TIME, 'HH24:MI') 
        BETWEEN TO_DATE(#{departTimeLeft}, 'HH24:MI') 
        AND TO_DATE(#{departTimeRight}, 'HH24:MI')
        AND TO_DATE (ARRIVAL_TIME, 'HH24:MI')
      	BETWEEN TO_DATE(#{arrivalTimeLeft}, 'HH24:MI')
      	AND TO_DATE(#{arrivalTimeRight}, 'HH24:MI')
        AND SEAT_PRICE BETWEEN 0 AND #{maxPrice}
        AND DEPART_LOC LIKE #{departLoc}
        AND ARRIVAL_LOC LIKE #{arrivalLoc}
    	<choose>
    		<when test="selectType != null and selectType.equals('flytime-low')">
    			ORDER BY FLIGHT_TIME
    		</when>
    		 <when test="selectType != null and selectType.equals('flytime-long')">
    			ORDER BY FLIGHT_TIME DESC
    		</when>
    		 <when test="selectType != null and selectType.equals('price-cheap')">
    			ORDER BY SEAT_PRICE
    		</when>
    		 <when test="selectType != null and selectType.equals('price-expensive')">
    			ORDER BY SEAT_PRICE DESC
    		</when>
        </choose>
    </select>
    <!-- 
    <select id="selectType" resultType="AirlineInfoDto">
    	SELECT * FROM AIRLINE_INFO
    	WHERE DEPART_LOC LIKE #{departLoc} AND ARRIVAL_LOC LIKE #{arrivalLoc}
    	<choose>
    		 <when test="selectType != null and selectType.equals('flytime-low')">
    			ORDER BY FLIGHT_TIME
    		</when>
    		 <when test="selectType != null and selectType.equals('flytime-long')">
    			ORDER BY FLIGHT_TIME DESC
    		</when>
    		 -->
    	<!-- 
    		 <when test="selectType != null and selectType.equals('flytime-low')">
    			ORDER BY REGEXP_REPLACE(#{flightTime}, '(\d+)시간 (\d+)분', '\1')
         		+ REGEXP_REPLACE(#{flight_time}, '(\d+)시간 (\d+)분', '\2') 
    		</when>
    		 <when test="selectType != null and selectType.equals('flytime-long')">
    			
    			ORDER BY REGEXP_REPLACE(#{flightTime}, '(\d+)시간 (\d+)분', '\1')
         		+ REGEXP_REPLACE(#{flightTime}, '(\d+)시간 (\d+)분', '\2') DESC
    		</when>
    	</choose>
    </select>
    		 -->
</mapper>