<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="LOG_DATEFORMAT_PATTERN">{HH:mm:ss.SSS}</Property>
		<Property name="LOG_LEVEL_PATTERN">{-%5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%-35.35C{1.}}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</Property>
		<Property name="LOG_LEVEL_PATTERN_ASPECT">{-%5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleLogAspect" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="false"	pattern="%d${LOG_DATEFORMAT_PATTERN}%highlight${LOG_LEVEL_PATTERN_ASPECT}" />
		</Console>
		<Console name="ConsoleLog" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="false"	pattern="%d${LOG_DATEFORMAT_PATTERN}%highlight${LOG_LEVEL_PATTERN}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ConsoleLog" />
		</Root>
		<Logger name="kh.mclass.shushoong.config" level="debug"	additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="kh.mclass.shushoong.member" level="info"	additivity="false">
			<AppenderRef ref="ConsoleLog" />
		</Logger>
		<Logger name="kh.mclass.shushoong.airline" level="info" additivity="false">
			<AppenderRef ref="ConsoleLog" />
		</Logger>
		<!-- JDBC -->
		<Logger name="jdbc.sql" level="info" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.sqlonly"  level="info" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.sqltiming"  level="debug" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.audit"   level="debug" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.resultset"   level="debug" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.resultsettable"  level="debug" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
		<Logger name="jdbc.connection"  level="off" additivity="false">
			<AppenderRef ref="ConsoleLogAspect" />
		</Logger>
	</Loggers>
</Configuration>

