<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
	<div class="article-body" id="memberlist" th:fragment="memberlist">
		<th:block th:if="${result == null or #lists.isEmpty(result)}">
			<div class="userName-content no-content">
				<div class="noContent">조건에 맞는 회원이 없습니다.</div>
			</div>
		</th:block>
		<th:block th:if="${result != null and !#lists.isEmpty(result)}">
			<div class="userName-content">
				<button type="button" class="userName" th:each="idList : ${result}" th:text="${idList}" th:data-userid="${idList}" onclick="memberViewHandler(this)"></button>
			</div>
		</th:block>
	</div>
</html>