@charset "UTF-8";

body {
	font-family: 'SOYOMapleRegularTTF';
}

ul,
ol,
li {
   /* 속성 리셋 */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    /* a 속성 리셋 */
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleRegularTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleRegularTTF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}



:root {
  
    --color_blue_1: #006AFF;
    --color_blue_2: #BCEFFF;

    --color_gray_1: #F1F1F1;
    --color_gray_2:  #c5c5c5;
    --color_gray_3:  #D9D9D9;
    
    --color_red_1: #E12D2D;

    --font1: 20px;
    --font2: 17px;
    --font3: 15px;
    --font4: 13px;
    --font5: 11px;
  }