<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}" rel="stylesheet" />
	
	
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-">
			<!-- 여기부터 작성 -->
				<div class="wrap-aside">
					<aside>
						<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
					</aside>
				</div>
				<section class="interested_section">
					<div>좋아요 누른 호텔</div>
					<div class="interested_list_wrap">
						<a class="hot-hotel" th:each="hotelList : ${hotelList}" th:href="'/shushoong/hotel/view?hotelCode=' + ${hotelList.hotelCode}">
							<div class="hot-hotel-pic"><img th:src="${hotelList.hotelPic}" alt="a"/></div>
							<div class="hot-hotel-name" th:text="${hotelList.hotelName}" style="display: block;">호텔이름</div>
						</a>
					</div>
				</section>
				
			
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>