<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
	<div class="inner" th:fragment="Aside">
		<div class="aside-title">
			마이페이지
		</div>
		<div class="aside-content">
			<div class="dropdown">
				<button class="dropbtn1">
					예약 내역
				</button>
				<div class="dropdown-content">
					<a href=#>항공</a>
					<a href=#>숙소</a>
				</div>
			</div>
			<a href=>
				<div class="correctionInfo">개인 정보 수정</div>
			</a>
			<a href=>
				<div class="likeHotel">내가 찜한 숙소</div>
			</a>
			<a href=>
				<div class="reviewHotel">나의 여행 후기</div>
			</a>
				<div class="dropdown">
				<button class="dropbtn2" >
					고객센터
				</button>
				<div class="dropdown-content">
					<a href=#>공지사항</a>
					<a href=#>1:1 문의</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>