<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/customer/mypageCustomerReservedHotel.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>호텔 예약 상세정보</title>
</head>
<body>

<div class="wrapper">
	<div class="wrap-header">
		<header>
				<div th:replace="~{common/header :: Header}"></div>
			<div class="hrline">
				<hr>
			</div>
		</header>
	</div>
	
	<div class="wrap-body">
		<div class="wrap-aside">
			<aside>
				<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
			</aside>
		</div>
		
		<div class="main_section">				
			<div class="hotel_name">
				<p>호텔 이름</p>
			</div>
					
			<div class="reserved_list">
				<div class="reserve_code">
					<p class="p">예약번호</p>
				</div>
				<div class="hotel_code">
					<div class="code_num" th:text="${reserveList.HOTEL_RESERVE_CODE}"></div>
				</div>
				<div class="check_in_out">
					<p class="p">체크인/체크아웃</p>
				</div>						
				<div class="check_in_out_time">
					<div class="time" th:utext="${reserveList.RESERVE_CHECK_IN} + ' ~ ' + ${reserveList.RESERVE_CHECK_OUT}"></div>
				</div>
				<div class="room">
					<p class="p">객실 정보</p>
				</div>
				<div class="room_info">
					<div class="room_att_cat" th:utext="${reserveList.ROOM_CAT_DESC} + ', ' + ${reserveList.ROOM_ATT_DESC}"></div>
				</div>								
				<div class="request">
					<p class="p">요청 사항</p>
				</div>
				<div class="request_info">
					<div class="request_detail" th:text="${requestDesc}"></div>
				</div>						
				<div class="reserve_name">
					<p class="p">투숙객 성명</p>
				</div>
				<div class="resident">
					<div class="ko" th:text="${reserveList.RESIDENCE_NAME_KO}"></div>
				</div>							
				<div class="pay">
					<P class="p">금액</P>
				</div>
				<div class="payment">
					<div class="totalpay" th:text="${#numbers.formatInteger(reserveList.HOTEL_PRICE, 3, 'COMMA')} + '원'"></div>
					
				</div>						
			</div>

			
			<div class="btn">
				<input type="hidden" th:value="${checkOutDate}" class="check_out_date">	
				<input type="hidden" th:value="${currentDate}" class="current_date">	
				<input type="hidden" th:value="${reserveList.REVIEW_AVAILABLE}" class="review_available">	
				<input type="hidden" th:value="${reserveList.APPROVE_NO}" class="approve_no">	
				<input type="hidden" th:value="${userId}" class="user_id">
				<div class="a"></div>
			</div>


			<div id="modal_esc" class="modal_overlay">
	            <div class="modal_window">
	            	<button type="button" class="esc">X</button>
	            	<p style="text-align: center">정말 취소하시겠습니까?</p>
	            	
	            	<div class="btn_wrap">
	            		<button type="button" class="yes">네</button>
	            		<input type="hidden" th:value="${reserveList.APPROVE_NO}" class="approve_no">
	            		<button type="button" class="no">아니오</button>
	            	</div>
	            </div>
           	</div>

			<!-- 리뷰 작성모달창 구현 -->
	        <div id="modal_review">
	            <div class="review_window">
	            	<form id="frm_review"> <!--  th:action="@{/hotel/review/write.ajax}" method="post" -->
	            			<button type="button" class="review_esc">X</button>
			            		<div class="facility">
			            			<p style="font-size: var(--font2);">숙박시설 상태 및 시설</p>
			            			<div class="facility_stars">
				            			<input type="radio" class="score" name="facility_score" id="facility_1" checked>
				            				<label for="facility_1">
				            					<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
				            				</label>
									    <input type="radio" class="score" name="facility_score" id="facility_2">
									    	<label for="facility_2">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									    <input type="radio" class="score" name="facility_score" id="facility_3">
									    	<label for="facility_3">
												<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											</label>
									    <input type="radio" class="score" name="facility_score" id="facility_4">
									    	<label for="facility_4">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									    <input type="radio" class="score" name="facility_score" id="facility_5">
									    	<label for="facility_5">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									</div>
								</div>		            		
					            <div class="sanity">
					                <p style="font-size: var(--font2);">청결 상태</p>
					                <div class="sanity_stars">
						                <input type="radio" class="score" name="sanity_score" id="sanity_1" checked>
					                	<label for="sanity_1">
					                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
					                	</label>
									    <input type="radio" class="score" name="sanity_score" id="sanity_2">
									    	<label for="sanity_2">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									    <input type="radio" class="score" name="sanity_score" id="sanity_3">
									    	<label for="sanity_3">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									    <input type="radio" class="score" name="sanity_score" id="sanity_4">
									    	<label for="sanity_4">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									    <input type="radio" class="score" name="sanity_score" id="sanity_5">
									    	<label for="sanity_5">
									    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
									    	</label>
									 </div>
					            </div>
				                <div class="conven">
				                	<p style="font-size: var(--font2);">편의 시설/서비스</p>
					                <div class="conven_stars">
					                	<input type="radio" class="score" name="conven_score" id="conven_1" checked>
						                	<label for="conven_1">
						                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
						                	</label>
									    <input type="radio" class="score" name="conven_score" id="conven_2">
										    <label for="conven_2">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="conven_score" id="conven_3">
										    <label for="conven_3">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="conven_score" id="conven_4">
										    <label for="conven_4">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="conven_score" id="conven_5">
										    <label for="conven_5">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									</div>	
				                </div>
				                <div class="service">
				                	<p style="font-size: var(--font2);">직원 및 서비스</p>
					                <div class="service_stars">
					                	<input type="radio" class="score" name="service_score" id="service_1" checked>
						                	<label for="service_1">
						                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
						                	</label>
									    <input type="radio" class="score" name="service_score" id="service_2">
										    <label for="service_2">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="service_score" id="service_3">
										    <label for="service_3">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="service_score" id="service_4">
										    <label for="service_4">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									    <input type="radio" class="score" name="service_score" id="service_5">
										    <label for="service_5">
										    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
										    </label>
									</div>
				                </div>
	
				        <fieldset style="border: 1px solid black; padding: 15px 15px;" >
				            <legend style="font-size: var(--font2); padding: 0 5px;">여행객 유형</legend>
				                <select name="tourist_cat" style="padding: 5px; border: none; width: 370px;">
				                    <option value="0">혼자</option>
				                    <option value="1">커플/부부</option>
				                    <option value="2">가족</option>
				                    <option value="3">단체</option>
				                    <option value="4">출장</option>
				                </select>
				        </fieldset>   
				        <fieldset style="border: 1px solid black; padding: 20px 15px; " >
				            <legend style="font-size: var(--font2); padding: 0 5px;">제목</legend>
							<input type="text" style="border: none; width: 370px;" class="review_title"/>
				        </fieldset>
				        <textarea class="review_content" rows="15" cols="50"></textarea>
					        <button type="button" class="btn_submit">리뷰 작성</button>
				    </form> <!-- 리뷰 form  -->
	             </div>
	        </div> <!-- 모달창 끝 -->



		</div>
	</div>
</div>
	
<div class="wrap-footer">
 		<div th:replace="~{common/footer :: Footer}"></div> 
</div>
	
<script>

$(loadedHandler)

function loadedHandler(){
	
	var currentDate = $(".current_date").val();
	var checkOutDate = $(".check_out_date").val();
	var review = $(".review_available").val();
	
	if(checkOutDate < currentDate && review === "0"){
		$('.a').append(`<button type="button" class="reserve_btn">취소하기</button>`);
	} else {
		if(currentDate - checkOutDate < 20000) $('.a').append(`<button type="button" class="review_btn">리뷰 작성</button>`);
	}
	
	/* 예약 취소 */
	$('.reserve_btn').on('click', reserveCancelHandler);
	$('.esc').on('click', escHandler);
	$('.yes').on('click', cancelHandler);
	
	/* 리뷰 작성 */
	$('.review_btn').on('click', reviewWriteHandler);
	
	/* 별점 이미지 변경*/
	$('.score').on('click',checkScoreHandler);
	
	/* 리뷰 제출 */
	$('.btn_submit').on('click', reviewSubmitHandler);
	
	/* 리뷰 작성 모달 취소 */
	$('.review_esc').on('click', reviewEscHandler);
}

</script>
<script th:src="@{/js/mypage/customer/mypageCustomerReservedHotel.js}"
		type="text/javascript">
</script>

	
</body>
</html>