<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/customer/mypageCustomerReservedAlirlineList.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

<div class="wrapper">
	<div class="wrap-header">
		<header>
				<div th:replace="~{common/header :: Header}"></div>
			<div class="hrline">
				<hr>
			</div>
		</header>
	</div>
	
	<div class="wrap-body">
		<div class="wrap-aside">
			<aside>
				<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
			</aside>
		</div>
		
		<div class="main_section">
			<div class="list_bar">
				<div class="btn_wrap">
					<button class="display_list_button" id="reserved_btn"> 완료된 예약</button>
					<button class="display_list_button" id="canceled_btn"> 취소된 예약</button>
				</div>
			</div>		
			
			<a th:each="reservelist : ${reserveList}" class="reserve_wrap" th:href="@{/customer/mypage/reserved/airline/{userId}/{airlineReserveCode}(userId=${userId},airlineReserveCode=${reservelist.AIRLINE_RESERVE_CODE})}">
				<input type="hidden" name="userId" class="userId" th:value="${userId}"/>
				<input type="hidden" name="airlineReserveCode" th:value="${reservelist.AIRLINE_RESERVE_CODE}"/>
				<div class="reserved_list">	
					<div class="y reserve_code">
						<div class="p">예약번호</div>
						<div class="code_num"  th:text="${reservelist.AIRLINE_RESERVE_CODE}"></div>
					</div>
					<div class="y check_in_out">
						<div class="p">항공편</div>
						<div class="airline_info">
							<div class="img_wrap">
								<img th:src="@{${reservelist.AIRLINE_IMG}}" class="airline_img">
								<div th:text="${reservelist.AIRLINE_NAME}"></div>
							</div>
							<div class="time" th:text="${reservelist.DEPART_DATE}"></div>
							<div class="time" th:utext="${reservelist.DEPART_LOC} + ' ' + ${reservelist.DEPART_TIME} + ' ~ ' + ${reservelist.ARRIVAL_LOC} + ' ' + ${reservelist.ARRIVAL_TIME}" style="font-size: var(--font4);"></div>
						</div>
					</div>						
				</div>
			</a>
			
			<a class="cancel_wrap" th:each="cancellist : ${cancelList}" th:href="@{/customer/mypage/cancel/airline/{userId}/{airlineReserveCode}(userId=${userId},airlineReserveCode=${cancellist.AIRLINE_RESERVE_CODE})}">
				<div class="canceled_list">
				<input type="hidden" name="userId" class="userId" th:value="${userId}"/>
				<input type="hidden" name="airlineReserveCode" th:value="${cancellist.AIRLINE_RESERVE_CODE}"/>
					<div class="y reserve_code">
						<div class="p">예약번호</div>
						<div class="code_num" th:text="${cancellist.AIRLINE_RESERVE_CODE}"></div>
					</div>
					<div class="y check_in_out">
						<div class="p">항공편</div>
						<div class="airline_info">
							<div class="img_wrap">
								<img th:src="@{${cancellist.AIRLINE_IMG}}" class="airline_img">
								<div th:text="${cancellist.AIRLINE_NAME}"></div>
							</div>
							<div class="time" th:text="${cancellist.DEPART_DATE}"></div>
							<div class="time" th:utext="${cancellist.DEPART_LOC} + ' ' + ${cancellist.DEPART_TIME} + ' ~ ' + ${cancellist.ARRIVAL_LOC} + ' ' + ${cancellist.ARRIVAL_TIME}" style="font-size: var(--font4);"></div>
						</div>
					</div>															
				</div>
			</a>

		</div>
	</div>
</div>
	
<div class="wrap-footer">
 		<div th:replace="~{common/footer :: Footer}"></div> 
</div>
	
<script>

$(loadedHandler)

function loadedHandler(){
    
	$('.reserve_wrap').css('display', 'block');
	$('.cancel_wrap').css('display', 'none');
	
	$("#reserved_btn").on("click",reserveHandler);
	
	$("#canceled_btn").on("click",cancelHandler);
}

function reserveHandler(){
	
	$('.reserve_wrap').css('display', 'block');
	$('.cancel_wrap').css('display', 'none');
	$("#canceled_btn").css("border-top","none").css("border-bottom","3px solid var(--color_blue_1)");
	$("#reserved_btn").css("border-bottom","none").css("border-top","3px solid var(--color_blue_1)");
}

function cancelHandler(){
	
	$('.reserve_wrap').css('display', 'none');
	$('.cancel_wrap').css('display', 'block');
	
	$("#reserved_btn").css("border-top","none").css("border-bottom","3px solid var(--color_blue_1)");
	$("#canceled_btn").css("border-bottom","none").css("border-top","3px solid var(--color_blue_1)");
}

</script>
<script th:src="@{/js/mypage/customer/mypageCustomerReservedAirlineList.js}" type="text/javascript"></script>
	
</body>
</html>