@charset "UTF-8";

.top-line {
	background-color: var(--color_gray_2);
	height: 100px;
}

.category {
	width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    
    margin-top: 20px;
}

.word_search{
	font-size: var(--font2);
	margin-right: 50px;
}

.type_hotel{
	border: 1px solid #006AFF; 
	border-radius: 10px; 
	width: 160px;
	height: 25px;
}

.type_hotel:focus {
	border: 3px solid #006AFF;
	outline: none;
	
}

.btn_search{
	background-color: var(--color_blue_2);
	border-radius: 20px;
	border: none;
	width: 50px;
	height: 25px;

}

.btn_search:hover{
	background-color: var(--color_blue_1);
	border-radius: 20px;
	border: none;
	color: white;
	cursor: pointer;
	width: 5s0px;
	height: 25px;
}


.container {
	width: 960px;
    margin: 0 auto;
    display: flex;
    
    margin-top: 50px;
}

/* 양방향 레인지 바 */

.sidebar {
    flex: 1;
    box-sizing: border-box;
    margin-top: 50px;
}

.price-slider-range {
	position: relative;
	width: 100%;
	margin-top: 10px;
	/* max-width: 500px; */
}

.slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 15px;
}

.slider>.track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #9d9d9d;
}

.slider>.range {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #006AFF;
}

.slider>.circle {
	position: absolute;
	top: 3px; z-index : 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid #006AFF;
	z-index: 3;
	/* border-color: #006AFF; */
}

.slider>.circle.left {
	left: 0;
	transform: translate(-15px, -10px);
}

.slider>.circle.right {
	right: 0;
	transform: translate(15px, -10px);
}

input[type="range"] {
	position: absolute;
	/* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 160px;
	opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
	/* 겹쳐진 두 thumb를 모두 활성화 */
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	cursor: pointer;
	/* appearance를 해야 위의 스타일들을 볼 수 있음 */
	-webkit-appearance: none;
}

.middle-range .multi-range-slider {
	margin-top: 10px;
}

.multi-range-slider .circle.price {
	margin: 10px 10px;
}

.price1 {
	float: left;
}

.price2 {
	float: right;
}

/* 양방향 레인지 바 */



.hotel {
	flex: 5;
    box-sizing: border-box;
}

.hotel_list {
	width: 740px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.hotel_pic {
	 background-color: var(--color_gray_2);
	 width: 250px;
	 height: 180px;
	 border-radius: 20px;	
}

.hotel_like{
	text-align:end;
	margin-right: 10px;
	margin-top: 10px;
}

.hotel_like:hover{
	cursor: pointer;
	text-align:end;
	margin-right: 10px;
	margin-top: 10px;
}

.heart {
	border: none;
	background-color: none;
}

.hotel_attr{
	display: grid;
	justify-content:space-between;
	margin-left: 20px;

}

.hotel_hot {
	border: 2px solid #E12D2D;
	border-radius: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font5);
	padding:2px;
	color: var(--color_red_1);
}

.hotel_kr{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font2);
	margin-top: 10px;
	margin-bottom: 20px;
}

.hotel_eng{
	font-size: var(--font4);
	color: var(--color_gray_2);
	
	margin-bottom: 35px;
}

.hotel_location{
	font-size: var(--font4);
	color: var(--color_gray_2);
	
	margin-bottom: 15px;
}

.hotel_review{
	font-size: var(--font4);
	
	margin-bottom: 10px;
	display: flex;
	align-items:center;
}


.hotel_price{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font1);
	color: var(--color_red_1);
	
	align-content: end;
	text-align: end;
	margin-bottom: 10px;
}

footer {
    clear: both;
}


