@charset "UTF-8";


p{
	line-height:1.5;
}

.wrap-main{
	width: 960px;
    margin: 0 auto;
}

.hotel_name {
	display: flex;
	align-items: end;
	margin-top: 40px;
	margin-bottom: 15px;
}

.name_kr{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font1);
	flex: auto;
	max-width: fit-content;
}

.name_en{
	font-size: var(--font5);
	color: var(--color_gray_2);
	padding-left:10px;
}

.hotel_pic{
	display: flex;
	align-items: center;
	margin-top: 30px;
	overflow-x: scroll;
}

.pic_slide{
	display: flex;
	column-gap: 30px;
	margin-bottom: 30px;
	
}

.pic{
	margin: auto;
    width: 230px;
    height: 200px;
    border: 1px solid black;
    margin-left: 10px;
}

.right_arrow{
	width: 40px;
    height: 40px;
}

.right_arrow:hover{
	cursor: pointer;
}

.hotel_info_all{
	margin-top: 50px;
}

.info_list {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	align-items: center;
	
}

.calendar{
	grid-column: 6 / 9;
	width: 300px;
	border: 1px solid #006AFF;
	border-radius: 10px;
	vertical-align: middle;
	
	display: flex;
	padding: 5px;
}
.cal_pic{
	padding-left: 8px;
}

.cal_btn{
	font-family: 'SOYOMapleRegularTTF';
	border: none;
	background-color: white;
}

.headcount{
	grid-column: 9 / 11;
	text-align: end;
}

.count_btn{
	font-family: 'SOYOMapleRegularTTF';
	border: none;
	background-color: white;
	border: 1px solid #006AFF;
	border-radius: 10px;
	padding: 7px;
	
}

#hotel_room_list{
	margin-top: 50px;
	
}

.roomlist{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
}

.room_cat{
	grid-column: 1/ 4;
}

.amount_num{
	grid-column: 6/ 8;
	
	font-size: var(--font4);
	color: var(--color_red_1); 
	text-align: center;
}

.btn_reserve{
	font-family: 'SOYOMapleRegularTTF';
	border: none;
	background-color: var(--color_blue_2);
	border-radius: 10px;
	padding: 7px;
}

.btn_reserve:hover{
	cursor:pointer;
	font-family: 'SOYOMapleBoldTTF';
	background-color: var(--color_blue_1);
	color: white;
}

.more_room_btn{
	background-color: var(--color_blue_2);
	border: none;
	padding: 12px 30px;
	border-radius: 10px;
	font-family: 'SOYOMapleRegularTTF';
}

.more_room_btn:hover{
	cursor: pointer;
	background-color: var(--color_blue_1);
	border: none;
	padding: 12px 30px;
	color: white;
	border-radius: 10px;
	font-family: 'SOYOMapleBoldTTF';

}

#wrap_hotel_info{
	margin-top: 50px;
}

.hotel_info_head{
	display: flex;
	justify-content: space-between;
}

.btn_map{
	display: flex;
	border-radius: 10px;
	border: none;
	background-color: var(--color_blue_2);
	padding: 10px;
}

.btn_map:hover{
	background-color: var(--color_blue_1); 
	padding: 5px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	padding: 10px;
}

/* 지도 모달창 */

/* #map  {
    display: none;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 0;
	left: 0; 
	bottom: 0; 
	right: 0;
	background: rgba(0, 0, 0, 0.6);
    z-index : 100;
}

.map_modal {      
	margin-left: 40%;
	margin-top: 100px;
} */



#map {
    height: 400px;
    width: 100%;
}

.mapModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}



.wrap_info{
	display: grid;
	gap : 5px;
}

.wrap_info > .section {
	display: flex;
}

.wrap_info > hr {
	width: 960px;
}

.wrap_info > .section > div:nth-child(1) {
	flex-basis: 200px;
}

.wrap_info > .section > div:nth-child(2) {
	flex-basis: 760px;
}

.facility-item-wifi{
	display: flex;
	align-items: center;	
}

.facility-item-parking{
	display: flex;
	align-items: center;	
	margin-top: 15px;
}


.facility-item-restaurant{
	display: flex;
	align-items: center;
	margin-top: 15px;	
}

.facility-item-pool{
	display: flex;
	align-items: center;
	margin-top: 15px;	
}

.facility-item-fitness{
	display: flex;
	align-items: center;
	margin-top: 15px;	
}

.facility-item-air_con{
	display: flex;
	align-items: center;
	margin-top: 15px;	
}

.facility-item-bar{
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.facility-item-casino{
	display: flex;
	align-items: center;
	margin-top: 15px;
}


#wrap_hotel_review{
	margin-top: 50px;
}

.review_detail{
	display: flex;
	align-items: center;
	gap: 12px;
}

.review_detail > div:nth-child(1) { 
	flex-grow: 1;
	width: 75px;
	text-align: center;
}
	
.review_detail > div:nth-child(2) { 
	flex-grow: 1;
	width: 70px;
}

.review_detail > div:nth-child(4) { 
	flex-grow: 5;
}

.vertical_line{
	border-left : 3px solid #c5c5c5;
    height : 220px;
}

.review_info_wrap{
	margin: 10px 0;
}

.review_flex {
	display: flex;	
	align-items: center;
}

.review_flex > div:nth-child(1) {
	flex-basis: 200px;
}

.review_rate{
	font-size: var(--font1); 
	margin-left: 20px; 
	color: var(--color_blue_1); 
	font-family: 'SOYOMapleBoldTTF';
}

.review_id{
	margin-top: 20px;
	display: flex;
}

.review_tripper{
	margin-top: 10px;
	display: flex;
}

.review_content_wrap{
	flex-basis: 820px;
	background-color: var(--color_gray_3); 
	border-radius: 20px;
	padding: 20px;
}

.review_content_title{
	margin-bottom: 30px;
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font2); 
}

.review_content{
	margin-bottom: 40px;
	font-size: var(--font3); 
}

.review_content_date{
	font-size: var(--font5);
}

.review_btn{
	text-align: end;
	margin-bottom: 10px;
}

.review_write_btn{
	background-color: var(--color_blue_2);
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	font-family: 'SOYOMapleRegularTTF';
}

.review_write_btn:hover{
	cursor: pointer;
	background-color: var(--color_blue_1);
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	font-family: 'SOYOMapleBoldTTF';
	
}



/* --------------모달창 css---------------------- */

#modal {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    
    position: fixed;
    top: 0;
	left: 0; 
	bottom: 0; 
	right: 0;
	background: rgba(0, 0, 0, 0.6);
    z-index : 100;
}

.modal_window {      
    width: 450px;
    height: 750px;
    border: 3px solid #006AFF;
    border-radius: 20px;
    padding: 20px;
	background-color: white;
	
	margin-left: 40%;
	margin-top: 100px;;
}

/* ------------------------------------------ */

.review_esc {
	width: 30px;
	border: none;
	padding: 5px 10px;
	margin-bottom: 30px;
	
	border-radius: 50%;
	background-color: var(--color_blue_2);
	
	justify-self: end;
}

.review_esc:hover {
	cursor: pointer;
	width: 30px;
	border: none;
	padding: 5px 10px;
	margin-bottom: 30spx;
	
	border-radius: 50%;
	background-color: var(--color_blue_1);
	color: white;
}

fieldset{
	margin-bottom: 20px;
	border-radius: 10px;
}

#frm_review{
	display: grid;
	
}

.facility {
	margin-bottom: 15px;
	display: flex;
}

.facility_stars{
	margin-left: 22px;
}

.sanity {
	margin-bottom: 15px;
	display: flex;
}

.sanity_stars{
	margin-left: 111px;
}

.conven {
	margin-bottom: 15px;
	display: flex;
	
}

.conven_stars{
	margin-left: 56px;
}

.service {
	margin-bottom: 30px;
	display: flex;
}

.service_stars{
	margin-left: 76px;
}

input[type=radio]{
	opacity: 0;
}

input[type=text]:focus{
	outline: none;
}

textarea {
  resize: none;
  border-radius: 10px;
}

textarea:focus{
	outline: none;
}

.btn_submit{
	margin-top: 20px;
	background-color: var(--color_blue_2);
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	font-family: 'SOYOMapleRegularTTF';
}

.btn_submit:hover{
	cursor: pointer;
	background-color: var(--color_blue_1);
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	font-family: 'SOYOMapleBoldTTF';
}

.paging_wrap{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.btn-leftpage{
	margin-right: 30px;
	background-color: var(--color_blue_2);
	border-radius: 80px; 
	padding: 10px 12px;
	font-family: 'SOYOMapleRegularTTF';
}

.btn-leftpage:hover{
	cursor: pointer;
	font-family: 'SOYOMapleBoldTTF';
	margin-right: 30px;
	background-color: var(--color_blue_1);
	color: white;
	border-radius: 80px; 
	padding: 10px 12px;
}

.current_page{
	cursor: pointer;
	margin-right: 30px;
	font-family: 'SOYOMapleBoldTTF';
	background-color: var(--color_blue_1);
	color: white;
	border-radius: 50px; 
	padding: 10px 13px;
}

.btn-gopage{
	margin-right: 30px;
	background-color: var(--color_blue_2);
	border-radius: 50px; 
	padding: 10px 15px;
	border: none;
}

.btn-gopage:hover{
	cursor: pointer;
	margin-right: 30px;
	font-family: 'SOYOMapleBoldTTF';
	background-color: var(--color_blue_1);
	color: white;
	border-radius: 50px; 
	padding: 10px 15px;
}


.right_page{
	margin-right: 30px;
	background-color: var(--color_blue_2);
	border-radius: 50px; 
	padding: 10px 15px;
	border: none;
	
}

.right_page:hover{
	cursor: pointer;
	margin-right: 30px;
	font-family: 'SOYOMapleBoldTTF';
	background-color: var(--color_blue_1);
	color: white;
	border-radius: 50px; 
	padding: 10px 15px;
}