*{
	box-sizing: border-box;
}

.wrap-hotel-main {
	font-family: 'SOYOMapleRegularTTF';
}

.main-back {
	height: 350px;
	position: relative;
	background-color: rgba(0,0,0, .2);
	
}

.main-back::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/slide02_1920x1080 2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px); /* 블러 효과 */
    z-index: -1;
    
}

.main-back .wrap-hotel-search {
	margin: 0 auto;
	width: 960px;
	position: relative;
	z-index: 2;
}

.main-back .hotel-search-bar {
	width : 100%;
	height: 80px;
	margin: 0 auto;
	border: var(--color_blue_1), 2px, solid;
	border-radius: 20px;
	background-color: rgba(255,255,255, .7);
	display: flex;
	gap: 15px;
	align-items: center;
	padding: 0 20px;
}

.main-back .hotel-search-bar button {
	flex-basis: auto;
	flex-grow: 1;
	font-size: 15px;
	padding: 12px 12px;
	border: none;
	border-radius: 10px;
	background-color: var(--color_gray_2);
	font-family: 'SOYOMapleBoldTTF';
	text-align: left;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.main-back .hotel-search-bar button:nth-child(1){
	flex-grow: 2;
}
.main-back .hotel-search-bar button:nth-child(2){
	flex-grow: 7;
	min-width: 430px;
}
.main-back .hotel-search-bar button:nth-child(3){
	flex-grow: 1;
}

.main-back .hotel-search-bar button.search {
	justify-content: center;
	background-color: var(--color_blue_2);
	color: black;
}

.location .selected-loc {
	border: none;
    background-color: transparent;
    font-style: inherit;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    font-family: 'SOYOMapleBoldTTF';
}

.location .selected-loc:focus {
	outline: none;
}
.location .selected-loc:disabled {
	outline: none;
	color: black;
}



.main-back .hotel-search-bar button.search:hover {
	background-color: var(--color_blue_1);
	color: white;
}

.wrap-loc-box {
	margin-top: 10px;
	width: fit-content;
	height: auto;
	border: var(--color_blue_1), 2px, solid;
	border-radius: 20px;
	background-color: white;
	padding : 40px;
	display: none;

}

.wrap-loc-box .loc-inner-box {
	display: flex;
	flex-direction: row;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;
}

.wrap-loc-box .country-box {
	display: flex;
	flex-direction: column;
	font-size: 17px;
}

.wrap-loc-box .country-box .country {
	border-style: solid;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: black;
    font-size: 17px;
    padding : 15px;
    padding-right: 40px;
    cursor: pointer;
}

.wrap-loc-box .country-box > .country:last-child{
	border-bottom-width: 0px;
}

.wrap-loc-box .local-box {
	font-size: 17px;
	grid-template-columns: repeat(5, 150px);
	grid-auto-flow: row;
	grid-auto-rows: 25%;
	display: none;
}

.wrap-loc-box .local-box .local {
	padding: 7px 10px;
	cursor: pointer;
	align-content:center;
	
}

.wrap-loc-box .local-box .local:hover {
	background-color: var(--color_gray_1);
	border-bottom-width: 1px;
	border-bottom-color: var(--color_gray_2);
	border-bottom-style: solid;
}

.wrap-date-box {
	margin-top: 10px;
	width: fit-content;
	height: auto;
	border: var(--color_blue_1), 2px, solid;
	border-radius: 20px;
	background-color: white;
	padding : 40px;
	display: none;
}

.wrap-room-box {
	display: none;
	margin-top: 10px;
	margin-left: 500px;
	width: 400px;
	height: auto;
	border: var(--color_blue_1), 2px, solid;
	border-radius: 20px;
	background-color: white;
	padding : 40px;
}

.wrap-room-box .select-people-head {
	font-size: 17px;
	font-weight: 900;
	margin-left: 15px;
	margin-bottom: 15px;
}

.amount{
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	margin: 20px auto;
	align-items: center;
	flex-wrap: wrap;
}

.amount .cat {
	color: #5E5E5E;
	margin-left: 15px;
}

.btn-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.btn-area .cat {
	font-size: 20px;
}

.btn-area .btn {
	text-align: center;
	background-color: var(--color_blue_2);
	color: black;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	padding: 10px 15px;
}

.btn-area .btn:hover {
	background-color: var(--color_blue_1);
	color: white;
}

.cat p {
	margin: 7px 0;
}

.cat p:nth-child(2) {
	font-size: 10px;
}

.wrap-people {
	margin: 20px auto;
}