<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<div class="userContainer">
					<a href="#">
						<div class="userJoin">기업 회원 가입하기</div>
					</a>
				</div>
				<div class="userJoinSns">
					간편하게 SNS 가입하기
					<div class="snsImg">
						<div class="google">
						
						</div>
						<div class="kakao">
						
						</div>
						<div class="naver">
						
						</div>
					</div>
				</div>
				<div class="businessContainer">
					<a href="#">
						<div class="businessJoin">기업 회원 가입하기</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>