<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/member/login.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="login-header">
						<img th:src="@{/images/logo.png}" alt="로고">
					</div>
					<div class="login-section">
						<form id="frm-post" th:action="@{/member/login}" method="post"> 
							<div class="loginInfo">
								<input type="text" name="userId" placeholder="아이디" autofocus>
								<input type="password" name="userPwd" placeholder="비밀번호">
							</div>
							<div class="login-check">
								<input type="checkbox" name="idsaved">아이디 저장
							</div>
							<div class="loginBtn">
								<button type="submit" class="btn login">로그인</button>
							</div>
							<div class="login-function">
								<div class="joinBtn">회원가입</div>
								<div class="findInfoBtn">아이디/비밀번호 찾기</div>
							</div>
						</form>

						<div class="snsLogin">
							------ 또는 -------
							<div class="snsLoginBtn">
								<div class="googleBtn">
									<a href=#>
										<img th:src="@{/images/구글 로그인 버튼.png}" alt="카카오 로그인" width="183px" height="45px">
									</a>
								</div>
								<div class="kakaoBtn">
									<a href=#>
										<img th:src="@{/images/카카오 로그인 버튼.png}" alt="카카오 로그인">
									</a>
								</div>
								<div class="naverBtn">
									<a href=#>
										<img th:src="@{/images/네이버 로그인 버튼.png}" alt="네이버 로그인" width="183px" height="45px">
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
</html>