@charset "UTF-8";

body {
	height: 500px;
	overflow: hidden;
}

input, input:focus, textarea, textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}

section .main input[type=radio] {
	display: none;
}

.wrap-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-align: center;
}

section .resetInfo-header {
	margin: 100px 0 30px 0;
}

section .resetInfo-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 80px;
}

section .resetInfo {
	margin-bottom: 20px;
}

section .resetInfo>input {
	/* 	글상자서식 */
	border: 1px solid #BCEFFF;
	border-radius: 20px;
	width: 320px;
	height: 40px;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	text-indent: 10px;
	font-size: 15px;
	/* 	배치서식 */
	display: flex;
	flex-direction: column;
	margin: 10px 10px 0 10px;
}

section .resetInfo>input:focus {
	/* 	글상자서식 */
	border: 2px solid #006AFF;
}

section .btn.login {
	/* 스타일서식 */
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: #006AFF;
	color: white;
	font-size: 17px;
	font-family: SOYOMapleRegularTTF;
	font-weight: bold;
	cursor: pointer;
}

section .login-check {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin: 5px 0 30px 10px;
	font-size: 15px;
	text-indent: 5px;
}

section .login-check>input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: none;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
	background-color: #BCEFFF;

}

input[type="checkbox"]:checked {
	background-image:url("../../images/bluecheck.png");
	background-size: 100%;
	border: none;
}

section .login-function {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}

section .joinBtn {
	padding: 0 35px 0 0;
	border-right: 2px solid #707070;
}