@charset "UTF-8";

input, input:focus, textarea, textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}

.wrap-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

section .userjoin-header {
	font-size: 20px;
	font-weight: bold;
	margin: 70px 0 50px 0;
}

section .userJoinInfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

section .userJoinInfo > div {
	margin-bottom: 30px;
}

section .testmessage {
	display: flex;
	justify-content: left;
}

section .test_Idok, .test_Emailok, .test_Echkok{
	color:blue;
	font-size:12px;
	font-weight: bold;
	text-indent: 20px;
	margin-top: 5px;
	display: none;
}

section .test_IDexception, .test_IDexception2, .test_Nameexception, .test_Pwdexception, 
		.test_PwdChkexception, .test_Emailexception, .test_Echkexception {
	display:inline-block;
	color:red; 
	font-size:12px;
	font-weight: bold;
	text-indent: 20px;
	text-align: left;
	margin-top: 5px;
	display: none;
}

section .longinput {
	/* 	글상자서식 */
	border: 1px solid #BCEFFF;
	border-radius: 20px;
	width: 400px;
	height: 40px;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	text-indent: 10px;
	font-size: 15px;
	/* 	배치서식 */
	display: flex;
	flex-direction: column;
	margin: 10px 10px 0 10px;
}

section .shortinput {
	/* 	글상자서식 */
	border: 1px solid #BCEFFF;
	border-radius: 20px;
	width: 285px;
	height: 40px;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	text-indent: 10px;
	font-size: 15px;
	/* 	배치서식 */
	margin: 10px 0 0 10px;
}

section .userJoinInfo>div>input:focus {
	/* 	글상자서식 */
	border: 3px solid #006AFF;
}

section .userJoinInfo>div>label {
	display: flex;
	justify-content: left;
	text-indent: 20px;
	font-weight: bold;
}

section .btn.idCheck, .btn.emailSend, .btn.emailCheck {
	/* 	버튼서식 */
	border: none;
	border-radius: 20px;
	width: 110px;
	height: 40px;
	background-color: #BCEFFF;
	cursor: pointer;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 10px 5px 10px;
}

section .btn.idCheck, .btn.emailSend, .btn.emailCheck {
	margin: auto;
}

section .agreement-items {
	margin: 40px 0 60px 0;
	text-align: left;
}

section .marketing-title {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 30px;
}

input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: none;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
	background-color: #BCEFFF;
}

input[type="checkbox"]:checked {
	background-image:url("../../images/bluecheck.png");
	background-size: 100%;
	border: none;
}

section .checkSelection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: left;
}

section .on {
	text-indent: 5px;
}

section .allchk {
	font-weight: bold;
}

section .allchk, .serviceCheck, .privacyCheck {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
}

section .marketingsend {
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

section .choice {
	display: flex;
	flex-direction: row;
}

section .smsMarketing, .emailMarketing {
	display: flex;
	justify-content: left;
	align-items: center;
	margin : 0 0 10px 50px;
}

section .text {
	margin-left: 53px;
	font-size: 13px;
}

section .btn.userJoin {
	/* 스타일서식 */
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: #006AFF;
	color: white;
	cursor:pointer;
	font-size: 17px;
	font-family: SOYOMapleRegularTTF;
	font-weight: bold;
	
	margin-bottom: 80px;
}