<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/door.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
	   		<div class="pic-container">
		        <div class="pic">
		            <img th:src="@{/images/door1.png}" alt="첫번째사진" class="door_1">
		            <div class="overlay-text">슈슝과 함께 떠나는 여행</div>
		        </div>
		        <div class="pic">
		            <img th:src="@{/images/door2.jpg}" alt="두번째사진" class="door_2">
		            <div class="overlay-text">항공</div>
		            <button type="button" class="overlay-button">예약하기</button>
		        </div>
		        <div class="pic">
		            <img th:src="@{/images/door3.png}" alt="첫번째사진" class="door_3">
		            <div class="overlay-text">숙소</div>
		            <button type="button" class="overlay-button">예약하기</button>
		        </div>
	   		</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>