<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/member/businessJoin.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::사업자 회원가입</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="businessjoin-header">
						기업 회원가입
					</div>
					<div class="businessjoin-section">
						<form id="frm-post" method="post"> 
							<div class="businessJoinInfo">
								<div class="idwrite">
									<label for="userId">아이디</label>
									<input type="text" id="userId" name="userId" placeholder="4-15자 영문, 숫자" class="shortinput" autofocus>
									<button type="button" class="btn idCheck">중복확인</button>
									<div class="testmessage">
										<span class="test_Idok">사용 가능한 아이디입니다.</span>
										<span class="test_IDexception2">잘못된 아이디 형식입니다.</span>
										<span class="test_IDexception">이미 존재하는 아이디입니다.</span>
									</div>
								</div>
								<div class="namewrite">
									<label for="userName">담당자명</label>
									<input type="text" id="userName" name="userName" placeholder="이름" class="longinput" >
									<div class="testmessage">
										<span class="test_Nameexception">사용할 수 없는 이름 입니다.</span>
									</div>
								</div>
								<div class="companywrite">
									<label for="userName">회사명</label>
									<input type="text" id="companyname" name="companyname" placeholder="회사명" class="longinput" >
									<div class="testmessage">
										<span class="test_Nameexception2">사용할 수 없는 이름 입니다.</span>
									</div>
								</div>
								<div class="passwordwrite">
									<label for="userPwd">비밀번호</label>
									<input type="password" id="userPwd" name="userPwd" placeholder="8-20자의 영문, 숫자, 특수문자" class="longinput">
									<div class="testmessage">
										<span class="test_Pwdexception">사용할 수 없는 비밀번호 입니다.</span>
									</div>
								</div>
								<div class="check password">
									<label for="pwdCheck">비밀번호 확인</label>
									<input type="password" id="pwdCheck" name="pwdCheck" placeholder="비밀번호 재입력" class="longinput">
									<div class="testmessage">
										<span class="test_PwdChkexception">비밀번호가 일치하지 않습니다.</span>
									</div>
								</div>
								<div class="send num">
									<label for="userEmail">이메일</label>
									<input type="text" id="userEmail" name="userEmail" placeholder="이메일 입력" class="shortinput" >
									<button type="button" class="btn emailSend" >인증번호 전송</button>
									<div class="testmessage">
										<span class="test_Emailok">인증번호가 전송되었습니다.</span>
										<span class="test_Emailexception">이메일을 다시 한 번 확인해 주세요.</span>
									</div>
								</div>
								<div class="answer email">
									<label for="emailCheck">인증번호</label>
									<input type="text" id="emailCheck" name="emailCheck" placeholder="인증번호 입력" class="shortinput" >
									<button type="button" class="btn emailCheck">인증확인</button>
									<div class="testmessage">
										<span class="test_Echkok">인증 완료되었습니다.</span>
										<span class="test_Echkexception">인증번호가 일치하지 않습니다.</span>
									</div>
								</div>
							</div>
							<div class="agreement-items">
								<div class="marketing-title">서비스 이용약관 동의</div>
								<div class="allchk">
									<input type="checkbox" id="allCheckBox" onclick="allChecked()"><span class="on">전체 선택</span>
								</div>
								<hr class="marketingLine" />
								<div class="checkSelection">
									<div class="serviceCheck">
										<input type="checkbox" name="chk" id="usingService" class="chk" onclick="chkClicked()"><span class="on">슈슝 이용약관 동의<font color="#ff0000">(필수)</font></span>
									</div>
									<div class="privacyCheck">
										<input type="checkbox" name="chk" id="privacy" class="chk" onclick="chkClicked()"><span class="on">개인정보 수집 및 이용 동의<font color="#ff0000">(필수)</font></span>
									</div>
								</div>
							</div>
							<div class="businessJoinBtn">
								<button type="submit" class="btn businessJoin">회원가입</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	<script>
		$(loadedHanlder);
		function loadedHanlder() {
			$(".btn.emailSend").on("click", emailSendHandler);
			$(".btn.emailCheck").on("click", emailCheckHandler);
		}

		// 이메일 전송 이벤트
		function emailSendHandler() {	
			var userEmail = $("#userEmail").val();
			console.log(userEmail);
			
			$.ajax({
				type: "post",
				url: "/shushoong/v2/verify-email",
				contentType : 'application/json;',
				data: JSON.stringify({
					'userEmail' : userEmail
				})
			})
		}
		
		// 이메일 체크 이벤트
		function emailCheckHandler() {	
			var code = $("#code").val();
			console.log(userEmail);
			
			$.ajax({
				type: "post",
				url: "/shushoong/verification-code",
				contentType : 'application/json;',
				data: JSON.stringify({
					'code' : code
				})
			})
		}
		
		function allChecked(target) {
			// 전체 체크박스 버튼
			const checkbox = document.getElementById('allCheckBox');
			
			// 전체 체크박스 체크 여부
			const is_checked = checkbox.checked;
			
			// 전체 체크박스를 제외한 모든 체크박스
			if(is_checked) {
				//체크박스 전부 체크
				chkAllChecked();
			}
			
			else {
				// 체크박스 전부 해제
				chkAllUnChecked();
			}
		}
		
		// 자식 체크박스 클릭 이벤트
		function chkClicked() {
			// 체크박스 전체개수
			const allCount = document.querySelectorAll(".chk").length;
			
			// 체크된 체크박스 전체개수 
			const query = 'input[name="chk"]:checked'
			const selectedElements = document.querySelectorAll(query);
			const selectedElementsCnt = selectedElements.length;
			
			// 체크박스 전체개수와 체크된 체박스 전체개수가 같으면 전체 체크박스 체크
			if(allCount == selectedElementsCnt) {
				document.getElementById('allCheckBox').checked = true;
			}
			
			// 같지 않으면 전체 해제
			else {
				document.getElementById('allCheckBox').checked = false;
			}
		}
		
		// 체크박스 전체 체크
		function chkAllChecked() {
			document.querySelectorAll(".chk").forEach(function(v,i) {
				v.checked = true;
			});
		}
		
		// 체크박스 전체 해제
		function chkAllUnChecked() {
			document.querySelectorAll(".chk").forEach(function(v,i) {
				v.checked = false;
			});
		}
	</script>
</body>
</html>