<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/member/findCustomerInfo.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::[일반 회원] - 아이디/비밀번호 찾기</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="findInfo-header">
						<img th:src="@{/images/logo.png}" alt="로고">
						<div class="header-title">
							개인 회원 아이디/비밀번호 찾기
						</div>
					</div>
					<div class="main">
						<input type="radio" id="tab-1" name="show" checked/>
						<input type="radio" id="tab-2" name="show" />
						<div class="tab">
							<label for="tab-1">아이디 찾기</label>
							<label for="tab-2">비밀번호 찾기</label>
						</div>
						<div class="content">
							<div class="findId-section">
								<form id="frm-post" th:action="@{/find/customer}" method="post">
									<div class="findInfo">
											<label for="userName">이름</label>
											<input type="text" name="userName" class="longinput" placeholder="이름" autofocus>
											<label for="userEmail">이메일</label>
											<input type="text" name="userEmail" id="userEmail" class="shortinput" placeholder="이메일">
											<button type="button" class="btn emailSend">인증번호 전송</button>
											<label for="emailCheck">인증번호</label>
											<input type="text" name="code" id="code" class="shortinput" placeholder="인증번호">
											<button type="button" class="btn emailCheck">인증확인</button>
									</div>
									<div class="searchIdCustomer">
										<button type="submit" class="btn findId">아이디 찾기</button>
									</div>
								</form>
							</div>
							<div class="findpassword-section">
								<form id="frm-post" th:action="@{/find/customer}" method="post">
									<div class="findInfo">
										<label for="userId">아이디</label>
										<input type="text" name="userId" class="longinput" placeholder="아이디" autofocus>
										<label for="userEmail">이메일</label>
										<input type="text" id="userEmail" name="userEmail" class="shortinput" placeholder="이메일">
										<button type="button" class="btn emailCheck">인증번호 전송</button>
										<label for="emailCheck">인증번호</label>
										<input type="text" name="code" id="code" class="shortinput" placeholder="인증번호">
										<button type="button" class="btn emailCheck">인증확인</button>
									</div>
									<div class="searchPwdCustomer">
										<button type="submit" class="btn findPwd">비밀번호 찾기</button>
									</div>
								</form>
							</div>
						</div>
  					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	<script>
		$(loadedHanlder);
		function loadedHanlder() {
			$(".btn.emailSend").on("click", emailSendHandler);
			$(".btn.emailCheck").on("click", emailCheckHandler);
		}
		
		// 이메일 전송 이벤트
		function emailSendHandler() {	
			var userEmail = $("#userEmail").val();
			
			$.ajax({
				type: "post",
				url: "/shushoong/v2/verify-email",
				contentType : 'application/json;',
				data: JSON.stringify({
					'userEmail' : userEmail
				})
			})
		}
		
		// 이메일 체크 이벤트
		function emailCheckHandler() {	
			var code = $("#code").val();
			
			$.ajax({
				type: "post",
				url: "/shushoong/verification-code",
				contentType : 'application/json;',
				data: JSON.stringify({
					'code' : code
				})
			})
		}
	</script>
</body>
</html>