<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/member/joinHome.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝::회원가입</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="join-header">
						<img th:src="@{/images/logo.png}" alt="로고">
					</div>
					<div class="welcome">
						Shushoong에 오신 것을 환영합니다. 
					</div>
					<div class="customerContainer">
						<div class="customer-section">
							<img th:src="@{/images/개인 아이콘.png}" alt="개인 회원" width="50px" height="50px">
							<div class="customertitle">
								개인 회원
							</div>
							<div class="customerCatchphrase">
								여행을 가고 싶은 당신에게
							</div>
						</div>
						<div class="customer btn">
							<a th:href="@{/join/customer}">
								<div class="userJoin">개인 회원 가입하기</div>
							</a>
						</div>
				</div>
				<div class="userJoinSns">
					간편하게 SNS 가입하기
					<div class="snsImg">
						<div class="google">
							<a href=#>
								<img th:src="@{/images/구글 아이콘 사각.png}" alt="카카오 로그인" width="40px" height="40px">
							</a>
						</div>
						<div class="kakao">
							<a href=#>
								<img th:src="@{/images/카카오톡 아이콘 사각.png}" alt="카카오 로그인" width="40px" height="40px">
							</a>
						</div>
						<div class="naver">
							<a href=#>
								<img th:src="@{/images/네이버 아이콘사각.png}" alt="네이버 로그인" width="40px" height="40px">
							</a>
						</div>
					</div>
				</div>
					<div class="businessContainer">
						<div class="business-section">
							<img th:src="@{/images/회사 아이콘.png}" alt="사업자 회원" width="50px" height="50px">
							<div class="businesstitle">
								기업 회원
							</div>
							<div class="businessCatchphrase">
								좋은 여행지를 소개하고 싶은 기업에게
							</div>
						</div>
						<div class="business btn">
							<a th:href="@{/join/business}">
								<div class="businessJoin">기업 회원 가입하기</div>
							</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>