<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/member/passwordReset.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::비밀번호 변경</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="resetInfo-header">
						<img th:src="@{/images/logo.png}" alt="로고">
					</div>
					<div class="resetInfo-title">비밀번호 재설정</div>
					<div class="main">
						<div class="resetpassword-section">
							<form id="frm-post">
								<div class="resetInfo">
									<input type="password" name="userPwd" id="userPwd"
										placeholder="8-20 영,특문 비밀번호" autofocus> <input
										type="password" name="passwordChk" id="passwordChk"
										placeholder="비밀번호 확인">
								</div>
								<div class="loginBtn">
									<button type="button" class="btn savePwd">비밀번호 변경</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		var userId = "[[${userId}]]";
		$(loadedHandler);

		function loadedHandler() {
			$(".btn.savePwd").on("click", resetPwdHandler);
		}

		function resetPwdHandler() {
			var userPwd = $("#userPwd").val();
			var passwordChk = $("#passwordChk").val();
			var pwd_text = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;

			if (pwd_text.test(userPwd) == false) {
				alert("형식에 맞지 않은 비밀번호입니다.");
				$("#userPwd").val('');
				$("#passwordChk").val('');
				return false;
			} else if (userPwd != passwordChk) {
				alert("비밀번호와 비밀번호 확인란이 일치하지 않습니다. 다시 확인해 주세요.");
				$("#userPwd").val('');
				$("#passwordChk").val('');
				return false;
			} else {
				$.ajax({
					type : "post",
					url : "/shushoong/changePwd.ajax",
					data : {
						userId : userId,
						userPwd : userPwd
					},
					success : function() {
						alert("비밀번호 변경에 성공했습니다.");
						window.close();
					},
					error : function() {
						alert("비밀번호 변경에 실패했습니다.");
						$("#userPwd").val('');
						$("#passwordChk").val('');
						return false;
					}
				})
			}
		}
	</script>
</body>
</html>