<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/member/passwordReset.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>슈슝::비밀번호 변경</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="resetInfo-header">
						<img th:src="@{/images/logo.png}" alt="로고">
					</div>
					<div class="resetInfo-title">
						비밀번호 재설정
					</div>
					<div class="main">
						<div class="resetpassword-section">
							<form id="frm-post" th:action="@{/reset/password}" method="post">
								<div class="resetInfo">
									<input type="password" name="userPwd" placeholder="8-20 영,특문 비밀번호" autofocus>
									<input type="password" name="pwdCheck" placeholder="비밀번호 확인">
								</div>
								<small th:text="${exception}"></small>
								<div class="loginBtn">
									<button type="submit" class="btn login">비밀번호 변경</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>