<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/member/userJoin.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::개인회원가입</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-section">
				<section>
					<div class="userjoin-header">
						개인 회원가입
					</div>
					<div class="userjoin-section">
						<form id="frm-post" th:action="@{/join/customer}" method="post"> 
							<div class="userJoinInfo">
								<div class="idwrite">
									<label for="userId">아이디</label>
									<input type="text" id="userId" name="userId" placeholder="4-15자 영문, 숫자" class="shortinput" autofocus>
									<button type="button" class="btn idCheck">중복확인</button>
									<div class="testmessage">
										<span class="test_Idok">사용 가능한 아이디입니다.</span>
										<span class="test_IDexception2">잘못된 아이디 형식입니다.</span>
										<span class="test_IDexception">이미 존재하는 아이디입니다.</span>
									</div>
								</div>
								<div class="namewrite">
									<label for="userName">이름</label>
									<input type="text" id="userName" name="userName" placeholder="이름" class="longinput" >
									<div class="testmessage">
										<span class="test_Nameexception">사용할 수 없는 이름 입니다.</span>
									</div>
								</div>
								<div class="passwordwrite">
									<label for="userPwd">비밀번호</label>
									<input type="password" id="userPwd" name="userPwd" placeholder="8-20자의 영문, 숫자, 특수문자" class="longinput">
									<div class="testmessage">
										<span class="test_Pwdexception">사용할 수 없는 비밀번호 입니다.</span>
									</div>
								</div>
								<div class="check password">
									<label for="pwdCheck">비밀번호 확인</label>
									<input type="password" id="pwdCheck" name="pwdCheck" placeholder="비밀번호 재입력" class="longinput">
									<div class="testmessage">
										<span class="test_PwdChkexception">비밀번호가 일치하지 않습니다.</span>
									</div>
								</div>
								<div class="send num">
									<label for="userEmail">이메일</label>
									<input type="text" id="userEmail" name="userEmail" placeholder="이메일 입력" class="shortinput" >
									<button type="button" class="btn emailSend">인증번호 전송</button>
									<div class="testmessage">
										<span class="test_Emailok">인증번호가 전송되었습니다.</span>
										<span class="test_Emailexception">이메일을 다시 한 번 확인해 주세요.</span>
									</div>
								</div>
								<div class="answer email">
									<label for="code">인증번호</label>
									<input type="text" id="code" name="code" placeholder="인증번호 입력" class="shortinput" >
									<button type="button" class="btn emailCheck">인증확인</button>
									<div class="testmessage">
										<span class="test_Echkok">인증 완료되었습니다.</span>
										<span class="test_Echkexception">인증번호가 일치하지 않습니다.</span>
									</div>
								</div>
							</div>
							<div class="agreement-items">
								<div class="marketing-title">서비스 이용약관 동의</div>
								<div class="allchk">
									<input type="checkbox" id="allCheckBox" class="allCheckBox" onclick="allChecked()"><span class="on">전체 선택</span>
								</div>
								<hr class="marketingLine" />
								<div class="checkSelection">
									<div class="serviceCheck">
										<input type="checkbox" name="usingAgree" id="usingService" class="chk" onclick="chkClicked()"><span class="on">슈슝 이용약관 동의<font color="#ff0000">(필수)</font></span>
									</div>
									<div class="privacyCheck">
										<input type="checkbox" name="usingAgree" id="privacy" class="chk" onclick="chkClicked()"><span class="on">개인정보 수집 및 이용 동의<font color="#ff0000">(필수)</font></span>
									</div>
									<div class="marketingsend">
										<input type="checkbox" id="receiveMarketing" name = "receiveMarketing" class="receiveMarketing" onclick="checkMarketing()"><span class="on">슈슝 마케팅 수신 동의(선택)</span>
									</div>
									<div class="choice">
										<div class="smsMarketing">
											<input type="checkbox" name="marketing" id="snsagree"  class="marketing" value="1" onclick="chkClicked()"><span class="on">SMS 수신</span>
										</div>
										<div class="emailMarketing">
											<input type="checkbox" name="marketing" id="emailagree" class="marketing" value="1" onclick="chkClicked()"><span class="on">이메일 수신</span>
										</div>
									</div>
									<div class="text">마케팅 수신 시 다양한 혜택을 받아보실 수 있습니다.</div>
								</div>
							</div>
							<div class="userJoinBtn">
								<button type="submit" class="btn userJoin">회원가입</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	<script>
		$(loadedHanlder);
		function loadedHanlder() {
			$(".btn.emailSend").on("click", emailSendHandler);
			$(".btn.emailCheck").on("click", emailCheckHandler);
			$(".btn.idCheck").on("click", idCheckHandler);
		}
		
		// 아이디 체크 이벤트
		function idCheckHandler() {
			var userId = $('#userId').val();
			$.ajax({
				url : '/shushoong/idcheck.ajax',
				type : 'post',
				data : {userId:userId},
				success:function() {
					if(cnt == 0) {
						$('.test_Idok').css("display","inline-block");
					} else {
						$('.test_IDexception').css("display","inline-block");
	                    $('#userId').val('');
					}
				}, 
				error:function(request,status,error) {
					alert("시스템 에러. 관리자에게 문의해 주세요.");
				}
			})
		}
		
		// 이메일 전송 이벤트
		function emailSendHandler() {	
			var userEmail = $("#userEmail").val();
			
			$.ajax({
				type: "post",
				url: "/shushoong/v2/verify-email",
				contentType : 'application/json;',
				data: JSON.stringify({
					'userEmail' : userEmail
				}), 
				success:function(request,status,error) {
					$('.test_Emailok').css("display","inline-block");
				}, 
				error:function(request,status,error) {
					$('.test_Emailexception').css("display","inline-block");
				}
			})
		}
		
		// 이메일 체크 이벤트
		function emailCheckHandler() {	
			var code = $("#code").val();
			
			$.ajax({
				type: "post",
				url: "/shushoong/verification-code",
				contentType : 'application/json;',
				data: JSON.stringify({
					'code' : code
				}),
				success:function(request,status,error) {
					$('.test_Echkok').css("display","inline-block");
				}, 
				error:function(request,status,error) {
					$('.test_Echkexception').css("display","inline-block");
				}
			})
		}
		
		function allChecked(target) {
			// 전체 체크박스 버튼
			const checkbox = document.getElementById('allCheckBox');
			
			// 전체 체크박스 체크 여부
			const is_checked = checkbox.checked;
			
			// 전체 체크박스를 제외한 모든 체크박스
			if(is_checked) {
				//체크박스 전부 체크
				chkAllChecked();
			}
			
			else {
				// 체크박스 전부 해제
				chkAllUnChecked();
			}
		}
		
		// 자식 체크박스 클릭 이벤트
		function chkClicked() {
			// 체크박스 전체개수
			const allCount = document.querySelectorAll(".chk").length;
			const allMarketingCount = document.querySelectorAll(".marketing").length;
			
			// 체크된 체크박스 전체개수 
			const query = 'input[name="usingAgree"]:checked';
			const marketingquery = 'input[name="marketing"]:checked';
			
			const selectedElements = document.querySelectorAll(query);
			const selectedElementsCnt = selectedElements.length;
			
			const selectMarketingElements = document.querySelectorAll(marketingquery);
			const selectedMarketingElementsCnt = selectMarketingElements.length;
			
			// 체크박스 전체개수와 체크된 체박스 전체개수가 같으면 전체 체크박스 체크
			if(allCount == selectedElementsCnt && allMarketingCount == selectedMarketingElementsCnt) {
				document.getElementById('allCheckBox').checked = true;
				document.getElementById('receiveMarketing').checked = true;
			}
			
			else if(allMarketingCount == selectedMarketingElementsCnt) { 
				document.getElementById('receiveMarketing').checked = true;
			}
			
			// 같지 않으면 전체 해제
			else {
				document.getElementById('allCheckBox').checked = false;
				document.getElementById('receiveMarketing').checked = false;
			}
		}
		
		// 체크박스 전체 체크
		function chkAllChecked() {
			document.querySelectorAll(".chk,.receiveMarketing,.marketing").forEach(function(v,i) {
				v.checked = true;
			});
		}
		
		// 체크박스 전체 해제
		function chkAllUnChecked() {
			document.querySelectorAll(".chk,.receiveMarketing,.marketing").forEach(function(v,i) {
				v.checked = false;
			});
		}
		
		// 마케팅 allChecked 이벤트
		function checkMarketing(target) {
			// 전체 체크박스 버튼
			const checkbox = document.getElementById('receiveMarketing');
			
			// 전체 체크박스 체크 여부
			const is_checked = checkbox.checked;
			
			// 전체 체크박스를 제외한 모든 체크박스
			if(is_checked) {
				//체크박스 전부 체크
				chkAllMarketing();
			}
			
			else {
				// 체크박스 전부 해제
				chkAllUnMarketing();
			}
		}
		
		// 체크박스 전체 체크
		function chkAllMarketing() {
			document.querySelectorAll('.marketing').forEach(function(v,i) {
				v.checked = true;
			});
		}
		
		// 체크박스 전체 해제
		function chkAllUnMarketing() {
			document.querySelectorAll('.marketing').forEach(function(v,i) {
				v.checked = false;
			});
		}
	</script>
</body>
</html>