<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>왕복 오는 편 리스트</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/airline/core.css}" rel="stylesheet" />
<link th:href="@{/css/airline/airline_list.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/airline/airline_searchbar.css}" rel="stylesheet" />
</head>
<style>
div.sit > button {
	width: 178px;
	height: 32px;
}
#minus{
	width: 26px;
	height: 26px;
	padding: 0;
}
#plus{
	width: 26px;
	height: 26px;
	padding: 0;
}
div.people_lineup > div{
margin: 4px;
}
div#people_lineup_sit_accoding{
	margin-top: -24px;
	width: 220px;
	margin-left: 606px !important;
	padding: 10px;
}
#arrival_accoding{
	width: 600px;
	margin-top: -24px;
	padding: 30px;
}
.according_section_arrival_tabcontent > button {
	width: 100px;
}
.according_section_depart_tabcontent > button {
	width: 100px;
}
#date_accoding{
	margin-left: 418px;
	margin-top: -24px;
    width: 500px;
    height: auto;
    border: var(--color_blue_1), 2px, solid;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: block;
    
}
#depart_accoding{
	width: 600px;
	margin-top: -24px;
	padding: 30px;
}

#calendar > div.fc-header-toolbar.fc-toolbar{
	margin-bottom: 5px;
}
#calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button{
	width: 50px;
    height: 30px;
    font-size: 11px;
}
.fc .fc-button{
	    padding: 0;
}
#fc-dom-1{
	font-size: 13px;
}
</style>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-main">
			<div class="container">
			
			<div th:replace="~{airline/airline_searchbar :: searchbar}"></div>
			
				<div class="flex-container">
					<div class="sidebar">
						<div class="time-list">
							<form class="time-frm">
								<div>
									<p>시간대</p>
								</div>
								<!-- 출발 -->
								<div class="middle-range depart">
									<div>출발</div>
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<input type="range" id="depart-input-left" min="0" max="22"
											value="0" /> <input type="range" id="depart-input-right"
											min="2" max="23" value="23" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider depart">
											<div class="track"></div>
											<div class="range"></div>
											<div class="thumb left depart"></div>
											<div class="thumb right depart"></div>
										</div>
										<div class="resultval time">
											<div class="div1 depart" id="depart-left-timeval"></div>
											<div class="div2 depart" id="depart-right-timeval"></div>
										</div>
									</div>
								</div>
								<!-- 도착 -->
								<div class="middle-range arr">
									<div>도착</div>
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<input type="range" id="arr-input-left" min="0" max="22"
											value="0" /> <input type="range" id="arr-input-right"
											min="2" max="23" value="23" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider arr">
											<div class="track"></div>
											<div class="range"></div>
											<div class="thumb left arr"></div>
											<div class="thumb right arr"></div>
										</div>
										<div class="resultval time">
											<div class="div1 arrival" id="arrival-left-timeval"></div>
											<div class="div2 arrival" id="arrival-right-timeval"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="price-list">
							<form class="price-frm">
								<div>
									<p>가격</p>
								</div>
								<div class="middle-range price">
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<!-- <input type="range" id="price-input-left" min="0" max="22" value="0" /> -->
										<input type="range" id="price-input-right" min="0"
											th:max="${maxPrice}" th:value="${maxPrice}" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider price">
											<div class="track"></div>
											<div class="range"></div>
											<!-- <div class="thumb left price"></div> -->
											<div class="thumb right price"></div>
										</div>
										<div class="resultval time">
											<div class="div1"></div>
											<div class="div2" id="maxPrice" th:text="${maxPrice}"></div>
										</div>
									</div>
								</div>

							</form>
						</div>
						<div class="layover-list">
							<div>
								<p>직항/경유</p>
							</div>
							<div class="layover-select">
								<label>
									<button type="button" class="direct-btn zero" id="direct-btn"
										value="direct">
										<img alt="" th:src="@{/images/bluecheck.png}" id="blue-direct">
										<img alt="" th:src="@{/images/skybluecheck.png}"
											id="sky-direct">
									</button> <span>직항</span>
								</label> <label>
									<button type="button" class="direct-btn one" id="layover-btn"
										value="layover">
										<img alt="" th:src="@{/images/skybluecheck.png}"
											id="sky-layover"> <img alt=""
											th:src="@{/images/bluecheck.png}" id="blue-layover">
									</button> <span>경유</span>
								</label>
							</div>
							<form class="layover-frm" hidden>
								<input type="hidden" id="viaType" name="viaType">
							</form>

						</div>
					</div>
					<div class="airline-list">

						<div class="select-bar">
							<form action="#" id="frm-select">
								<select name="selectlist" id="showlist">
									<option value="price-cheap">가격 낮은 순</option>
									<option value="price-expensive">가격 높은 순</option>
									<option value="flytime-low">비행 짧은 순</option>
									<option value="flytime-long">비행 긴 순</option>
								</select>
							</form>
						</div>

						<div hidden th:each="air : ${selectOneAirline}">
							<div hidden="">
								<span th:text="${air.departLoc}" id="select-info-departLoc-out" name="departLoc-out"></span> 
								<span th:text="${air.arrivalLoc}" id="select-info-arrivalLoc-out" name="arrivalLoc-out"></span> 
								<span th:text="${air.airlineCode}" id="select-info-airlineCode-out" name="airlineCode-out"></span>
							</div>
						</div>

						<div class="airline-info-container">
							<form action="">
								<div th:each="air : ${selectOneAirline}" class="airline-info">
									<div class="seat-count">
										<div class="airline-flex">
											<div class="airline-logo">
												<div class="span-seat-div">
													<span class="span-seat">잔여 9석</span>
												</div>
												<img th:src="${air.airlineImg}" alt="">

											</div>
											<div class="airline-name">
												<span th:text="${air.airlineName}"></span>
											</div>
											<div class="airinfo depart-info">
												<div th:text="${air.departDate}" class="info date"></div>
												<div th:text="${air.departTime}" class="info time">이륙
													시간</div>
												<div th:text="${air.departLoc}" class="info loc"
													id="info-departLoc"></div>
											</div>
											<div class="arrow">
												<div class="via-count">
													<span th:text="${air.viaCount}">직항</span>
												</div>
												<img th:src="@{/images/airline_via.png}" alt="">
												<div th:text="${air.flightTime}" class="flytime">비행 시간</div>
												<div hidden th:text="${air.airlineCode}"></div>
											</div>
											<div class="airinfo arr-info">
												<div th:text="${air.arrivalDate}" class="info date">도착
													일자</div>
												<div th:text="${air.arrivalTime}" class="info time">착륙
													시간</div>
												<div th:text="${air.arrivalLoc}" class="info loc"
													id="info-arrivalLoc"></div>
											</div>

											<div class="nop">
												<div class="sero">
													<img th:src="@{/images/airline_line.png}" alt="">
												</div>
												<div class="ticket-adult">성인 1</div>

												<div class="airticket">
													<div class="ticket-price">
														<div th:text="${#numbers.formatInteger(air.seatPrice, 3, 'COMMA') + '원'}"></div>
													</div>
												</div>
											</div>
										</div>

										<div class="contain-select-info">
											<div class="flex-select-info">
												<div class="date-select-info">
													<div>
														<div>
															<span th:text="${air.departDate}">07월18일</span>
														</div>
														<div>
															<span th:text="${air.departTime}">14:40</span>
														</div>
													</div>
													<div>
														<span th:text="${air.flightTime}">비행 시간</span>
													</div>
													<div>
														<div>
															<span th:text="${air.arrivalDate}">07월18일</span>
														</div>
														<div>
															<span th:text="${air.departTime}">10:20</span>
														</div>
													</div>
												</div>
												<div class="loc-select-info">
													<span th:text="${air.departLoc}">출발지</span>
													<div>
														<span th:text="${air.airlineName}">항공사 명</span>
													</div>
													<div>
														<span>좌석등급 항공편명</span>
													</div>
													<span th:text="${air.arrivalLoc}">도착지</span>
												</div>
											</div>
										</div>

									</div>

								</div>
							</form>
						</div>
						<div class="select-airplane">
							<p>
								<span th:text="${airlineReturnData[0].arrivalLoc}"></span>행 항공편을
								선택하세요
							</p>
						</div>
						<div class="airlineReturn-container">
							<form id="frm-return" hidden>
								<input type="hidden" id="departLoc" name="departLocReturn"> 
								<input type="hidden" id="arrivalLoc" name="arrivalLocReturn"> 
								<input type="hidden" id="airlineCodeReturn" name="airlineCodeReturn"> 
							</form>
							<div
								th:replace="~{airline/airline_returnlist_section :: airlineList-return}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>

	<!-- --------------------JS-------------------- -->
	<script type="text/javascript">
		$(loadedHandler);
		function loadedHandler() {
			$(".according").css("display","none"); // 검색 바
			setDepartLeftValue();
			setDepartRightValue();
			setDepartInitialValues(); // 시간대 출발
			setArrInitialValues(); // 시간대 도착 
			setPriceInitialValues(); // 가격대
			btnClickHandler(); // 직항/경유
			clickedTicketInfo(); // 티켓 상세 정보
			getSelectOptionsReturn(); // 목록 정렬
			clickedReserveBtn();
			clickedReturnReserve();
		};
	</script>
	<!-- 양방향 레인지 바 -->
	<script th:src="@{/js/airline/list-arrangebar.js}"
		type="text/javascript"></script>
	<!-- 직항/경유 버튼 -->
	<script th:src="@{/js/airline/list-layover.js}" type="text/javascript"></script>
	<!-- 티켓 상세 정보 버튼 -->
	<script th:src="@{/js/airline/list-detailinfo.js}"
		type="text/javascript"></script>
	<!-- 항공 목록 정렬 -->
	<script th:src="@{/js/airline/list-select-options-return.js}"
		type="text/javascript"></script>
		<!-- 항공 예약 -->
	<script th:src="@{/js/airline/list-reserve.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/airline/airline_mainbar.js}" type="text/javascript"></script>

</body>
</html>