<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/airline/airline_main.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
	
	
	
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-">
						<!-- 여기부터 작성 -->
			<section class="search_section">
				
				<div class="search">
					<div class="tab">
						<button class="tablinks pointer" id="one_way_btn" onclick="ticketType(event,'one_way','one_way_btn')">편도</button>
						<button class="tablinks pointer" id="round_trip_btn" onclick="ticketType(event,'round_trip','round_trip_btn')">왕복</button>
					</div>
					
					<div id="one_way" class="tabcontent">
						<div class="depart_arrival_flex">
							<button id="depart" class="according_btn pointer"  onclick="accordingInfo(event,'depart_accoding')">출발지</button>
							<img class="type" alt="one_way" th:src="@{/images/one_way.png}">
							<button id="arrival" class="according_btn pointer" onclick="accordingInfo(event,'arrival_accoding')">도착지</button>
						</div>
						<div>
							<button id="one_way_date" class="according_btn pointer" onclick="accordingInfo(event,'date_accoding')">
								<div>날짜 선택</div>
								<img alt="달력 사진" th:src="@{/images/calendar.png}">
							</button>
							
						</div>
						
						<div>
							<button id=people_lineup class="according_btn pointer" onclick="accordingInfo(event,'people_lineup_sit_accoding')">
								<div id="people_lineup_text">이코노미석/성인1/소아0/유아0</div>
								<img alt="사람" th:src="@{/images/person.png}">
							</button>
							
						</div>
						
						<label for="hidden_submit" >검색</label>
					</div>
					
					<div id="round_trip" class="tabcontent">
						<div class="depart_arrival_flex">
							<button id="depart" class="according_btn pointer" onclick="accordingInfo(event,'depart_accoding')">출발지</button>
							<img class="type" alt="double_way" th:src="@{/images/double_way.png}">
							<button id="arrival" class="according_btn pointer" onclick="accordingInfo(event,'arrival_accoding')">도착지</button>
						</div>
						
						<div>
							<button id="round_trip_date" class="according_btn pointer" onclick="accordingInfo(event,'date_accoding')">
								<div>날짜 선택</div>
								<img alt="달력 사진" th:src="@{/images/calendar.png}">
							</button>
							
						</div>
						
						<div>
							<button id=people_lineup class="according_btn pointer" onclick="accordingInfo(event,'people_lineup_sit_accoding')">
								<div id="people_lineup_text">이코노미석/성인1/소아0/유아0</div>
								<img alt="사람" th:src="@{/images/person.png}">
							</button>
						</div>
						<!-- checkpoint -->
						<label for="hidden_submit" >검색</label>
					</div>
					
				</div>
			</section>
			
			<!-- checkpoint -->
			<section class="according_section">
				<div class="one_way_accoding">
					<div id="depart_accoding" class="according">
						<div class="accoding_title">출발지</div>
						<div class="depart_nation">
							<button id="btn_dep_korea" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_korea','btn_dep_korea')">한국</button>
							<button id="btn_dep_japan" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_japan','btn_dep_japan')">일본</button>
							<button id="btn_dep_china" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_china','btn_dep_china')">중국</button>
							<button id="btn_dep_USA" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_USA','btn_dep_USA')">미국</button>
							<button id="btn_dep_canada" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_canada','btn_dep_canada')">캐나다</button>
						</div>
						
						<div id="depart_korea" class="according_section_depart_tabcontent">
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="GMP" class="depart_accoding_value pointer">김포</button>
							<button id="PUS" class="depart_accoding_value pointer">김해</button>
							
						</div>
						
						<div id="depart_japan" class="according_section_depart_tabcontent">
							<button id="TYO" class="depart_accoding_value pointer">도쿄</button>
							<button id="KIX" class="depart_accoding_value pointer">오사카</button>
							<button id="FUK" class="depart_accoding_value pointer">후쿠오카</button>
							<button id="NGO" class="depart_accoding_value pointer">나고야</button>
							<button id="CTS" class="depart_accoding_value pointer">삿포로</button>
						</div>
						
						<div id="depart_china" class="according_section_depart_tabcontent">
							<button id="CAN" class="depart_accoding_value pointer">광저우</button>
							<button id="PEK" class="depart_accoding_value pointer">베이징</button>
							<button id="SHA" class="depart_accoding_value pointer">상하이</button>
						</div>
						
						<div id="depart_USA" class="according_section_depart_tabcontent">
							<button id="LAX" class="depart_accoding_value pointer">로스앤젤레스</button>
							<button id="HNL" class="depart_accoding_value pointer">호놀룰루</button>
							<button id="JFK" class="depart_accoding_value pointer">뉴욕</button>
						</div>
						
						<div id="depart_canada" class="according_section_depart_tabcontent">
							<button id="YYZ" class="depart_accoding_value pointer">토론토</button>
							<button id="YUL" class="depart_accoding_value pointer">몬트리올</button>
							<button id="YVR" class="depart_accoding_value pointer">밴쿠버</button>
							<button id="YYC" class="depart_accoding_value pointer">캘거리</button>
							<button id="YOW" class="depart_accoding_value pointer">오타와</button>
						</div>
						
					</div>
					
					<div id="arrival_accoding" class="according">
						<div class="accoding_title">도착지</div>
						<div class="arrival_nation">
							<button id="btn_ari_korea" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_korea','btn_ari_korea')">한국</button>
							<button id="btn_ari_japan" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_japan','btn_ari_japan')">일본</button>
							<button id="btn_ari_china" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_china','btn_ari_china')">중국</button>
							<button id="btn_ari_USA" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_USA','btn_ari_USA')">미국</button>
							<button id="btn_ari_canada" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_canada','btn_ari_canada')">캐나다</button>
						</div>
						<div id="arrival_korea" class="according_section_arrival_tabcontent">
							<button id="ICN" class="arrival_accoding_value pointer">인천</button>
							<button id="GMP" class="arrival_accoding_value pointer">김포</button>
							<button id="PUS" class="arrival_accoding_value pointer">김해</button>
						</div>
						
						<div id="arrival_japan" class="according_section_arrival_tabcontent">
							<button id="TYO" class="arrival_accoding_value pointer">도쿄</button>
							<button id="KIX" class="arrival_accoding_value pointer">오사카</button>
							<button id="FUK" class="arrival_accoding_value pointer">후쿠오카</button>
							<button id="NGO" class="arrival_accoding_value pointer">나고야</button>
							<button id="CTS" class="arrival_accoding_value pointer">삿포로</button>
						</div>
						
						<div id="arrival_china" class="according_section_arrival_tabcontent">
							<button id="CAN" class="arrival_accoding_value pointer">광저우</button>
							<button id="PEK" class="arrival_accoding_value pointer">베이징</button>
							<button id="SHA" class="arrival_accoding_value pointer">상하이</button>
						</div>
						
						<div id="arrival_USA" class="according_section_arrival_tabcontent">
							<button id="LAX" class="arrival_accoding_value pointer">로스앤젤레스</button>
							<button id="HNL" class="arrival_accoding_value pointer">호놀룰루</button>
							<button id="JFK" class="arrival_accoding_value pointer">뉴욕</button>
						</div>
						
						<div id="arrival_canada" class="according_section_arrival_tabcontent">
							<button id="YYZ" class="arrival_accoding_value pointer">토론토</button>
							<button id="YUL" class="arrival_accoding_value pointer">몬트리올</button>
							<button id="YVR" class="arrival_accoding_value pointer">밴쿠버</button>
							<button id="YYC" class="arrival_accoding_value pointer">캘거리</button>
							<button id="YOW" class="arrival_accoding_value pointer">오타와</button>
						</div>
					</div>
					
					<div id="date_accoding" class="according">
						<button id="depart_date">가는날</button>
						<button id="arrival_date">오는날</button>
						<button id="btn_return_depart_date">가는날 설정 변경</button>
						
						<div>
							<div id='calendar'></div>
						</div>
  
					</div>
					
					<div id="people_lineup_sit_accoding" class="according">
						<div class="people_lineup">
							<div id="adult">
								<h1>어른 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="adult_value">1</div>
								<button id="plus" class="pointer">+</button>						
							</div>
							<div id="child">
								<h1>소아 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="child_value">0</div>
								<button id="plus" class="pointer">+</button>						
							</div>
							<div id="baby">
								<h1>유아 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="baby_value">0</div>
								<button id="plus" class="pointer">+</button>						
							</div>
						</div>
						<div class="sit">
							<button id="3" class="sit_kinds pointer">이코노미석</button>
							<button id="2" class="sit_kinds pointer">비즈니스석</button>
							<button id="1" class="sit_kinds pointer">일등석</button>
						</div>	
					</div>
				</div>
				
				
				<div class="round_trip_accoding">
				
				</div>
			</section>
			
			
			
			<section class="input_values">
				<div>
					<form action="/shushoong/airline/main" method="post">
						<input type="text" name="ticketType" id="hidden_ticket_type" 	value="1" 	readonly="readonly" required="required">
						<input type="text" name="departLoc" id="hidden_depart_value" 				readonly="readonly" required="required">
						<input type="text" name="arrivalLoc" id="hidden_arrival_value"		 	readonly="readonly" required="required">
						<input type="text" name="departDate" id="hidden_depart_date" 				readonly="readonly" required="required">
						<input type="text" name="arrivalDate" id="hidden_arrival_date" 				readonly="readonly" required="required">
						<input type="text" name="adult" id="hidden_adult" 				value="1" 	readonly="readonly" required="required">
						<input type="text" name="child" id="hidden_child" 				value="0"	readonly="readonly" required="required">
						<input type="text" name="baby" id="hidden_baby" 					value="0"	readonly="readonly" required="required">
						<input type="text" name="seatGrade" id="hidden_seat_grade" 			value="3"	readonly="readonly" required="required">
						<input type="submit" id="hidden_submit">
						<!-- checkpoint -->
					</form>					
				</div>
			</section>
			
			
			<section class="recommend_section">
<!-- 				<div class="recomend_section_cheap_background"> -->
<!-- 					<div class="recommend_cheap" > -->
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진1 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원1</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진2 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~2 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원2</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진3 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~3 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원3</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
					
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진4 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~4 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원4</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진5 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~5 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원5</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="slides_wrap" id="cheap_slides_wrap"> -->
<!-- 							<div class="slides_image" id="cheap_slides_image"> -->
<!-- 								사진6 -->
<!-- 							</div> -->
<!-- 							<div class="slides_name" id="cheap_slides_name"> -->
<!-- 								맑고 투명한 물~~ 괌으로 오세요~~6 -->
<!-- 							</div> -->
<!-- 							<div class="slides_price" id="cheap_slides_price"> -->
<!-- 								성인 1인 기준 :   -->
<!-- 								<div>10,000,000원6</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
						
						
						
<!-- 						<button id="cheap_slide_prev" class="slide_prev pointer" ></button> -->
<!-- 						<button id="cheap_slide_next" class="slide_next pointer" ></button> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
<!-- 				<div class="recomend_section_fast_background"> -->
<!-- 					<div class="recommend_fast"> -->
<!-- 						<div> 저렴한곳 순서</div> -->
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							
						
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="slides_wrap" id="fast_slides_wrap"> -->
<!-- 								<div class="slides_image" id="fast_slides_image"> -->
<!-- 									사진1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_name" id="fast_slides_name"> -->
<!-- 									맑고 투명한 물~~ 괌으로 오세요~~1 -->
<!-- 								</div> -->
<!-- 								<div class="slides_price" id="fast_slides_price"> -->
<!-- 									성인 1인 기준 :   -->
<!-- 									<div>10,000,000원1</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							
						
						
						
						
						
<!-- 						<button id="fast_slide_prev" class="slide_prev pointer" onclick="fastSlidePlusSlides(-1)"></button> -->
<!-- 						<button id="fast_slide_next" class="slide_next pointer" onclick="fastSlidePlusSlides(1)"></button> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
				
				<div class="wrap-hot-hotel-list">
				<div class="hot-hotel-title">가장 많이 찾은 숙소</div>
				<div class="hot-hotel-list">
					<div class="list-wrapper">
						<div class="hot-hotel"><img th:src="@{images/instancefolder/1696570529586.jpg}" alt="a"/></div>
		                <div class="hot-hotel"><img th:src="@{images/instancefolder/20230713_201311.jpg}" alt="b"/></div>
		                <div class="hot-hotel"><img th:src="@{images/instancefolder/20231010_171349.jpg}" alt="c"/></div>
		                <div class="hot-hotel"><img th:src="@{images/instancefolder/hu_1431618317_6832524860.jpg}" alt="d"/></div>
						<div class="hot-hotel"><img th:src="@{images/instancefolder/ej-chen-WUI6pTbPLdM-unsplash.jpg}" alt="e"/></div>
		                <div class="hot-hotel"><img th:src="@{images/instancefolder/20230713_201311.jpg}" alt="f"/></div>
		                <div class="hot-hotel"><img th:src="@{images/instancefolder/20231010_171349.jpg}" alt="g"/></div>
					</div>
				</div>
				<button type="button" class="left btn2">&lt;</button>
				<button type="button" class="right btn2">&gt;</button>
			</div>
				
			</section>
			
			
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	
			<!-- 자바스크립트 -->
		
	<!-- airline_main 의 bar에 관한 js -->		
	<script th:src="@{/js/airline/airline_mainbar.js}" type="text/javascript"></script>
	
			
	<script>
	function slide(index) {
		document.querySelector('.list-wrapper').style.transform = `translateX(-${index * 330}px)`;
		currentindex = index;
	}
	
	//캐러셀 버튼 클릭
	function leftClickHandler() {
		if(currentindex > 0) {
			currentindex = currentindex-1;
			slide(currentindex);
		};
	}
	
	function rightClickHandler() {
		if(currentindex < $('.list-wrapper').children().length-3) {
			currentindex = currentindex+1;
			slide(currentindex);
		}
	}
	
	
	
	
// 	let currentIndex = 0;					//캐러셀 index
	
	$(loadedHandler)
	function loadedHandler(){
		$(".according").css("display","none");
		
		let currentIndex = 0;	//캐러셀 index
		
		/* $(".cheap_slide_prev").on("click",leftClickHandler);
		$(".cheap_slide_prev").on("click",rightClickHandler);
		slide(0); */
	}
	/* //캐러셀
	function slide(index) {
		document.querySelector('.slides_wrap').style.transform = `translateX(-${index * 330}px)`;
		currentindex = index;
	}
	
	//캐러셀 버튼 클릭
	function leftClickHandler() {
		if(currentindex > 0) {
			currentindex = currentindex-1;
			slide(currentindex);
		};
	}
	
	function rightClickHandler() {
		if(currentindex < $('.slides_wrap').children().length-3) {
			currentindex = currentindex+1;
			slide(currentindex);
		}
	}	 */
		
	
	
	
	
				/*  Slide 기능 넣는 섹션 */
	/* 
	let cheapSlideIndex = 1;
	cheapShowSlides(cheapSlideIndex);		
	
	function cheapSlidePlusSlides(n) {
		cheapShowSlides(cheapSlideIndex += n);
	}
	
	function cheapSlideCurrentSlide(n) {
		cheapShowSlides(cheapSlideIndex = n);
	}

	function cheapShowSlides(n) {
		
	  let i;
	  let slides = document.getElementsByClassName("cheap_slides");
	  if (n == slides.length) {
		  document.getElementById("cheap_slide_next").style.display="none";
		  document.getElementById("cheap_slide_prev").style.display="block";
		  }    
	  if (n == 1) {
		  document.getElementById("cheap_slide_prev").style.display="none";
		  document.getElementById("cheap_slide_next").style.display="block";
		  }
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none";  
	  }
	  slides[cheapSlideIndex-1].style.display = "flex";  
	}
	
	
	
	
	
	
	let fastSlideIndex = 1;
	fastShowSlides(fastSlideIndex);		
	
	function fastSlidePlusSlides(n) {
		fastShowSlides(fastSlideIndex += n);
	}
	
	function fastSlideCurrentSlide(n) {
		fastShowSlides(fastSlideIndex = n);
	}

	function fastShowSlides(n) {
		
	  let i;
	  let slides = document.getElementsByClassName("fast_slides");
	  
	  if (n == slides.length) {
		  document.getElementById("fast_slide_next").style.display="none";
		  document.getElementById("fast_slide_prev").style.display="block";
		  }    
	  if (n == 1) {
		  document.getElementById("fast_slide_prev").style.display="none";
		  document.getElementById("fast_slide_next").style.display="block";
		  }
	  for (i = 0; i < slides.length; i++) {
	  		slides[i].style.display = "none";  
	  }
	  slides[fastSlideIndex-1].style.display = "flex";  
	}
	
	 */
	
    
	
	
	</script>
	
</body>
</html>