<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/airline/airline_pay.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-">
			<!-- 여기부터 작성 -->
			
			
				<section class="reserve_process">
					<div>
						<div>1</div>
						<div>2</div>
						<div>3</div>
					</div>
					<div>
						<div>예약하기</div>
						<div>결제</div>
						<div>예약완료</div>
					</div>
				</section>
				<form action="" method="post">
					<section class="reserver_info">
						<div>
							<div>예약자 정보</div>
							<div>전자 항공권(e-ticket)을 받으실 연락처 정보를 입력하세요.</div>
						</div>
						<div class="reserver_info_flex">
							<div>
								<div>이름</div>
								<div><input type="text" name="reserver_name" placeholder="이름을 입력해 주세요"></div>
							</div>
							<div>
								<div>휴대전화번호</div>
								<div>
									<select name="local_num">
										<option selected value="0">선택하기</option>
							            <option value="010">010</option>
							            <option value="02">02</option>
							            <option value="051">051</option>
							            <option value="052">052</option>
									</select>
									-
									<input type="text" name="reserver_middle_phone_number" placeholder="중간 번호">
									-
									<input type="text" name="reserver_last_phone_number" placeholder="끝 번호">
									
								</div>
							</div>
							<div>
								<div>이메일 주소</div>
								<div><input type="text" name="reserver_email" placeholder="이메일 주소를 입력해 주세요"></div>
							</div>
						</div>
					</section>
					
					<section class="into_submit">
						<div class="adult_list_wrap"></div>
						<div class="child_list_wrap"></div>
						<div class="baby_list_wrap"></div>
						<input class="info_submit_btn" type="submit" value="결제 페이지로 이동">
					</section>
				</form>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	
	
	
	
	<!-- airline_pay info 에 관한 js -->		
	<script th:src="@{/js/airline/pay_info.js}" type="text/javascript"></script>
	
	<script>
			
		$(loadedHandler)
		function loadedHandler(){
			adultNum();
			childNum();
			babyNum();
		}
		
		
	
	</script>
	
</body>
</html>