<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>항공 목록 조회</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/airline/airline_searchbar.css}" rel="stylesheet" />
<link th:href="@{/css/airline/core.css}" rel="stylesheet" />
<link th:href="@{/css/airline/airline_list.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/airline/airline_searchbar.css}" rel="stylesheet" />
</head>
<style>
div.sit > button {
	width: 178px;
	height: 32px;
}
#minus{
	width: 26px;
	height: 26px;
	padding: 0;
}
#plus{
	width: 26px;
	height: 26px;
	padding: 0;
}
div.people_lineup > div{
margin: 4px;
}
div#people_lineup_sit_accoding{
	margin-top: -24px;
	width: 220px;
	margin-left: 606px !important;
	padding: 10px;
}
#arrival_accoding{
	width: 600px;
	margin-top: -24px;
	padding: 30px;
}
.according_section_arrival_tabcontent > button {
	width: 100px;
}
.according_section_depart_tabcontent > button {
	width: 100px;
}
#date_accoding{
	margin-left: 418px;
	margin-top: -24px;
    width: 500px;
    height: auto;
    border: var(--color_blue_1), 2px, solid;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: block;
    
}
#depart_accoding{
	width: 600px;
	margin-top: -24px;
	padding: 30px;
}

#calendar > div.fc-header-toolbar.fc-toolbar{
	margin-bottom: 5px;
}
#calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button{
	width: 50px;
    height: 30px;
    font-size: 11px;
}
.fc .fc-button{
	    padding: 0;
}
#fc-dom-1{
	font-size: 13px;
}
</style>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-main">
			<div class="container">
				<div th:replace="~{airline/airline_searchbar :: searchbar}"></div>
				<div hidden>
					<form action="/shushoong/airline/main" method="post">
						<input type="text" name="ticketType" id="hidden_ticket_type" 	value="1" 	readonly="readonly" required="required">
						<input type="text" name="departLoc" id="hidden_depart_value" 				readonly="readonly" required="required">
						<input type="text" name="arrivalLoc" id="hidden_arrival_value"		 	readonly="readonly" required="required">
						<input type="text" name="departDate" id="hidden_depart_date" 				readonly="readonly" required="required">
						<input type="text" name="arrivalDate" id="hidden_arrival_date" 				readonly="readonly" required="required">
						<input type="text" name="adult" id="hidden_adult" 				value="1" 	readonly="readonly" required="required">
						<input type="text" name="child" id="hidden_child" 				value="0"	readonly="readonly" required="required">
						<input type="text" name="baby" id="hidden_baby" 					value="0"	readonly="readonly" required="required">
						<input type="text" name="seatGrade" id="hidden_seat_grade" 			value="3"	readonly="readonly" required="required">
						<input type="submit" id="hidden_submit">
						<!-- checkpoint -->
					</form>					
				</div>
				
				<div class="flex-container">
					<div class="sidebar">
						<div class="time-list">
							<form class="time-frm">
								<div>
									<p>시간대</p>
								</div>
								<!-- 출발 -->
								<div class="middle-range depart">
									<div>출발</div>
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<input type="range" id="depart-input-left" min="0" max="22"
											value="0" /> <input type="range" id="depart-input-right"
											min="2" max="23" value="23" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider depart">
											<div class="track"></div>
											<div class="range"></div>
											<div class="thumb left depart"></div>
											<div class="thumb right depart"></div>
										</div>
										<div class="resultval time">
											<div class="div1 depart" id="depart-left-timeval"></div>
											<div class="div2 depart" id="depart-right-timeval"></div>
										</div>
									</div>
								</div>
								<!-- 도착 -->
								<div class="middle-range arr">
									<div>도착</div>
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<input type="range" id="arr-input-left" min="0" max="22"
											value="0" /> <input type="range" id="arr-input-right"
											min="2" max="23" value="23" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider arr">
											<div class="track"></div>
											<div class="range"></div>
											<div class="thumb left arr"></div>
											<div class="thumb right arr"></div>
										</div>
										<div class="resultval time">
											<div class="div1 arrival" id="arrival-left-timeval"></div>
											<div class="div2 arrival" id="arrival-right-timeval"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="price-list">
							<form class="price-frm">
								<div>
									<p>가격</p>
								</div>
								<div class="middle-range price">
									<div class="multi-range-slider">
										<!-- 진짜 슬라이더 -->
										<!-- <input type="range" id="price-input-left" min="0" max="22" value="0" /> -->
										<input type="range" id="price-input-right" min="0"
											th:max="${maxPrice}" th:value="${maxPrice}" />

										<!-- 커스텀 슬라이더 -->
										<div class="slider price">
											<div class="track"></div>
											<div class="range"></div>
											<!-- <div class="thumb left price"></div> -->
											<div class="thumb right price"></div>
										</div>
										<div class="resultval price">
											<div th:if="${ticketType != 1}" class="div2" id="maxPrice" th:text="${maxPrice}"></div>
											<div th:if="${ticketType == 1}" class="div2" id="maxPrice" th:text="${maxPrice} / 2"></div>
										</div>
									</div>
								</div>

							</form>
						</div>
						<div class="layover-list">
							<div>
								<p>직항/경유</p>
							</div>
							<div class="layover-select">
								<label>
									<button type="button" class="direct-btn zero" id="direct-btn"
										value="direct">
										<img alt="" th:src="@{/images/bluecheck.png}" id="blue-direct">
										<img alt="" th:src="@{/images/skybluecheck.png}"
											id="sky-direct">
									</button> <span>직항</span>
								</label> <label>
									<button type="button" class="direct-btn one" id="layover-btn"
										value="layover">
										<img alt="" th:src="@{/images/skybluecheck.png}"
											id="sky-layover"> <img alt=""
											th:src="@{/images/bluecheck.png}" id="blue-layover">
									</button> <span>경유</span>
								</label>
							</div>
							<form class="layover-frm" hidden>
								<input type="hidden" id="viaType" name="viaType">
							</form>

						</div>
					</div>
					<div class="airline-list">

						<div class="select-bar">
							<form action="#" id="frm-select">
								<select name="selectlist" id="showlist">
									<option value="price-cheap">가격 낮은 순</option>
									<option value="price-expensive">가격 높은 순</option>
									<option value="flytime-low">비행 짧은 순</option>
									<option value="flytime-long">비행 긴 순</option>
								</select>
							</form>
						</div>
						<div class="select-airplane">
							<p>
								<!-- <span th:text="${airlineData[0].arrivalLoc}"></span>행 항공편을 선택하세요 -->
							</p>
						</div>
						<div hidden th:each="air : ${airlineData}">
							<div hidden="">
								<span th:text="${air.departLoc}" id="select-info-departLoc" name="departLoc"></span> 
								<span th:text="${air.arrivalLoc}" id="select-info-arrivalLoc" name="arrivalLoc"></span>
								<span th:text="${air.departDate}" id="select-info-arrivalLoc" name="departDate"></span>
								<span th:text="${air.arrivalDate}" id="select-info-arrivalLoc" name="arrivalDate"></span>
							</div>
						</div>
						<div class="airline-info-container">
							<form id="frm-airinfo" hidden>
								<input type="hidden" id="adult" name="adult" th:value="${adult}"> 
								<input type="hidden" id="child" name="child" th:value="${child}"> 
								<input type="hidden" id="baby" name="baby" th:value="${baby}">
								<input type="hidden" id="ticketType" name="ticketType" th:value="${ticketType}">
								<input type="hidden" id="departLoc" name="departLoc"> 
								<input type="hidden" id="arrivalLoc" name="arrivalLoc"> 
								<input type="hidden" id="departDate" name="departDate"> 
								<input type="hidden" id="arrivalDate" name="arrivalDate"> 
								<input type="hidden" id="airlineCode" name="airlineCode">
								
								<input type="hidden" id="departLocReturn" name="departLocReturn"> 
								<input type="hidden" id="arrivalLocReturn" name="arrivalLocReturn"> 
								<input type="hidden" id="departDateReturn" name="departDateReturn"> 
								<input type="hidden" id="arrivalDateReturn" name="arrivalDateReturn">
								<input type="hidden" id="airlineCodeReturn" name="airlineCodeReturn"> 
							</form>
							<div th:replace="~{airline/airline_list_section :: airlineList}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>

	<!-- --------------------JS-------------------- -->
	<script type="text/javascript">
		$(loadedHandler);
		function loadedHandler() {
			$(".according").css("display","none"); // 검색 바
			setDepartLeftValue();
			setDepartRightValue();
			setDepartInitialValues(); // 시간대 출발
			setArrInitialValues(); // 시간대 도착 
			setPriceInitialValues(); // 가격대
			btnClickHandler(); // 직항/경유
			clickedTicketInfo(); // 티켓 상세 정보
			clickedShowReturnBtn(); // 왕복 항공편
			getSelectOptions(); // 목록 정렬 
			// getSelectOptionsReturn(); 
			clickedReserveBtn(); // 예약페이지 이동
		};
	</script>
	<!-- 양방향 레인지 바 -->
	<script th:src="@{/js/airline/list-arrangebar.js}"
		type="text/javascript"></script>
	<!-- 직항/경유 버튼 -->
	<script th:src="@{/js/airline/list-layover.js}" type="text/javascript"></script>
	<!-- 티켓 상세 정보 버튼 -->
	<script th:src="@{/js/airline/list-detailinfo.js}"
		type="text/javascript"></script>
	<!-- 왕복 항공편 -->
	<script th:src="@{/js/airline/list-return.js}" type="text/javascript"></script>
	<!-- 목록 정렬 -->
	<script th:src="@{/js/airline/list-select-options.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/airline/list-select-options-return.js}" type="text/javascript"></script>
	<!-- 예약페이지로 이동 -->
	<script th:src="@{/js/airline/list-reserve.js}" type="text/javascript"></script>
	<!-- 검색 바 -->
	<script th:src="@{/js/airline/airline_mainbar.js}" type="text/javascript"></script>

</body>
</html>