<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/airline/airline_pay_success.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-">
			<!-- 여기부터 작성 -->
			
				
			
				<section class="reserve_process">
						<div>
							<div>1</div>
							<div>2</div>
							<div>3</div>
						</div>
						<div>
							<div>예약하기</div>
							<div>결제</div>
							<div style="font-family: 'SOYOMapleBoldTTF';">예약완료</div>
						</div>
				</section>
				<section class="depart_info">
					<div class="reserve_info">
						<div class="reserve_head">가는 편</div>
						<div class="reserve_wrap">
							<div class="reserve_lineup" th:text="' 성인 : '+${session.adultS}+' 소아 : '+${session.childS}+' 유아 : '+${session.babyS}">예약번호 성인 : \${adult}, 소아 : \${child}, 유아 : "\${baby}</div>
							<div class="reserve_code" th:text="'예약번호 : ('+${airlineReserveCode}+')'" >예약번호 (\${reserveCode})</div>
							<div class="reserve_info_wrap">
								<div>
									<img alt="이미지" th:src="@{/images/airline_logo.png}">
									<div class="airline_name" th:text="${session.airlineName}">${airlineName}</div>
									<div class="airline_date" th:text="${session.departDate}+' 출발'">\${departDate(weekdays)}출발</div>
								</div>
								<div>
									<div class="departLoc" th:text="${session.departLoc}">\${departLoc}</div>
									<div class="departTime" th:text="${session.departTime}">\${departTime}</div>
									<img alt="비행기" th:src="@{/images/airline_via.png}">
									<div class="arrivalTime" th:text="${session.arrivalTime}">\${arrivalTime}</div>
									<div class="arrivalLoc" th:text="${session.arrivalLoc}">\${arrivalLoc}</div>
								</div>
								<div>
									<div class="sitType" th:if="${session.seatGrade}==3" th:text="이코노미석">${sitType}</div>
									<div class="sitType" th:if="${session.seatGrade}==2" th:text="비즈니스석">${sitType}</div>
									<div class="sitType" th:if="${session.seatGrade}==1" th:text="일등석">${sitType}</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				<!-- th:if="${ticketType} == 2" -->
				<section class="arrival_info" th:if="${session.ticketTypeS}==2">
					<div class="reserve_info">
						<div class="reserve_head">오는 편</div>
						<div class="reserve_wrap">
							<div class="reserve_lineup" th:text="' 성인 : '+${session.adultS}+' 소아 : '+${session.childS}+' 유아 : '+${session.babyS}">예약번호 성인 : \${adult}, 소아 : \${child}, 유아 : "\${baby}</div>
							<div class="reserve_code" th:text="'예약번호 : ('+${airlineReserveCode}+')'" >예약번호 (\${reserveCode})</div>
							<div class="reserve_info_wrap">
								<div>
									<img alt="이미지" th:src="@{/images/airline_logo.png}">
									<div class="airline_name" th:text="${session.airlineName}">${airlineName}</div>
									<div class="airline_date" th:text="${session.departDateSR}+' 출발'">\${departDate(weekdays)}출발</div>
								</div>
								<div>
									<div class="departLoc" th:text="${session.departLocSR}">\${departLoc}</div>
									<div class="departTime"th:text="${session.departTimeSR}">\${departTime}</div>
									<img alt="비행기" th:src="@{/images/airline_via.png}">
									<div class="arrivalTime" th:text="${session.arrivalTimeSR}">\${arrivalTime}</div>
									<div class="arrivalLoc" th:text="${session.arrivalLocSR}">\${arrivalLoc}</div>
								</div>
								<div>
									<div class="sitType" th:if="${session.seatGrade}==3" th:text="이코노미석">${sitType}</div>
									<div class="sitType" th:if="${session.seatGrade}==2" th:text="비즈니스석">${sitType}</div>
									<div class="sitType" th:if="${session.seatGrade}==1" th:text="일등석">${sitType}</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				
				
<!-- 				<section class="allPrice"> -->
<!-- 					<div>총 요금</div> -->
<!-- 					<div>\${price}+\${price}</div> -->
<!-- 				</section> -->
			
			
			
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>




				