<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="airline-info-box" th:fragment="airlineList">
	<!-- <input type="hidden" id="update-maxprice" th:value="${maxPrice}"> -->
	<div th:each="air : ${airlineData}" class="airline-info">
		<div hidden="">
			<!-- <span th:text="${air.departLoc}" class="select-info-departLoc" name="departLoc"></span> 
			<span th:text="${air.arrivalLoc}" class="select-info-arrivalLoc" name="arrivalLoc"></span> --> 
			<span th:text="${air.airlineCode}" class="select-info-airlineCode" name="airlineCode"></span>
			<span th:text="${air.flightNo}" class="select-info-flightNo" name="flightNo"></span>
			<!-- <span th:text="${air.seatPrice}" class="select-info-seatPrice" name="seatPrice"></span> -->
		</div>
		
		<div class="seat-count">
			<div class="airline-flex">
				<div class="airline-logo">
					<div class="span-seat-div">
						<span class="span-seat">잔여 9석</span>
					</div>
					<img th:src="${air.airlineImg}" alt="">

				</div>
				<div class="airline-name">
					<span th:text="${air.airlineName}"></span>
				</div>
				<div class="airinfo depart-info">
					<div th:text="${air.departDate}" class="info date"></div>
					<div th:text="${air.departTime}" class="info time">이륙 시간</div>
					<div th:text="${air.departLoc}" class="info loc depart" id="info-departLoc" th:value="${air.departLoc}"></div>
				</div>
				<div class="arrow">
					<div class="via-count">
						<span th:text="${air.viaCount}">직항</span>
					</div>
					<img th:src="@{/images/airline_via.png}" alt="">
					<div th:text="${air.flightTime}" class="flytime">비행 시간</div>
					<div hidden th:text="${air.flightNo}" id="info-airlineCode" class=""></div>
				</div>
				<div class="airinfo arr-info">
					<div th:text="${air.arrivalDate}" class="info date">도착 일자</div>
					<div th:text="${air.arrivalTime}" class="info time">착륙 시간</div>
					<div th:text="${air.arrivalLoc}" class="info loc arrival" id="info-arrivalLoc"></div>
				</div>

				<div class="nop">
					<div class="sero">
						<img th:src="@{/images/airline_line.png}" alt="">
					</div>
					<div class="ticket-adult">성인 1</div>

					<div class="airticket">
						<div class="ticket-price">
							<span class="seat-price"
								th:text="${#numbers.formatInteger(air.seatPrice, 3, 'COMMA') + '원'}"></span>
						</div>
						<div class="ticket-btn">
							<button class="ticketinfo-btn" type="button">
								<img class="price-img-btn" alt=""
									th:src='@{/images/skyblue_right.png}'>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div hidden="" class="contain-select-info">
				<div class="flex-select-info">
					<div class="date-select-info">
						<div>
							<div>
								<span class="detail-date depart" th:text="${air.departDate}">07월18일</span>
							</div>
							<div>
								<span th:text="${air.departTime}">14:40</span>
							</div>
						</div>
						<div>
							<span class="detail-flightTime" th:text="${air.flightTime}">비행 시간</span>
						</div>
						<div>
							<div>
								<span class="detail-date arrival" th:text="${air.arrivalDate}">07월18일</span>
							</div>
							<div>
								<span th:text="${air.departTime}">10:20</span>
							</div>
						</div>
					</div>
					<div class="loc-select-info">
						<span class="detail-loc depart" th:text="${air.departLoc}">출발지</span>
						<div>
							<span th:text="${air.airlineName}">항공사 명</span>
						</div>
						<div>
							<span id="select-seatGrade" th:text="${air.seatGrade}"></span> &nbsp <span th:text="${air.airlineCode}" ></span>
						</div>
						<span class="detail-loc arrival" th:text="${air.arrivalLoc}">도착지</span>
					</div>

					<div class="btn-select-info" th:if="${ticketType} != 1">
						<button class="show-comeback-btn" id="show-comeback-btn"
							type="button">선택하기</button>
					</div>

					<div class="btn-select-info" th:if="${ticketType} == 1">
						<button class="reserve-btn" id="reserve-btn" type="button"
							onclick="">결제하기</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		clickedTicketInfo();
		clickedShowReturnBtn();
	});
</script>
</html>