@charset "UTF-8";

.wrap-body {
    /* 중앙 배치 */
    width: 1440px; margin: 0 auto;

    /* float - 부모 height를 위해  */
    overflow: hidden;
}

.wrap-body > .wrap-section{
    /* float 왼쪽 배치 */
	width : 960px; 
    float: left;
    box-sizing: border-box;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}

section .image-section {
	display: flex;
	justify-content: center;
}

section .section-header {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 50px 0;
}

section .section-image {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 100px;
}

section .editInfo, .reservationHotel {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

section .tail {
	margin-top: 10px;
}

section .notice-title, .onlineQnAList-title {
	font-size: 17px;
	font-weight: bold;
	
	margin-bottom: 20px;
}

section .notice-grid {
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
	background-color:#BCEFFF;
	
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    text-align: center;
}

section .notice-content {
	height: 40px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #006AFF;
	margin-bottom: 10px;
	
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    text-align: center;
}

section .warning {
	font-size:10px;
	font-weight: bold;
	color:#979797;
	
	margin-bottom: 10px;
}

section .viewAllList {
	display: flex;
	justify-content: right;
	
	margin-bottom: 100px;
}

section .onlineQnAList{ 
	margin-bottom: 100px;
}

section .viewNoticeList, .viewQnAList {
	border: none;
	border-radius: 20px;
	width: 90px;
	height: 40px;
	background-color: #006AFF;
	cursor: pointer;
	
	color:white;
	font-size: 13px;
	font-weight: bold;
	font-family: SOYOMapleRegularTTF;
}

section .QnA-grid {
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
	background-color:#BCEFFF;
	
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 2fr;
    align-items: center;
    text-align: center;
}

section .QnA-content {
	height: 40px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #006AFF;
	margin-bottom: 10px;
	
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 2fr;
    align-items: center;
    text-align: center;
}