<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.mypage.customer.model.repository.MypageCustomerRepository">
	<select id="selectOne" parameterType="string" resultType="MemberDto">
		SELECT USER_ID,USER_NAME,USER_EMAIL, EMAIL_RECEIVE, MSG_RECEIVE FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	
	<select id="pwdChecking" resultType="String">
		SELECT USER_PWD FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	
	<update id="resetInfo">
		UPDATE MEMBER SET USER_PWD=#{userPwd}, EMAIL_RECEIVE=#{emailReceive}, MSG_RECEIVE=#{msgReceive}  WHERE USER_ID=#{userId}
	</update>
	
	<!-- 호텔 예약내역 리스트 -->
	<select id="selectReservedHotelList" parameterType="String" resultType="hashmap">
	    select hotel_reserve_code, hotel_name, reserve_check_in, reserve_check_out, room_att_desc, room_cat_desc from hotel_reserve
        	join hotel using(hotel_code)
        	join hotel_room_att using(room_att)
        	join hotel_room_cat using(room_cat)
        where user_id = #{userId}
	</select>
	
	<!-- 호텔 예약 상세정보 -->
	<select id="selectOneReservedHotelList" parameterType="hashmap" resultType="hashmap">
   		select hr.hotel_reserve_code, hotel_name, reserve_check_in, reserve_check_out, room_att_desc, room_cat_desc, 
   				residence_num, p.pay_price as hotel_price, residence_name_ko, request_sum, approve_no
		from hotel_reserve hr
		    join hotel h on hr.hotel_code = h.hotel_code 
		    join hotel_room_att hra on hr.room_att = hra.room_att
		    join hotel_room_cat hrc on hr.room_cat = hrc.room_cat
		    join hotel_room hm on hr.room_cap = hm.room_cap
    		join pay p on hr.hotel_reserve_code = p.hotel_reserve_code
		where user_id = #{userId} and hr.hotel_reserve_code = #{hotelReserveCode} and hm.room_cat = hr.room_cat and hm.hotel_code = hr.hotel_code and hm.room_att = hr.room_att
	</select>
	
	<!-- 호텔 예약 취소 -->
	<update id="cancelHotelReserve" parameterType="String" >
		update pay set pay_status = 'cancel' where hotel_reserve_code = #{paymentId}
	</update>
	
	<select id="selectListInterestedHotel" resultType="HotelDtoRes">
		
		SELECT x.hotel_code,x.hotel_name , z.hotel_picture as hotel_pic
			FROM hotel x
			    join hotel_like y ON x.hotel_code=y.hotel_code 
			    join (select * from (SELECT hotel_pic.*,ROW_NUMBER() OVER(PARTITION BY hotel_pic.hotel_code ORDER BY hotel_pic.hotel_picture DESC) rn from hotel_pic) where rn = 1) z on x.hotel_code = z.hotel_code 
			        WHERE y.user_id = #{userId}
	</select>
	
	<delete id="deleteHotelLiked">
		delete from HOTEL_LIKE where hotel_code = #{hotelCode}
	</delete>
</mapper>