<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.mypage.admin.model.repository.MypageAdminRepository">
	<!-- 로그인 -->
	<select id="login" parameterType="string" resultType="MemberDto">
		SELECT USER_ID, USER_NAME, USER_PWD, USER_EMAIL, USER_GRADE, USER_STATUS, JOIN_DATE, EMAIL_RECEIVE, MSG_RECEIVE, LATEST_LOGIN FROM MEMBER  WHERE USER_ID=#{userId} 
	</select>

<!-- 관리자 홈 -->	
	<!-- 최근 3개의 공지사항 출력 -->
	<select id="selectLatestNotice" resultType="hashmap">
		select notice_id, notice_title, notice_content, notice_time, user_id from (
			select * 
			from notice_board order by notice_time desc) where rownum &lt; 4
	</select>
	
	<!-- 최근 3개의 문의사항 출력 -->
	<select id="selectLatestFaq" resultType="hashmap">
		select FAQ_ID, ASK_TITLE, QUEST_CAT_DESC, USER_ID, ASK_DATE, ANS_TIME from (
			select faq_id, quest_cat, user_id, ask_title, ask_content, ask_date, ans_content, ans_time from service_center
            join faq_cat using(faq_id) order by ask_date desc)
            join faq_cat_desc using(quest_cat)
			where rownum &lt;= 3
	</select>
	
<!-- 일반 회원 관리 -->
	<!-- 유저 아이디 키워드로 검색 시 조건에 맞는 회원 리스트 출력 -->
	<select id="selectAllList" parameterType="string" resultType="String">
		SELECT USER_ID FROM MEMBER WHERE NOT USER_GRADE='ADMIN'
		<if test="keyword != null and keyword !='' ">
		 	<bind name="keyword3" value="'%' + keyword + '%'" />
		 		AND USER_ID LIKE #{keyword3}
		 </if>
	</select>
	
	<!-- 회원 한명의 세부 정보 조회 -->
	<select id="selectOne" parameterType="string" resultType="MemberDto">
		SELECT USER_ID, USER_NAME, USER_EMAIL, to_char(JOIN_DATE) as JOIN_DATE, USER_STATUS FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	
	<!-- 회원의 결제 내역 조회 -->
	<!-- 1. 호텔 -->
	<select id="selectHotelPayCount" parameterType="string" resultType="hashmap">
		select user_name, hotel_reserve_code, residence_phone from member 
		join HOTEL_RESERVE using(user_id) where user_id = #{id}
	</select>
	
	<!-- 2. 항공 -->
	<select id="selectFlyPayCount" parameterType="string" resultType="hashmap">
		select user_name, airline_reserve_code, reserve_phone from member 
		join AIRLINE_RESERVE_INFO using(user_id) where user_id = #{id}
	</select>
	
	<!-- 회원의 문의 건수 조회 -->
	<select id="selectFAQCount" parameterType="string" resultType="String">
		select count(*) from SERVICE_CENTER where user_id = #{id}
	</select>
	
	<!-- 회원 정지 -->
	<update id="updateLockAccount" parameterType="string">
		update member set user_status = '0' where user_id = #{id}
	</update>

	<!-- 회원 정지 해제 -->
	<update id="updateUnlockAccount" parameterType="string">
		update member set user_status = '1' where user_id = #{id}
	</update>
	
	<!-- 해당 유저의 문의 내역 최신 3건 조회 -->
	<select id="selectOneLatestFaq" parameterType="String" resultType="hashmap">
		select FAQ_ID, ASK_TITLE, QUEST_CAT_DESC, USER_ID, ASK_DATE, ANS_TIME from (
			select faq_id, quest_cat, user_id, ask_title, ask_content, ask_date, ans_content, ans_time from service_center
            join faq_cat using(faq_id) order by ask_date desc)
            join faq_cat_desc using(quest_cat)
			where rownum &lt;= 3 and user_id = #{id}
	</select>

	<!-- 1년 이상 로그인 안한 유저 조회 -->
	<select id="selectDormantAccount" parameterType="string" resultType="string">
		select user_id from member where NOT USER_GRADE='ADMIN' and latest_login &lt; add_months(sysdate, -12)
		<if test="keyword != null and keyword !='' ">
		 	<bind name="keyword2" value="'%' + keyword + '%'" />
		 		AND USER_ID LIKE #{keyword2}
		 </if>
	</select>
	
	<!-- 장기 미사용 유저 전부 정지 -->
	<update id="updateAllLock" parameterType="String">
		update member set user_status = '0' where NOT USER_GRADE='ADMIN' and latest_login &lt; add_months(sysdate, -12)
		<if test="keyword != null and keyword !='' ">
		 	<bind name="keyword2" value="'%' + keyword + '%'" />
		 		AND USER_ID LIKE #{keyword2}
		 </if>
	</update>
	
	<!-- 장기 미사용 회원 마지막 로그인으로부터 경과 시간 조회 -->
	<select id="selectUseTerm" parameterType="string" resultType="int">
		select to_number(trunc(sysdate - latest_login)) as term from member WHERE NOT USER_GRADE='ADMIN' and USER_ID=#{userId}
	</select>


<!-- 사업장 관리 -->
	<!-- 관리자의 사업장 검색 -->
	<select id="selectProduct" parameterType="string" resultType="ProductDtoRes">
		<bind name="keyword4" value="'%' + keyword + '%'" />
		select hotel_code, h.hotel_name hotel_name, hotel_eng, hotel_address, hotel_call, hotel_check_in, hotel_check_out,
			hotel_policy, hotel_intro, hotel_pcount, hotel_loc_cat, business_num, hotel_safety, user_id
			from hotel h join business_member bm using (business_num)
			where h.hotel_name like #{keyword4}
	</select>
</mapper>