<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.mypage.customer.model.repository.MypageCustomerRepository">
	<select id="selectOne" parameterType="string" resultType="MemberDto">
		SELECT USER_ID,USER_NAME,USER_EMAIL, EMAIL_RECEIVE, MSG_RECEIVE FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	
	<select id="pwdChecking" resultType="String">
		SELECT USER_PWD FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	
	<update id="resetInfo">
		UPDATE MEMBER SET USER_PWD=#{userPwd}, EMAIL_RECEIVE=#{emailReceive}, MSG_RECEIVE=#{msgReceive}  WHERE USER_ID=#{userId}
	</update>
	
	<select id="selectReservedHotelList" parameterType="String" resultType="hashmap">
	    select hotel_reserve_code, hotel_name, reserve_check_in, reserve_check_out, room_att_desc, room_cat_desc from hotel_reserve
        	join hotel using(hotel_code)
        	join hotel_room_att using(room_att)
        	join hotel_room_cat using(room_cat)
        where user_id = #{userId}
	</select>
	
	<select id="selectOneReservedHotelList" parameterType="hashmap" resultType="hashmap">
		select hr.hotel_reserve_code as hotel_reserve_code, hotel_name, reserve_check_in, reserve_check_out, room_att_desc, room_cat_desc, residence_num, hotel_price, residence_name_ko, request_sum
		from hotel_reserve hr
		    join hotel h on hr.hotel_code = h.hotel_code 
		    join hotel_room_att hra on hr.room_att = hra.room_att
		    join hotel_room_cat hrc on hr.room_cat = hrc.room_cat
		    join hotel_room hm on hr.room_cap = hm.room_cap
		where user_id = #{userId} and hr.hotel_reserve_code = #{hotelReserveCode} and hm.room_cat = hr.room_cat and hm.hotel_code = hr.hotel_code and hm.room_att = hr.room_att
	</select>
	
</mapper>