<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
	<div class="content-section" id="productList" th:fragment="productList">
		<div class="hotelList">
			<div class="listHeader-grid">
				<div>사업자 번호</div>
				<div>상품명</div>
				<div>사업자명</div>
				<div>관리 번호</div>
			</div>
			<th:block th:if="${result == null or #lists.isEmpty(result)}">
				<div class="noContent">조건에 맞는 사업장이 없습니다.</div>
			</th:block>
			<th:block th:unless="${result == null or #lists.isEmpty(result)}">
					<a th:each="productlist : ${result}" class="productList-grid" th:href="@{/hotel/view/{hotelCode}(hotelCode=${productlist.hotelCode})}">
						<div th:text="${productlist.businessNum}"></div>
						<div th:text="${productlist.hotelName}"></div>
						<div th:text="${productlist.userId}"></div>
						<div th:text="${productlist.hotelCode}"></div>
					</a>
			</th:block>
		</div>
	</div>
</html>