<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}"
	rel="stylesheet" />
<link th:href="@{/css/mypage/mypageNoticeWrite.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::공지사항 수정</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
				</aside>
			</div>

			<div class="wrap-write">
			<form action="" id="frm-write" enctype="multipart/form-data">
				<h1>공지사항 수정</h1>
				<div hidden="" class="rmfqjsgh" th:text="${noticeDto.noticeId}"></div>
				<div hidden="" class="noticeTime" th:text="${noticeDto.noticeTime}"></div>
				<hr>
					<div class="write-table">
						<div class="write-title">
							<div class="th title">제목</div>
							<div class="input title">
								<input class="titleVal" type="text" th:value="${noticeDto.noticeTitle}">
							</div>
						</div>
						<div class="write-cat">
							<div class="th cat">카테고리</div>
							<div class="input cat">
								<input class="catVal" type="text" th:value="${#strings.startsWith(noticeDto.noticeId, '1') ? '회원' : (#strings.startsWith(noticeDto.noticeId, '2') ? '사업자' : '')}" readonly>
							</div>
						</div>
						<div class="write-file" th:if="${noticeFileDto != null and #lists.size(noticeFileDto) > 0}">
							<div class="th file">첨부파일</div>
							<div class="input file" >
								<input type="file" class="fileVal" id="noticeFile" name="noticeFile" multiple="multiple">
								<div th:each="fileDto : ${noticeFileDto}"><span th:text="${fileDto.originalFilename}" ></span></div>
							</div>
						</div>
 							
						<div class="write-file" th:if="${noticeFileDto.size() < 1}">
							<div class="th file">첨부파일</div>
							<div class="input file" >
								<input type="file" class="fileVal" id="noticeFile" name="noticeFile" multiple="multiple">
								<!-- <span th:text="${noticeFileDto.originalFilename}" ></span> -->
							</div>
						</div>
					</div>
					<div class="input-content">
						<textarea class="content-textarea" rows="15 " cols="" th:text="${noticeDto.noticeContent}"></textarea>
					</div>
					<hr>
					
					<input type="hidden" id="noticeTitle" name="noticeTitle">
					<input type="hidden" id="noticeTime" name="noticeTime">
					<input type="hidden" id="noticeContent" name="noticeContent">
					<input type="hidden" id="noticeCategory" name="noticeCategory">
					<input type="hidden" id="noticeFile" name="noticeFile">
					<input type="hidden" id="noticeId" name="noticeId">
					<input type="hidden" id="principal" name="principal" th:value="${principal}">
				</form>
				<div class="notice-btn">
					<button class="notice-ok">등록</button>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>

	<script type="text/javascript">
		$(loadeadHandler);
		function loadeadHandler() {
			clickedUpdateOkBtn();
			selectFile();
		}
		function clickedUpdateOkBtn(){
			$('.notice-btn').on('click', function(){
				console.log('수정 등록');
				var noticeId = $('.rmfqjsgh').text();
				var noticeTitle = $('.titleVal').val();
				var noticeCategory = $('.catVal').val();
				var noticeFile = $('.fileVal').val();
				var noticeContent = $('.content-textarea').val();
				var noticeTime = $('.noticeTime').text();
				
				if (noticeTitle.trim() === "" || noticeContent.trim() === "") {
				    alert('제목과 내용을 입력해주세요.');
				    return;
				}
				
				switch (noticeCategory) {
				case "회원":
					noticeCategory = 1;
					break;
				case "사업자":
					noticeCategory = 2;
					break;
				default:
					break;
				}
				
				console.log('noticeId : ', noticeId);
				console.log('noticeTitle : ', noticeTitle);
				console.log('noticeCategory : ', noticeCategory);
				console.log('noticeFile : ', noticeFile);
				console.log('noticeContent : ', noticeContent);
				console.log('noticeTime : ', noticeTime);
				
				$('#noticeId').val(noticeId);
				$('#noticeTitle').val(noticeTitle);
				$('#noticeCategory').val(noticeCategory);
				//$('#noticeFile').val(noticeFile);
				$('#noticeContent').val(noticeContent);
				$('#noticeTime').val(noticeTime);
				
				console.log($('#noticeTime').val(noticeTime).val());
				
				
				$('#frm-write').attr('method', 'POST');
		        $('#frm-write').attr('action', '/shushoong/support/notice/update');
		        $('#frm-write').submit();
			});
		}
function selectFile() {
			var fileInput = document.getElementById('noticeFile');
			var fileListContainer = document.createElement('ul');
			fileListContainer.className = 'file-list';

			fileInput.addEventListener('change', function() {
				var fileList = fileInput.files;
				console.log('Selected files:');
				fileListContainer.innerHTML = ''; // 기존 목록 초기화

				for (var i = 0; i < fileList.length; i++) {
					console.log(fileList[i].name);

					var fileItem = document.createElement('li');
					fileItem.textContent = fileList[i].name;
					fileListContainer.appendChild(fileItem);
				}
				// Display the file list
				var existingFileList = document.querySelector('.file-list');
				if (!existingFileList) {
					fileInput.parentNode.appendChild(fileListContainer);
				}
			});
		}
	</script>
	<script th:src="@{/js/servicecenter/notice-update.js}" type="text/javascript" ></script>
</body>
</html>