<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<div th:fragment="noticeList" id="notice-list-container" class="onlineQnAList">
	<div class="QnA-grid">
		<div class="th-no">번호</div>
		<div class="th-title">제목</div>
		<div class="th-writedate">작성일</div>
	</div>
	<div th:each="notice : ${noticeDto}" class="notice-list">
		<a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			 <div class="td-no" th:text="${notice.noticeId}"></div></a>
			 <a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-title" th:text="${notice.noticeTitle}"></div></a>
			<a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-writedate" th:text="${notice.noticeTime}"></div></a>
	</div>
	
<!-- 	
  		<div th:if="${userId} == 'business' and ${notice.noticeId} > 1000" class="notice-list">
			 <a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			 <div class="td-no" th:text="${notice.noticeId}"></div></a>
			 <a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-title" th:text="${notice.noticeTitle}"></div></a>
			<a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-writedate" th:text="${notice.noticeTime}"></div></a>
		</div>
  		<div th:if="${userId} == 'customer' and ${notice.noticeId} <= 1000" class="notice-list">
			 <a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			 <div class="td-no" th:text="${notice.noticeId}"></div></a>
			 <a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-title" th:text="${notice.noticeTitle}"></div></a>
			<a th:href="@{/support/notice/view/{noticeId}(noticeId=${notice.noticeId})}">
			<div class="td-writedate" th:text="${notice.noticeTime}"></div></a>
		</div>
	</div>
	 -->
	
	<div class="viewAllList" th:if="${loginUserId} == 'admin'">
		<a th:href="@{/support/notice/write}"><button type="button" class="viewQnAList">작성하기</button></a>
	</div>
	
	<div class="wrap-pageNum">
		<th:block th:if="${startPageNum > 1}">
			<button type="button" class="btn-page gopage" th:data-targetpage="${startPageNum - 1}" onclick="goPage(this)">&lt;</button>
		</th:block>
		<div class="wrap-page" th:each="item : ${#numbers.sequence(startPageNum, endPageNum)}">
			<th:block th:if="${currentPageNum == item}">
				<button type="button" class="gopage" th:text="${item}" disabled></button>
			</th:block>
			<th:block th:unless="${currentPageNum == item}">
				<button type="button" class="btn-page gopage" th:text="${item}" th:data-targetpage="${item}" onclick="goPage(this)"></button>
			</th:block>
		</div>
		<th:block th:if="${endPageNum < totalPageCount}">
			<button type="button" class="btn-page gopage" th:data-targetpage="${endPageNum + 1}" onclick="goPage(this)">&gt;</button>
		</th:block>
	</div>
</div>
</body>
</html>