<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/business/mypageBusinessAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/mypageNotice.css}"
	rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::공지사항</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside th:if="${userGrade} == 'customer'">
					<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
				</aside>
				<aside th:if="${userGrade} == 'business'">
					<div th:replace="~{mypage/business/mypageBusinessAside :: Aside}"></div>
				</aside>
				<aside th:if="${userGrade} == 'admin'">
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>

			<div class="section-notice">
				<section>
					<h1 class="notice-h1">공지사항</h1>
					<div th:if="${userGrade} == 'admin'">
					<form id="select-cat" action="">
						<select class="catVal">
							<option value="1">회원</option>
							<option value="2">사업자</option>
						</select>
					</form>
					</div>
					<form><div id="userGrade" th:value="${userGrade}"></div></form>
					<div th:replace="~{servicecenter/notice_section :: noticeList}"></div>

				</section>
			</div>

		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
	
	<script type="text/javascript">
	$(loadeadHandler);
	
	function loadeadHandler() {
		selectCat();
	}
	
	function goPage(thisElement) {
	    console.log($(this));
	    
	    var currentPageNum = $(thisElement).data('targetpage');
	    var noticeCategory = $('.catVal').val(); // 카테고리 값
	    console.log(currentPageNum);
	    console.log('noticeCategory : ', noticeCategory);

	    $.ajax({
	        url: "/shushoong/support/notice/list.ajax",
	        method: "get",
	        data: { 
	            pageNum: currentPageNum,
	            noticeCategory: noticeCategory
	        },
	        error: function(xhr, status, error) {
	            console.log('AJAX 실패:', error);
	        }
	    }).done(function(response) {
	        $('#notice-list-container').replaceWith(response);
	    });
	}

	$('.viewQnAList').on('click', function() {
	    console.log('글작성 버튼 눌림');
	});

	function selectCat() {
	    $('.catVal').on('change', function() {
	        console.log('에작 실행');
	        var noticeCategory = $('.catVal').val();
	        console.log('noticeCategory : ', noticeCategory);

	        var currentPageNum = 1; // 카테고리 변경 시 첫 페이지로 이동
	        console.log(currentPageNum);

	        $.ajax({
	            url: "/shushoong/support/notice/list.ajax",
	            method: "get",
	            data: { 
	                pageNum: currentPageNum,
	                noticeCategory: noticeCategory
	            },
	            error: function(xhr, status, error) {
	                console.log('AJAX 실패:', error);
	            }
	        }).done(function(response) {
	            $('#notice-list-container').replaceWith(response);
	        });
	    });
	}

	</script>
</body>
</html>