<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}"
	rel="stylesheet" />
<link th:href="@{/css/mypage/customer/mypageNoticeWrite.css}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝::공지사항 작성</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
				</aside>
			</div>

			<div class="wrap-write">
				<h1>공지사항 작성</h1>
				
				<hr>
				<table class="write-table">
					<tr>
						<th>제목</th>
						<td>제목임당</td>
					</tr>
					<tr>
						<th>카테고리</th>
						<td>카테고리임당</td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td> <input type="file"></td>
					</tr>
				</table>
				<div class="input-content">
					<input type="text">
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
	
	<script type="text/javascript">
	/* 
	$(loadeadHandler);
	
	function loadeadHandler() {
		goPage();
	}
	 */
	function goPage(thisElement) {
		console.log($(this));
		var currentPageNum = $(thisElement).data('targetpage');
		console.log(currentPageNum);
		$.ajax({
			url:"/shushoong/support/notice/list.ajax",
			method: "get",
			data: { pageNum : currentPageNum},
			error: function(xhr, status, error) {
					console.log('AJAX 실패:', error);
				}
		}).done(function(response) {
			$('#notice-list-container').replaceWith(response);
		})
	}
	</script>
</body>
</html>