<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/faq.css}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>1:1 문의</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-section">
				<section>
					<div class="onlineQnAList">
						<div class="content-title">1:1 문의</div>
						<div class="QnA-grid">
							<div>번호</div>
							<div>문의제목</div>
							<div>문의 분류</div>
							<div>문의자</div>
							<div>등록일자</div>
						</div>
						<div th:replace="~{servicecenter/QnAlist :: QnAlist}"></div>
						<div class="search">
							<select class="category" name="category">
								<option value="faqId">번호</option>
								<option value="askTitle">제목</option>
								<option value="questCat">문의 분류</option>
								<option value="userId">문의자</option>
							</select>
							<input type="text" class="searchKeyword" name="keyword">
							<select class="questCat-category" name="questCatCategory">
								<option value="1">개인정보문의</option>
								<option value="2">상품관련</option>
								<option value="3">결제</option>
								<option value="4">기타</option>
							</select>
							<button type="button" class="searchQnAList">검색</button>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
	<script th:src='@{/js/mypage/faq.js}'></script>
</html>