<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="QnAlist" id="wrap-QnAlist">
	<a class="QnA-content" th:each="faqList : ${result}" th:href="@{/support/qna/view/{faqId}(faqId=${faqList.faqId})}">
		<th:block th:if="${faqList.ansTime == null}">
			<div th:text="${faqList.faqId}"></div>
		</th:block>
		<th:block th:unless="${faqList.ansTime == null}">
			<div th:text="${faqList.faqId + ' 답변완료'}" style="color:blue"></div>
		</th:block>
		<div th:text="${faqList.askTitle}"></div>
		<div th:text="${faqList.questCatDesc}"></div>
		<div th:text="${faqList.userId}"></div>
		<div th:text="${faqList.askDate}"></div>
	</a>
</div>
</html>