<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/customer/mypageCustomerAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/business/mypageBusinessAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/viewQnA.css}" rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>1:1문의 자세히 보기</title>
</head>
<body class="body">
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside th:if="${userGrade} == 'customer'">
					<div th:replace="~{mypage/customer/mypageCustomerAside :: Aside}"></div>
				</aside>
				<aside th:if="${userGrade} == 'business'">
					<div th:replace="~{mypage/business/mypageBusinessAside :: Aside}"></div>
				</aside>
				<aside th:if="${userGrade} == 'admin'">
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div th:replace="~{servicecenter/qnaContent :: content}"></div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
<script th:src='@{/js/mypage/admin/viewQnA.js}'></script>
</html>