<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
<link th:href="@{/css/mypage/admin/mypageAdminAside.css}"
	rel="stylesheet" />
<link th:href="@{/css/mypage/viewQnA.css}" rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>1:1문의 자세히 보기</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/admin/mypageAdminAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-board">
				<div class="qna-head">
					<div class="qna-title"
						th:text="${result.faqId + '.' + result.askTitle}"></div>
					<div class="ask-date" th:text="${result.askDate}"></div>
				</div>
				<hr
					style="border: none; border-bottom: 3px solid var(--color_blue_1);">
				<div class="qna-main">
					<div class="qna-"></div>
					<div class="qna-category" th:text="${result.questCatDesc}"></div>
					<hr style="border: none; border-bottom: 2px dotted var(--color_blue_2);">
					<div class="qna-userId" th:text="${'작성자 : ' + result.userId}"></div>
					<hr style="border: none; border-bottom: 2px dotted var(--color_blue_2);">
					<th:block th:if="${qnaFileDto == null or #lists.size(qnaFileDto) == 0}">
						<div class="qna-file">
							<div>첨부파일이 없습니다.</div>
						</div>
					</th:block>
					<th:block th:if="${qnaFileDto != null and #lists.size(qnaFileDto) > 0}">
						<div class="qna-file" th:each="fileDto : ${qnaFileDto}">
							<div>첨부파일</div>
						<a th:href="${fileDto.savedFilePathName}" target="_blank">
						<div th:text="${fileDto.originalFilename}">첨부파일</div></a>
						</div>
					</th:block>
					<hr style="border: none; border-bottom: 1px solid var(--color_blue_1);">
					<div class="qna-content" th:text="${result.askContent}"></div>
				</div>
				<hr style="border: none; border-bottom: 3px solid var(--color_blue_1);">
				<th:block th:if="${result.ansTime == null or result.ansTime == ''}">
					<form method='post' action='/shushoong/support/qna/write/answer'>
						<input type="hidden" name="faqId" th:value="${result.faqId}">
						<div class="wrap-comment">
							<div class="no-content">문의 확인 중 입니다. 빠른 시일 내로 답변 드리겠습니다.</div>
							<textarea name="ansContent" cols="110" rows="30"
								class="write-answer" required></textarea>
						</div>
						<div class="wrap-writeAnswer" th:if="${userGrade} == 'admin'">
							<button type="button" class="btn btn-write-answer">답변하기</button>
							<button type="button" class="ans-delete-btn" th:data-faqid="${result.faqId}">삭제하기</button>
							<button type="button" class="btn btn-submit-answer" style="display: none;" th:data-faqid="${result.faqId}">작성완료</button>
						</div>
					</form>
				</th:block>
				<div id="update-box" hidden="">
					<div class="wrap-comment">
					<div class="no-content">문의 확인 중 입니다. 빠른 시일 내로 답변 드리겠습니다.</div>
						<textarea name="ansContent" cols="110" rows="30" class="write-answer" required></textarea>
					</div>
					<div class="wrap-writeAnswer" th:if="${userGrade} == 'admin'">
					<button type="button" class="btn btn-write-answer">답변하기</button>
						<button type="button" class="btn btn-submit-answer" th:data-faqid="${result.faqId}">작성완료</button>
					<button type="button" class="ans-delete-btn" th:data-faqid="${result.faqId}">삭제하기</button>
					</div>
				</div>
				<form action="" id="frm-delete">
				<input id="delete-id" name="faqId" hidden="" th:value="${result.faqId}">
				<th:block th:unless="${result.ansTime == null or result.ansTime == ''}">
					<div class="wrap-comment update">
						<div class="ask-date" th:text="${result.ansTime}"></div>
						<div class="ask-content" th:text="${result.ansContent}"></div>
					</div>
					<button type="button" class="ans-delete-btn" th:data-faqid="${result.faqId}">삭제하기</button>
					<button type="button" class="ans-update-btn">수정하기</button>
				</th:block>
				</form>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
		<div th:replace="~{common/footer :: Footer}"></div>
	</div>
</body>
<script th:src='@{/js/mypage/admin/viewQnA.js}'></script>
</html>