<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/business/mypageBusinessAside.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage/business/mypageBusinessHotelRegister.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>사업장 등록</title>
</head>
<body>
	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-aside">
				<aside>
					<div th:replace="~{mypage/business/mypageBusinessAside :: Aside}"></div>
				</aside>
			</div>
			<div class="wrap-section">
				<p style="font-size: var(--font1); text-align: center; margin-top: 40px; font-family: 'SOYOMapleBoldTTF';">사업장 등록</p>
				<form id="frm_register" >
					<div class="grid_wrap">
					<!-- 다 같은 선상에 있는데 너무 어지러워서 들여쓰기만 한것뿐... -->
						<div class="th register">
							<p class="p">사업자 등록증</p>
						</div>
						<div class="div_register_btn">
							<input type="file" name="businessRegitFile">
						</div>
						<div class="th license">
							<p class="p">호텔 사업자 인허가 증명서</p>
						</div>
						<div class="div_license_btn">
							<input type="file" name="businessCertiFile">
						</div>						
						<div class="more_info">
							<p class="p_more_info">그 외 시설 정보</p>
						</div>
						<div class="th hotel_name">
							<p class="p">호텔명</p>
						</div>
						<div class="td hotel_name_div">
							<input type="text" name="hotelName">
						</div>
						<div class="th hotel_eng">
							<p class="p">호텔 영문명</p>
						</div>
						<div class="td hotel_eng_div">
							<input type="text" name="hotelEng">
						</div>
						<div class="th hotel_call">
							<p class="p">호텔 전화번호</p>
						</div>
						<div class="td hotel_call_div">
							<input type="text" name="hotelCall">
						</div>
						<div class="th hotel_loc">
							<p class="p">위치</p>
						</div>
						<div class="hotel_loc_div">
							<div>
								<div>국가</div>
								<select class="select-nation" name="hotelNation" style="width:100px; height:30px; border-radius:10px;">
									<option value="0" selected>한국</option>
									<option value="1">중국</option>
									<option value="2">일본</option>
									<option value="3">미국</option>
								</select>
							</div>
							<div>
								<div>지역</div>
								<select name="hotelLocCat" class="loc korea" style="width:100px; height:30px; border-radius:10px;">
									<option value="JJ" selected>제주</option>
									<option value="GN">강릉</option>
									<option value="SE">서울</option>
									<option value="GJ">광주</option>
									<option value="PC">평창</option>
									<option value="IC">인천</option>
									<option value="SC">속초</option>
									<option value="BS">부산</option>
								</select>
								<select name="hotelLocCat" class="loc china" style="width:100px; height:30px; border-radius:10px;" disabled>
									<option value="SH" selected>상해</option>
									<option value="BJ">북경</option>
									<option value="CD">청도</option>
									<option value="WH">위해</option>
									<option value="GJ">광주</option>
									<option value="DR">대련</option>
									<option value="SA">서안</option>
									<option value="YG">연길</option>
									<option value="SD">성도</option>
									<option value="JK">중경</option>
									<option value="HB">하얼빈</option>
									<option value="CJ">천진</option>
									<option value="GM">곤명</option>
									<option value="NK">남경</option>
								</select>
								<select name="hotelLocCat" class="loc japan" style="width:100px; height:30px; border-radius:10px;" disabled>
									<option value="TK" selected>도쿄</option>
									<option value="OS">오사카</option>
									<option value="KT">교토</option>
									<option value="HO">후쿠오카</option>
									<option value="OI">오이타(유후인/벳부)</option>
									<option value="OK">오키나와</option>
									<option value="SP">삿포로</option>
									<option value="NG">나고야</option>
								</select>
								<select name="hotelLocCat" class="loc america" style="width:100px; height:30px; border-radius:10px;" disabled>
									<option value="HN" selected>호놀룰루(하와이)</option>
									<option value="LA">LA</option>
									<option value="NY">뉴욕</option>
									<option value="LV">라스베가스</option>
									<option value="SF">샌프란시스코</option>
									<option value="SE">시애틀</option>
									<option value="DC">워싱턴</option>
									<option value="CH">시카고</option>
									<option value="BO">보스톤</option>
									<option value="MC">멕시코시티</option>
									<option value="OR">올랜도</option>
									<option value="CN">코나</option>
									<option value="CE">카우아이</option>
								</select>
							</div>
						</div>
						<div class="th hotel_address">
							<p class="p">호텔 상세 주소</p>
						</div> 
						<div class="td hotel_address_div">
							<input type="text" name="hotelAddress">
						</div>
						<div class="th hotel_intro">
							<p class="p">호텔소개</p>
						</div>
						<div class="hotel_text_div">
							<textarea name="hotelIntro" class="hotel_intro_textarea" cols="73" rows="8"></textarea>
						</div>								
						<div class="th hotel_pic_box">
							<p class="p">호텔 사진</p>
						</div>
						<div class="hotel_pic_div">
							<input type="file" accept="image/*" name="uploadpic" class="hotel_pic" multiple>
							<div class="thumbnail-box"></div>
						</div>								
						<div class="th checkin_time">
							<p>체크인</p>
						</div>
						<div class="input_checkin_div">
							<input type="text" class="checkin" name="checkIn">
						</div>						
						<div class="th checkout_time">
							<p>체크아웃</p>
						</div>
						<div class="input_checkout_div">
							<input type="text" class="checkout" name="checkOut">
						</div>							
						<div class="th room_cat">
							<p>객실 종류</p>
						</div>
						<div class="select_option">
							<button type="button" class="add_btn">추가</button>
							<button type="button" class="delete_btn">삭제</button>
						</div>
						<div class="th facility">
							<p>편의시설</p>
						</div>
						<div class="facility_check">
							<div class="internet">
								<input type="checkbox" name="facilityList" id="box1" value="0"><label for="box1"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">무선인터넷</div>
							</div>
							<div class="parking">
								<input type="checkbox" name="facilityList" id="box2" value="1"><label for="box2"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">주차</div>
							</div>
							<div class="restaurant">
								<input type="checkbox" name="facilityList" id="box3" value="2"><label for="box3"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">레스토랑</div>
							</div>
							<div class="swimming">
								<input type="checkbox" name="facilityList" id="box4" value="3"><label for="box4"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">수영장</div>
							</div>
							<div class="fitness">
								<input type="checkbox" name="facilityList" id="box5" value="4"><label for="box5"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">피트니스센터</div>
							</div>
							<div class="aircon">
								<input type="checkbox" name="facilityList" id="box6" value="5"><label for="box6"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">에어컨</div>
							</div>
							<div class="bar">
								<input type="checkbox" name="facilityList" id="box7" value="6"><label for="box7"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">바</div>
							</div>
							<div class="casino">
								<input type="checkbox" name="facilityList" id="box8" value="7"><label for="box8"></label>
								<div style="font-size: var(--font3); margin-left: 5px;">카지노</div>
							</div>
						</div>
						<div class="th policy">
							<p>유의사항</p>
						</div>
						<div class="policy_text_div">
							<textarea name="hotelPolicy" class="policy_textarea" cols="73" rows="8"></textarea>
						</div>						
						<div class="th safety">
							<p>위생 및 안전조치</p>
						</div>
							<textarea name="hotelSafety" class="safety_textarea" cols="30" rows="8"></textarea>
					</div>
					<input type="button" value="등록하기" class="submit_btn">
				</form>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
</body>
<script th:src='@{/js/mypage/business/mypageBusinessHotelRegister.js}'></script>
</html>