<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="inner" th:fragment="Aside">
		<div class="aside-title">
			마이페이지
		</div>
		<div class="aside-content">
			<a th:href="@{/business/check/pwd}">
				<div class="correctionInfo">개인 정보 수정</div>
			</a>
			<div class="manageBusiness">
				<a th:href="@{/business/my/hotel}">사업장 관리</a>
			</div>

			<a href=>
				<div class="paymentlist">예약, 취소 내역</div>
			</a>
				<div class="dropdown">
				<button class="dropbtn2" >
					고객센터
				</button>
				<div class="dropdown-content">
					<a th:href="@{/support/notice/list}">공지사항</a>
				<a th:href="@{/support/qna/list}">
					<div class="OnlineQnA">1:1 문의 관리</div>
				</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>