<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_main.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<meta charset="UTF-8">
	<style>
		#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr button.fc-button {
			background-color: #BCEFFF;
		}
		#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr button.fc-button > span {
			color: black;
		}
		#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr button.fc-button:hover {
			background-color: #006AFF;
		}
		#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr button.fc-button:hover * {
			color: white;
		}
	</style>
<title>Insert title here</title>
<script>
var select_status = 0;
let today = new Date();
let today_year = today.getFullYear(); // 년도
let today_month = today.getMonth() + 1;  // 월
let today_day = today.getDate();  // 날짜
console.log(today_year);
console.log(today_month);
console.log(today_day);

$(loadedHandler)
	
	function loadedHandler() {
		$('.wrap-date-box').css('display', 'none');	//처음 화면에서 달력 안보이게
		$('.input.location').on('click', locationClickHandler);
		$('.country').on('click', localClickHandler);
		$('.input.time').on('click', timeClickHandler);
		$('.input.room').on('click', roomClickHandler);
		$('.plus').on('click', plusClickHandler);
		$('.minus').on('click', minusClickHandler);
	}
	
	//국가 검색 클릭 시 국가 선택 창 표시
	function locationClickHandler() {
		$('.wrap-date-box').css('display', 'none');
		$('.wrap-room-box').css('display', 'none');
		$('.wrap-loc-box').toggle();
	}
	
	//국가 클릭 시 해당 국가의 주요 지역 표시
	function localClickHandler() {
		var index = $(this).index();
		$('.local-box').css('display', 'none');
		$('.country').css('font-weight', '100');
		$('.country').css('background-color', 'white');
		$('.local-box').eq(index).css('display', 'grid');
		$(this).css('background-color', 'var(--color_blue_2)');
		$(this).css('font-weight', '900');
	}
	
	//날짜 검색 클릭 시 달력 표시
	function timeClickHandler() {
		$('.wrap-loc-box').css('display', 'none');
		$('.wrap-room-box').css('display', 'none');
		$('.wrap-date-box').toggle();
	}
	
	//객실 수 클릭 시 객실, 인원 수 선택 표시
	function roomClickHandler() {
		$('.wrap-loc-box').css('display', 'none');
		$('.wrap-date-box').css('display', 'none');
		$('.wrap-room-box').toggle();
	}
	
	//방, 인원 수량 증감
	function plusClickHandler() {
		var numStr = $(this).prev().text();
		var num = Number(numStr);
		if($(this).parent().prev().text() != "객실" || num < 8){	//객실은 8개까지만 예약 가능
			$(this).prev().text(num+1);
		}
	}
	
	//방, 인원 수량 증감
	function minusClickHandler() {
		var num = $(this).next().text();
		if(($(this).parent().prev().children().eq(0).text() == "성인" && num > 1)
			|| ($(this).parent().prev().children().eq(0).text() == "아동" && num > 0)){		//성인은 최소 한명 이상, 아동은 0명 선택 가능
			$(this).next().text(num-1);
		}
	}
</script>
</head>
<body>
	<div class="wrap-header">
		<header>
			<div th:replace="~{common/header :: Header}"></div>
			<div class="hrline">
				<hr>
			</div>
		</header>
		<div class="wrap-hotel-main">
			<div class="main-back">
				<div class="wrap-hotel-search">
					<div style="height: 220px;"></div>
					<div class="hotel-search-bar">
						<button type="button" class="input location"><span>도시명 또는 호텔명</span><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/></button>
						<button type="button" class="input time"><span>숙박 일정</span><span class="check-in-date"></span> - <span class="check-out-date"></span><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/></button>
						<button type="button" class="input room"><span>객실 1 - 성인 2, 아동 0</span><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/></button>
						<button type="button" class="search btn">검색</button>
					</div>
					<div class="wrap-loc-box">
						<div class="loc-inner-box">
							<div class="country-box">
								<div class="country korea">한국</div>
								<div class="country china">중국</div>
								<div class="country japan">일본</div>
								<div class="country america">미국</div>
							</div>
							<div class="local-box korea" style="display: grid;">
								<div class="local">제주</div>
								<div class="local">강릉</div>
								<div class="local">서울</div>
								<div class="local">광주</div>
								<div class="local">평창</div>
								<div class="local">인천</div>
								<div class="local">속초</div>
								<div class="local">부산</div>
							</div>
							<div class="local-box china">
								<div class="local">상해</div>
								<div class="local">북경</div>
								<div class="local">청도</div>
								<div class="local">위해</div>
								<div class="local">광주</div>
								<div class="local">대련</div>
								<div class="local">서안</div>
								<div class="local">연길</div>
								<div class="local">성도</div>
								<div class="local">중경</div>
								<div class="local">하얼빈</div>
								<div class="local">천진</div>
								<div class="local">곤명</div>
								<div class="local">남경</div>
							</div>
							<div class="local-box japan">
								<div class="local">도쿄</div>
								<div class="local">오사카</div>
								<div class="local">교토</div>
								<div class="local">후쿠오카</div>
								<div class="local">오이타(유후인/벳부)</div>
								<div class="local">오키나와</div>
								<div class="local">삿포로</div>
								<div class="local">나고야</div>
							</div>
							<div class="local-box america">
								<div class="local">호놀룰루(하와이)</div>
								<div class="local">LA</div>
								<div class="local">뉴욕</div>
								<div class="local">라스베가스</div>
								<div class="local">샌프란시스코</div>
								<div class="local">시애틀</div>
								<div class="local">벤쿠버</div>
								<div class="local">토론토</div>
								<div class="local">워싱턴</div>
								<div class="local">시카고</div>
								<div class="local">보스톤</div>
								<div class="local">멕시코시티</div>
								<div class="local">올랜도</div>
								<div class="local">코나</div>
								<div class="local">카우아이</div>
							</div>
						</div>
					</div>
					<div class="wrap-date-box">
						<div id='calendar'></div>
					</div>
					<div class="wrap-room-box">
						<div class="select-people-head">객실 선택</div>
						<hr></hr>
						<div class="room amount">
							<div class="cat room">객실</div>
							<div class="btn-area">
								<button type="button" class="btn btn2 minus">−</button>
								<div class="num">1</div>
								<button type="button" class="btn btn2 plus">+</button>
							</div>
						</div>
						<div class="select-people-head">인원</div>
						<hr></hr>
						<div class="wrap-people-num">
							<div class="wrap-people amount">
								<div class="cat adult"><p>성인</p><p>만 12세 이상</p></div>
								<div class="btn-area">
									<button type="button" class="btn btn2 minus">−</button>
									<div class="num">1</div>
									<button type="button" class="btn btn2 plus">+</button>
								</div>
							</div>
							<div class="wrap-people amount">
								<div class="cat child"><p>아동</p><p>만 12세 미만</p></div>
								<div class="btn-area">
									<button type="button" class="btn btn2 minus">−</button>
									<div class="num">0</div>
									<button type="button" class="btn btn2 plus">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
     document.addEventListener('DOMContentLoaded', function() {
       var calendarEl = document.getElementById('calendar');
       var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        height: 'auto',
        locale:'ko',
        headerToolbar:{
			left:'prevYear prev',
			center:'title' ,
			right:'next nextYear' 				
		},
		selectable : true,
		droppable : true,
		editable : true,
		dateClick : function (info) {
			//클릭한 날짜 == info.dateStr
			console.log(info.dateStr);
			
			var year = info.dateStr.substr(0, 4);
			var month = info.dateStr.substr(5, 2);
			var day = info.dateStr.substr(8, 2);
			if(today_year > year || today_month > month || today_day > day) {	//현재 날짜 이전의 시간을 선택한다면
				alert("현재 날짜 이전은 선택하실 수 없습니다.");
			} else {
				if(select_status == 0){	//체크인 날짜 선택
					var startdate = $('.check-in-date').text(year + "년" + month + "월" + day + "일");
					date1 = new Date(info.dateStr); 
					select_status = 1;
				} else {
					date2 = new Date(info.dateStr); 
					console.log(date1 < date2);
					if(date1 <= date2) {
						$('.check-out-date').text(year + "년" + month + "월" + day + "일");
						select_status = 0;
					} else {
						$('.check-in-date').text(year + "년" + month + "월" + day + "일");
						$('.check-out-date').text("");
					}
				}
			}
		}
       });
       if(calendar){
       	calendar.render();
       }
     });
</script>
</html>