<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_list.css}" rel="stylesheet" />
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
	
	<!-- 구글맵스 API -->
	<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoo40WSHtW0JekF2N6b0Tm1DHbifYiSOg&loading=async&callback=initMap"></script>
	
<meta charset="UTF-8">
<title>호텔 목록</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-main">
				<div class="top-line">
					<div class="select">
						<span class="nation"></span>
						<span class="search-date"></span>
						<span class="room-capacity"></span>
					</div>
				</div>
				<div class="category">
					<div class="select">
						<select name="search" id="hotel_select" style="width:80px; height:30px; border-radius:10px;">
							 <option value="price">가격</option>
							 <option value="review">리뷰</option>
							 <option value="grade">평점</option>
						</select>
						<select name="search" id="hotel_select_rate" style="width:100px; height:30px; border-radius:10px;">
							 <option value="low">낮은 순</option>
							 <option value="high">높은 순</option>
						</select>
					</div>
				</div>
				<div class="container">
				
					<!-- aside 부분 -->
					<form>
						<div class="sidebar">
							<div class="search">
								<div class="word_search">
									<p style="margin-bottom: 10px; font-size: var(--font2); font-family: 'SOYOMapleRegularTTF';">검색</p>
									<input type="text" class="type_hotel" name="hotel_name" style="border: 1px solid #006AFF; border-radius: 10px; width: 160px; height: 25px;"/>
								</div>
							</div>
							
							<!-- 슬라이드 바 -->
							 <p style="font-size: var(--font2); margin-bottom: 20px; font-family: 'SOYOMapleRegularTTF';">가격</p>
							 <div class="price-slider">
							     <div class="multi-range-slider">
							         <!-- 진짜 슬라이더 -->
							         <!-- <input type="range" id="input-left" min="0" max="100" value="1" /> -->
							         <input type="range" id="input-right" min="0" max="100" value="100" />
							
							         <!-- 커스텀 슬라이더 -->
							         <div class="slider">
							             <div class="track"></div>
							             <div class="range"></div>
							             <!-- <div class="circle left"></div> -->
							             <div class="circle right"></div>
							         </div>
							         <div class="circle price">
							          <div class="price1">0</div>
							          <div class="price2">가격2</div>
							         </div>
							     </div>
							 </div>
						<button type="button" class="btn_search">검색하기</button>
						</div>
					</form>
					
					
					<!-- section 부분 -->
					<div class="hotel">
						<div class="hotel_list" th:each="hotellist : ${hotelList}">
							<div class="hotel_pic" th:style="'background-image: url(' + ${hotellist.hotelPic} + '); background-size: cover;'">
								<div class="hotel_like">
									<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
								</div>
							</div>
							<div class="hotel_attr">
								<div class="hotel_kr" th:text="${hotellist.hotelName}"></div>
								<div class="hotel_eng" th:text="${hotellist.hotelEng}"></div>
								<div class="hotel_location" th:text="${hotellist.hotelAddress}"></div>
								<div class="hotel_review">
									<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
									<span th:text="${hotellist.hotelScore} + '/5'"></span>
								</div>
							</div>
							<div class="hotel_price" th:text="${hotellist.hotelPrice} + '원'"></div>
						</div>
						
<!-- 						<div class="hotel_list">
							<div class="hotel_pic">
								<div class="hotel_like">
									<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
								</div>
							</div>
							<div class="hotel_attr">
								<div class="hotel_hot">HOT</div>
								<div class="hotel_kr">호텔이름</div>
								<div class="hotel_eng">호텔영어이름</div>
								<div class="hotel_location">호텔위치</div>
								<div class="hotel_review">
									<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
									<span>3.5/5</span>
								</div>
							</div>
							<div class="hotel_price">190,000원~</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
<script>

$(loadedHandler);

function loadedHandler(){
	
	//좋아요 버튼
	$(".hotel_like").on("click", likeHandler);
	

};
	
//좋아요 누를 시 색깔 변함
function likeHandler(){
	

	console.log(this);
		var currentSrc = $(this).children().attr('src');
		
		console.log("현재 소스값" + currentSrc);
		/* 이 경로를 토대로 이미지 바뀌는 경우의 수 적어주기 */
		
		if( currentSrc === '/shushoong/images/heart.png'){
			$(this).children().attr("src", "/shushoong/images/heart_color.png");
			/* console 창에 결과나온거 보면 흰색  하트 img src 경로 보이는데 그 경로 토대로 작성 */
		} else {
			$(this).children().attr("src", "/shushoong/images/heart.png");
		}
	}
	

/* const inputLeft = document.getElementById("input-left"); */
const inputRight = document.getElementById("input-right");
/* const circleLeft = document.querySelector(".slider > .circle.left"); */
const circleRight = document.querySelector(".slider > .circle.right");
const range = document.querySelector(".slider > .range");

// 왼쪽이 움직일떼(= 왼쪽 값이 변할 때) 변경될 때 실행되는 함수
/* const setLeftValue = () => {
    // 현재 입력 값(_this)과 입력 요소의 최소값과 최대값을 가져옴
    const _this = inputLeft;
    const [min, max] = [parseInt(_this.min), parseInt(_this.max)];
    
    //왼쪽값을 기준으로 으론쪽은 왼쪽에게 최대 20까지 차이날 수 있게끔함 (이 이상 오지 못함)
    // -> 겹치지 않게 이렇게 설정
    _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 20);

    // 왼쪽 thumb의 위치를 계산하여 슬라이더의 왼쪽 값을 표시
    const leftValue = parseInt(_this.value);
    const leftVal = document.querySelector(".price1");
    leftVal.innerHTML = `${leftValue}`;
    const percent = ((_this.value - min) / (max - min)) * 100;
    circleLeft.style.left = percent + "%";
    range.style.left = percent + "%";
};
 */
// 오른쪽이 움직일떼(= 오른쪽 값이 변할 때) 변경될 때 실행되는 함수
const setRightValue = () => {
    // 현재 입력 값(_this)과 입력 요소의 최소값과 최대값을 가져옴
    const _this = inputRight;
    const [min, max] = [parseInt(_this.min), parseInt(_this.max)];

  	//오른쪽값을 기준으로 왼쪽은 오른쪽에게 최대 20까지 차이날 수 있게끔함 (이 이상 오지 못함)
    // -> 겹치지 않게 이렇게 설정
/*     _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 20); */

    // 오른쪽 thumb의 위치를 계산하여 슬라이더의 오른쪽 값을 표시
    const rightValue = parseInt(_this.value);
    const rightVal = document.querySelector(".price2");
    rightVal.innerHTML = `${rightValue}`;
    const percent = ((_this.value - min) / (max - min)) * 100;
    circleRight.style.right = 100 - percent + "%";
    range.style.right = 100 - percent + "%";
};


//왼쪽 입력 값이 변경될 때와 오른쪽 입력 값이 변경될 때 해당 함수들을 호출하도록 이벤트 리스너를 설정
/* inputLeft.addEventListener("input", setLeftValue); */
inputRight.addEventListener("input", setRightValue);


// 페이지가 로드될 때 초기값을 설정하는 함수
const setInitialValues = () => {
    // 초기 왼쪽 값과 오른쪽 값
/*     const initialLeftValue = 0; */
    const initialRightValue = 100;
    // 초기값을 입력 요소에 설정하고, 왼쪽과 오른쪽 thumb의 위치를 조정
/*     inputLeft.value = initialLeftValue; */
    inputRight.value = initialRightValue;
/*     setLeftValue(); */
    setRightValue();
};

// 페이지가 로드될 때 초기값 설정 함수(setInitialValues)를 호출
window.onload = setInitialValues;

</script>

</body>
</html>