<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_list.css}" rel="stylesheet" />
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-main">
				<div class="top-line">
					<div class="select">
						<span class="nation"></span>
						<span class="search-date"></span>
						<span class="room-capacity"></span>
					</div>
				</div>
				<div class="category">
					<div class="select">
						<select name="search" id="hotel_search">
							 <option value="price">가격</option>
							 <option value="review">리뷰</option>
							 <option value="grade">평점</option>
						</select>
						<select name="search" id="hotel_search_rate">
							 <option value="low">낮은 순</option>
							 <option value="high">높은 순</option>
						</select>
					</div>
				</div>
				<div class="container">
					<div class="aside">

							
					</div>
					<div class="hotel">
						<div class="hotel_list">
							<div class="hotel_pic">호텔사진</div>
							<div class="hotel_attr">
								<div class="hotel_kr">호텔이름</div>
								<div class="hotel_eng">호텔영어이름</div>
								<div class="hotel_location">호텔위치</div>
								<div class="hotel_review">3.5/5</div>
							</div>
							<div class="hotel_price">190,000원~</div>
						</div>
						<div class="hotel_list">
							<div class="hotel_pic">호텔사진</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
<script th:inline="javascript">

</script>

</body>
</html>