@charset "UTF-8";

.pointer {
  cursor: pointer;
}
section{
	font-family: 'SOYOMapleNormarTTF';
}
section.search_section{
	height: 350px;
    position: relative;
    background-color: green;
}
div.search{
	width: 960px;
	height : 145px;
	border: var(--color_blue_1), 2px, solid;
	border-radius : 20px;
	margin: auto;
	position : relative;
	top: 135px;
	background-color: rgba(255, 255, 255, .7);
}	

button.tablinks{
	background: none;
    border: none;
    font-size: 17px;
}

button#one_way_btn{
	margin-left : 30px;
	margin-top : 20px;
	border-bottom: 3px solid  rgb(0,106,255);
}

div#round_trip{
	display: none;
}

div.tabcontent > *{
	height: 40px;
	margin: 30px 0 20px 24px;
	border-radius: 10px;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	float: left;
}

div.tabcontent > div{
	margin-top : 30px;
	background-color: #D9D9D9;
}

div.tabcontent div:nth-child(1) {
	width : 370px;
}

div.tabcontent div:nth-child(2) {
	width : 160px;
}
div.tabcontent div:nth-child(3) {
	width : 246px;
}

div.tabcontent > label{
	
	border : none;
	color : black;
	background-color: #BCEFFF;
	width: 60px;
}

div.tabcontent > label:hover{
	border : none;
	color : white;
	background-color: rgb(0,106,255);
	width: 60px;
}



										
.depart_arrival_flex{
	display: flex;
	margin: auto;
	
}

button#depart{
	width: 165px;
	border : none;
	background : none;
	height: 40px;
}
img.type {
	width: 30px;
	height: 30px;
	margin: 5px;
}
button#arrival{
	width: 165px;
	border : none;
	background : none;
	height: 40px;
}

button#one_way_date , button#round_trip_date{
	border: none;
	background: none;
}

button#one_way_date > div , button#round_trip_date > div{

	float : left;
	width: 108px;
	line-height: 40px;
}

button#one_way_date > img , button#round_trip_date > img{
	float : right;
	width: 30px;
	height: 30px;
	margin: 5px;
}
button#people_lineup{
	width : 246px;
	height: 40px;
	background: none;
	border: none;
}
button#people_lineup > div{
	float : left;
	width : 194px;
	height: 40px;
	line-height: 40px;
}
button#people_lineup >img{
	width: 30px;
	height: 30px;
	margin: 5px;
	float : right;
}

			/* 어코딩 섹션 */
section.according_section{
	width: 960px;
	margin: auto;
}


div.according{
	max-width:960px;
	position : absolute;
	margin-top : -60px;
	width:fit-content;
	border : var(--color_blue_1), 2px, solid;
	border-radius : 20px;
	padding : 40px;
	background-color: white;
	z-index: 999;
}
					/* 이/착륙 국가 */
div.accoding_title{
	position: absolute;
	margin-top: -25px;
	font-size: 20px;
}
div#depart_accoding_wrap{
	display: flex;
}


.depart_nation,.arrival_nation{
	width : 90px;
	font-size: 17px;
	
}
button.depart_accoding_value:hover , button.arrival_accoding_value:hover{
	background-color: var(--color_gray_1);
	border-bottom-width: 1px;
	border-bottom-color: var(--color_gray_2);
	border-bottom-style: solid;
}
.according_section_depart_tablinks , .according_section_arrival_tablinks {
    width : 90px;
    border-left:none;
    border-bottom : none;
    border-right: 1px solid black;
    border-top : 1px solid black;
    font-size: 16px;
    padding: 15px;
    padding-right : 40px;
    height : 50px;
    background: none;
}
.according_section_depart_tablinks:first-child, .according_section_arrival_tablinks:first-child{
	background-color: var(--color_blue_2);
	font-weight: 900;
}
.according_section_depart_tablinks:last-child, .according_section_arrival_tablinks:last-child{
	border-bottom : 1px solid black;
}
.according_section_depart_tabcontent,.according_section_arrival_tabcontent{
	border-bottom : 1px solid black;
	border-top : 1px solid black;
	font-size: 17px;
	display : grid;
    grid-template-columns: repeat(5, 150px);
    grid-auto-flow: row;
    grid-auto-rows: 25%;
	display: none;    
}
.according_section_depart_tabcontent#depart_korea ,.according_section_arrival_tabcontent#arrival_korea{
	 display: block;
}
.according_section_depart_tabcontent > button,.according_section_arrival_tabcontent > button{
    width:150px;
    height:50px;
    padding: 7px 10px;
    cursor: pointer;
    align-content: center;
    background: none;
    border: none;
}

 							/* 날짜 */
#date_accoding{
	margin-top: -60px;
    width: 960px;
    height: auto;
    border: var(--color_blue_1), 2px, solid;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
    display: block;
    
}

button#depart_date{
	display: block;
	background: none;
	border: none;
	font-size: 20px;
	
}
button#arrival_date{
	display: none;
	background: none;
	border: none;
	font-size: 20px;
}

#btn_return_depart_date{
	margin-left : 150px;
	display: none;
	position: absolute;
	margin-top: -27px;
	
}

							/* 인원 + 좌석 */
div#people_lineup_sit_accoding{
	margin-left:530px;
	width: 400px;
}
							
div.people_lineup{
	
}

div.people_lineup > div{
	display : flex;
	margin : 20px;
	
}

div.people_lineup > div > * {
	padding: 10px 15px;
	background: none;
	text-align: center;
	margin: auto;
	font-size: 15px;
}

div.people_lineup > div > h1{
	    color: #5E5E5E;
	    float : left;
	
}	

div.people_lineup > div > button:nth-child(2){
	width : 42px;
	height : 42px;
	text-align: center;
    background-color: var(--color_blue_2);
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
	
}	

div.people_lineup > div > div:nth-child(3){
    color: #5E5E5E;
	
}

div.people_lineup > div > button:nth-child(4){
	width : 42px;
	height : 42px;
	text-align: center;
    background-color: var(--color_blue_2);
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
}	

div.people_lineup > div > button:hover{
	background-color : rgb(0,106,255);
}
div.sit{
	border-top: 1px solid black;

}

div.sit > button {
	display: block;
	margin : 20px auto;
	width : 300px;
	height: 60px;
	background: none;
	border-radius: 15px;
}

div.sit > button:first-child{
	background-color: var(--color_blue_2);
}




		/* 추천 section */
	/* 인기있는 호텔 캐러셀*/

.wrap-airline-recommend-list {
	width: 960px;
	margin: 0 auto;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 40px;
	position:relative;
	margin-bottom: 100px;
}

.wrap-airline-recommend-list .airline-recommend-title {
	font-size: 20px;
	font-weight: 900;
}

.wrap-airline-recommend-list .airline-recommend-list {
	width: 100%;
	height: 300px;
	overflow: hidden;
	
}
a.airline-recommend{
	transition: transform 1s;
}
.wrap-airline-recommend-list .airline-recommend-list .list-wrapper {
	display: flex;
	flex-direction: row;
	gap: 30px;
	width: auto;
}

.list-wrapper .airline-recommend {
	height: 300px;
	flex: 0 0 300px;
	border: 1px, solid, var(--color_gray_2);
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-wrapper .airline-recommend-info {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.list-wrapper .airline-recommend .airline-recommend-pic > img {
	display: block;
	width: 100%;
	height: 186px;
	object-fit: cover;
}

.airline-recommend .wrap-price {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.airline-recommend .wrap-price > div {
	padding-right: 10px;
	color: red;
}

.airline-recommend .wrap-price > div:last-child {
	vertical-align: bottom;
	line-height: 20px;
}

.airline-recommend .airline-recommend-name {
	text-align: left;
	padding-left : 10px;
}


.airline-recommend .airline-recommend-price {
	text-align: right;
	font-weight: 900;
	font-size: var(--font1);
}

.wrap-airline-recommend-list .btn2 {
	position: absolute;
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--color_blue_2);
    cursor: pointer;
    font-family: 'SOYOMapleRegularTTF';
    font-size: var(--font1);
}

.wrap-airline-recommend-list .btn2:hover {
	background-color: var(--color_blue_1);
	color: white;
	font-family: 'SOYOMapleBoldTTF';
	
}

.wrap-airline-recommend-list .btn2.left {
	left:-65px;
	top: 185px;
}

.wrap-airline-recommend-list .btn2.right {
	right:-65px;
	top: 185px;
}



				/* 임시 */
.input_values {
	position: fixed;
	bottom: 5px;
	display : none;
}
