@charset "UTF-8";

								/* require login section */
section.require_login_section{
	width: 960px;
	margin: 100px auto;
	
}

div.require_login_wrap{
	border: 5px solid var(--color_blue_1);
	width: 500px;
	height: 500px;
	margin : auto;
	border-radius: 100px;
}

div.require_login_wrap>img{
	width : 250px;
	height : 250px;
	margin: 5px 115px;
}

div.require_login_wrap>div:nth-child(2){
	width : 300px;
	margin : 10px auto;
	font-size: 20px;
}
div.require_login_wrap>div:nth-child(3){
}

a.redirect_to_main , a.redirect_to_login{
	border: 1px solid var(--color_blue_1);
	text-align:center;
	height : 50px;
	line-height:50px;
	display: block;
	width: 350px;
	margin : 20px auto;
}
a.redirect_to_main:hover , a.redirect_to_login:hover{
	background-color: var(--color_blue_1);
	color : white;
}

								/* process section */

section.reserve_process{
	margin : auto;
	width: 960px;
}

.reserve_process > div:nth-child(1) {
	margin-top : 50px;
	display: flex;
	font-size: 16px;
}
.reserve_process > div:nth-child(1) > div{
		width:  40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		text-align : center;
		margin: auto;
		background-color: var(--color_blue_2);
}
.reserve_process > div:nth-child(1) > div:nth-child(1){
	background-color: var(--color_blue_1);
	color: white;
	font-weight: bolder;
	
}
.reserve_process > div:nth-child(2) {
	margin-top : 10px;
	display: flex;
}
.reserve_process > div:nth-child(2) > div{
	margin: auto;
}


								/* reserver info section */

section.reserver_info{
	margin : auto;
	width: 960px;
}
section.reserver_info > div:nth-child(1) > div:nth-child(1) {
	margin-top : 50px;
	margin-bottom : 4px;
	font-size: 20px;
	font-weight: bolder;
}
section.reserver_info > div:nth-child(1) > div:nth-child(2) {
	font-size: 13px;
	margin-bottom: 10px;
}
div.reserver_info_flex > div{
	height: 60px;
	display: flex;
	line-height: 60px;
	border-top: 1.5px solid var(--color_blue_1);
}								
div.reserver_info_flex > div:first-child  {
	
	border-top: 3px solid var(--color_blue_1);
}								
div.reserver_info_flex > div:last-child{
	border-bottom: 3px solid var(--color_blue_1);
}
div.reserver_info_flex > div > div:nth-child(1){
	width: 155px;
	text-align: center;
	background-color: var(--color_blue_2);
	font-weight: bolder;
}			
div.reserver_info_flex > div > div:nth-child(2){
	margin-left : 10px;
}			
div.reserver_info_flex > div > div:nth-child(2) > input[type=text]{
	width: 300px;
	height: 35px;
	border : 1px solid  var(--color_blue_1);
	border-radius: 50px;
	text-align: left;
	outline-color:  var(--color_blue_1);
}			
										/* 탑승자 정보 */
section.passenger_wrap{
	margin : auto;
	margin-top : 75px;
	width: 960px;
	border-bottom: 3px solid var(--color_blue_1);
}
section.passenger_wrap > div:first-child{
	font-size: 20px;
	margin-left: 5px;
	font-weight: bolder;
	padding-bottom : 10px;
}
div.passenger_info{
	margin : auto;
	
}
div.passenger_info > div:first-child{
	border-top : 3px solid var(--color_blue_1);
	border-bottom : 1px solid var(--color_blue_1);
}

div.passenger_info_flex > div{
	display : flex;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom : 1px solid var(--color_blue_1);
}

div.passenger_info_flex > div:first-child > div:first-child{
	width: 140px;
	background-color: var(--color_blue_2);
	font-weight: bold;
	
}
div.passenger_info_flex > div:first-child > div:last-child{
	margin-left: unset;
	text-align: left
}
div.passenger_info_flex > div > div:nth-child(1){
	width: 140px;
	background-color: var(--color_blue_2);
	font-weight: bold;
	
}
div.passenger_info_flex > div > div:nth-child(2){
	width: 320px;

}
div.passenger_info_flex > div > div:nth-child(3){
	width: 140px;
	background-color: var(--color_blue_2);
	font-weight: bold;
}
div.passenger_info_flex > div > div:nth-child(4){
	width: 320px;
}
div.passenger_info_flex > div > div:nth-child(1) > div:first-child{
	height : 20px;
}
div.passenger_info_flex > div > div:nth-child(1) > div:last-child{
	font-size: 12px;
	margin-top: -5px;
}
div.passenger_info_flex > div > div:nth-child(3) > div:first-child{
	height : 20px;
}
div.passenger_info_flex > div > div:nth-child(3) > div:last-child{
	font-size: 12px;
	margin-top: -5px;
}


div.passenger_info_flex > div > div > input[type=text] , 
div.passenger_info_flex > div > div > select 
{
	width: 300px;
	height: 35px;
	border : 1px solid  var(--color_blue_1);
	border-radius: 50px;
	outline-color:  var(--color_blue_1);
}
div.passenger_info_flex > div > div > input[type=radio]{
	margin-left : 20px;
}

	
												/* 수하물 section */

div.select_baggage{
	margin : auto;
	margin-top: 20px;
}
div.select_baggage > div{
	margin-bottom: 10px;
}
div.select_baggage_flex{
	border-top: 1px solid var(--color_blue_1);
}
div.select_baggage_flex > div{
	display: flex;
}
div.select_baggage_flex > div:first-child{
	background-color: var(--color_blue_2);
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	
}
div.select_baggage_flex > div > *{
	width: 240px;
	text-align: center;
	border-left: 1px solid var(--color_blue_1);
}
div.select_baggage_flex > div > *:first-child{
	border-left: none;
}
div.select_baggage_flex > div > label{
	width: 240px;
	text-align: center;
}

div.kg10{
	margin : 20px auto;
	width: 150px;
	height : 150px;
	background-image: url(../../images/10kg.png);
	background-size: cover;
}
div.kg20{
	margin : 20px auto;
	width: 150px;
	height : 150px;
	background-image: url(../../images/20kg.png);
	background-size: cover;
}
div.kg30{
	margin : 20px auto;
	width: 150px;
	height : 150px;
	background-image: url(../../images/30kg.png);
	background-size: cover;
}
div.kg40{
	margin : 20px auto;
	width: 150px;
	height : 150px;
	background-image: url(../../images/40kg.png);
	background-size: cover;
}
div.select_baggage_flex > div > label > div:nth-child(2) > div:first-child{
	float : left;
	margin-left: 40px;
}
div.select_baggage_flex > div > label > div:nth-child(2) > div:last-child{
	float : right;
	margin-right: 40px;
	font-weight: bold;
}
div.select_baggage_flex > div > label > input {
	display : block;
	clear: both;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
}




section.baby{
	border-bottom: none;

}
section.into_submit{
	width: 960px;
	margin: auto;
}




section.final_confirm{
	width: 960px;
	margin: auto;
}

.agreement{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}




								/* final_confirm */

					/* hotel 약관 동의 가져온 것 */

input[type=checkbox]{ 
	display:none; 
}

input[type=checkbox] + label { 
    cursor: pointer;
    width: 20px;
	height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../images/skybluecheck.png");
	background-size: 100%;
}
	
input[type=checkbox]:checked + label { 
		background-image: url("../../images/bluecheck.png");
		border: none;
}

.agreement{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.refund{
 	display: flex;
/* 	align-items: center; */
	margin-bottom: 10px;
}

.class_info{
	flex-grow: 1;
}

.required{
	flex-grow: 40;
}

.radio_wrap{
	display: flex;
} 

.caution{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}


.policy_check > div.caution > p.required{
	flex-grow: 45;
}

.personal_info{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.policy_check > div.personal_info > p.required {
	flex-grow: 45;
}

.third_party{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.policy_check > div.third_party > p.required {
	flex-grow: 45;
}

.marketing{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.policy_check > div.marketing > p.option {
	flex-grow: 40;
}

.yes{
	margin-left: 100px;
}

.paycheck{
	margin-top: 50px;
	margin-bottom: 10px;
}

.paycheck_wrap{
	background-color: var(--color_blue_2); 
	padding: 10px 0;
}

.paycheck_info{
	width: 860px;
	margin: 0 auto;
}

.total_cost{
	display:flex;
	justify-content: space-between;
}
.how_much{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font2);
}

.total_num{
	color: red;
	font-size: var(--font4);
}
input.total_value{
	font-size: var(--font1);
	color: red;
	text-align: right;
	
	width: 300px;
	height: 35px;
	border : 1px solid  var(--color_blue_1);
	border-radius: 50px;
	background-color : white;
	outline-color:  var(--color_blue_1);
	
	background: none;
	border: none;
}
input.total_value::placeholder{
	text-align: center;
}


div.final_check_info{
	height: 60px;
	margin: 30px;
}

div.final_check_info > div{
	display: flex;
}
div.final_check_info > div:first-child{
	height: 15px;
	margin: 5px 5px;
	line-height: 15px;
}
div.final_check_info > div:last-child{
	height: 35px;
	line-height: 15px;
	margin-bottom: 20px;
}

div.final_check_info > div:last-child >*{
	margin-right: 10px;
	line-height: 35px;
	font-size: 17px;
}

div.final_check_lineup{
	display: flex;
	font-size: 12px;
}
div.airlineCode{
	font-size : 15px;
	margin-left: 40px;
}
div.flightNo{
	width: 150px;
	font-weight: bolder;
}

div.final_check_info > div:last-child > div:nth-child(2),
div.final_check_info > div:last-child > div:nth-child(4){
	width:  70px;
	text-align: center;
	font-weight: bolder;
}
div.date_time_local{
	width: 200px;
	
}
div.date_time{
	height : 15px;
	font-size: 12px;
	display: flex;
	margin-top: -10px
}
div.departTime{
	margin-left: 2px;
}




input[type=radio]{
	-webkit-appearance: none; 
	width: 20px;
	height: 20px;
	border-radius: 50%;
	outline: none; 
	background-image: url("../../images/skybluecheck.png");
	background-size : cover;
	cursor: pointer;

}
input[type="radio"]:checked{
	background-image: url("../../images/bluecheck.png");
	border: none;
  
}

input.info_submit_btn {
	width: 960px;
	height: 45px;
	border-radius: 30px;
	
	border-color:  var(--color_blue_1);
	background-color: white;
	font-size:  21px;
	font-weight: bold;
	margin: 20px 0;
	font-family: 'SOYOMapleRegularTTF';
	
	display: none;
}

input.info_submit_btn:hover {
	background-color: var(--color_blue_1);
	color: white;
}

input , label{
	cursor: pointer;
}
section.info_sumit_button_section{
	width: 960px;
	margin: auto;
}
button.info_submit_btn {
	margin : auto;
	width: 960px;
	height: 45px;
	border-radius: 30px;
	
	border-color:  var(--color_blue_1);
	background-color: white;
	font-size:  21px;
	font-weight: bold;
	margin: 20px 0;
	font-family: 'SOYOMapleRegularTTF';
}

button.info_submit_btn:hover {
	background-color: var(--color_blue_1);
	color: white;
}

input , label,button{
	cursor: pointer;
}
div.errorJ{
	position: absolute;
	font-size: 12px;
	color: red;
	margin-top: -33px;
	margin-left: 15px;
	display: none;
	pointer-events : none;
}

								/* footer */
