<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/airline/airline_main.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<meta charset="UTF-8">
<title>슈슝</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-">
						<!-- 여기부터 작성 -->
			<section class="search_section">
				
				<div class="search">
					<div class="tab">
						<button class="tablinks pointer" id="one_way_btn" onclick="ticketType(event,'one_way','one_way_btn')">편도</button>
						<button class="tablinks pointer" id="round_trip_btn" onclick="ticketType(event,'round_trip','round_trip_btn')">왕복</button>
					</div>
					
					<div id="one_way" class="tabcontent">
						<div class="depart_arrival_flex">
							<button id="depart" class="according_btn pointer"  onclick="accordingInfo(event,'depart_accoding')">출발지</button>
							<img class="type" alt="one_way" th:src="@{/images/airline_one_way.png}">
							<button id="arrival" class="according_btn pointer" onclick="accordingInfo(event,'arrival_accoding')">도착지</button>
						</div>
						<div>
							<button id="one_way_date" class="according_btn pointer" onclick="accordingInfo(event,'date_accoding')">
								<div>날짜 선택</div>
								<img alt="달력 사진" src="">
							</button>
							
						</div>
						
						<div>
							<button id=people_lineup class="according_btn pointer" onclick="accordingInfo(event,'people_lineup_sit_accoding')">일반석/성인1/소아0/유아0</button>
						</div>
						
						<input type="submit" value="검색">
					</div>
					
					<div id="round_trip" class="tabcontent">
						<div class="depart_arrival_flex">
							<button id="depart" class="according_btn pointer" onclick="accordingInfo(event,'depart_accoding')">출발지</button>
							<img class="type" alt="one_way" th:src="@{/images/airline_one_way.png}">
							<button id="arrival" class="according_btn pointer" onclick="accordingInfo(event,'arrival_accoding')">도착지</button>
						</div>
						
						<div>
							<button id="round_trip_date" class="according_btn pointer" onclick="accordingInfo(event,'date_accoding')">
								<div>날짜 선택</div>
								<img alt="달력 사진" src="">
							</button>
							
						</div>
						
						<div>
							<button id=people_lineup class="according_btn pointer" onclick="accordingInfo(event,'people_lineup_sit_accoding')">일반석/성인1/소아0/유아0</button>
						</div>
						
						<input type="submit" value="검색">
					</div>
					
				</div>
			</section>
			
			<!-- checkpoint -->
			<section class="according_section">
				<div class="one_way_accoding">
					<div id="depart_accoding" class="according">
						<div class="accoding_title">출발지</div>
						<div class="depart_nation">
							<button id="btn_dep_korea" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_korea','btn_dep_korea')">한국</button>
							<button id="btn_dep_japan" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_japan','btn_dep_japan')">일본</button>
							<button id="btn_dep_china" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_china','btn_dep_china')">중국</button>
							<button id="btn_dep_USA" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_USA','btn_dep_USA')">미국</button>
							<button id="btn_dep_canada" class="according_section_depart_tablinks pointer" onclick="departNation(event,'depart_canada','btn_dep_canada')">캐나다</button>
						</div>
						
						<div id="depart_korea" class="according_section_depart_tabcontent">
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="ICN" class="depart_accoding_value pointer">인천</button>
							<button id="GMP" class="depart_accoding_value pointer">김포</button>
							<button id="PUS" class="depart_accoding_value pointer">김해</button>
							
						</div>
						
						<div id="depart_japan" class="according_section_depart_tabcontent">
							<button id="TYO" class="depart_accoding_value pointer">도쿄</button>
							<button id="KIX" class="depart_accoding_value pointer">오사카</button>
							<button id="FUK" class="depart_accoding_value pointer">후쿠오카</button>
							<button id="NGO" class="depart_accoding_value pointer">나고야</button>
							<button id="CTS" class="depart_accoding_value pointer">삿포로</button>
						</div>
						
						<div id="depart_china" class="according_section_depart_tabcontent">
							<button id="CAN" class="depart_accoding_value pointer">광저우</button>
							<button id="PEK" class="depart_accoding_value pointer">베이징</button>
							<button id="SHA" class="depart_accoding_value pointer">상하이</button>
						</div>
						
						<div id="depart_USA" class="according_section_depart_tabcontent">
							<button id="LAX" class="depart_accoding_value pointer">로스앤젤레스</button>
							<button id="HNL" class="depart_accoding_value pointer">호놀룰루</button>
							<button id="JFK" class="depart_accoding_value pointer">뉴욕</button>
						</div>
						
						<div id="depart_canada" class="according_section_depart_tabcontent">
							<button id="YYZ" class="depart_accoding_value pointer">토론토</button>
							<button id="YUL" class="depart_accoding_value pointer">몬트리올</button>
							<button id="YVR" class="depart_accoding_value pointer">밴쿠버</button>
							<button id="YYC" class="depart_accoding_value pointer">캘거리</button>
							<button id="YOW" class="depart_accoding_value pointer">오타와</button>
						</div>
						
					</div>
					
					<div id="arrival_accoding" class="according">
						<div class="accoding_title">도착지</div>
						<div class="arrival_nation">
							<button id="btn_ari_korea" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_korea','btn_ari_korea')">한국</button>
							<button id="btn_ari_japan" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_japan','btn_ari_japan')">일본</button>
							<button id="btn_ari_china" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_china','btn_ari_china')">중국</button>
							<button id="btn_ari_USA" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_USA','btn_ari_USA')">미국</button>
							<button id="btn_ari_canada" class="according_section_arrival_tablinks pointer" onclick="arrivalNation(event,'arrival_canada','btn_ari_canada')">캐나다</button>
						</div>
						<div id="arrival_korea" class="according_section_arrival_tabcontent">
							<button id="ICN" class="arrival_accoding_value pointer">인천</button>
							<button id="GMP" class="arrival_accoding_value pointer">김포</button>
							<button id="PUS" class="arrival_accoding_value pointer">김해</button>
						</div>
						
						<div id="arrival_japan" class="according_section_arrival_tabcontent">
							<button id="TYO" class="arrival_accoding_value pointer">도쿄</button>
							<button id="KIX" class="arrival_accoding_value pointer">오사카</button>
							<button id="FUK" class="arrival_accoding_value pointer">후쿠오카</button>
							<button id="NGO" class="arrival_accoding_value pointer">나고야</button>
							<button id="CTS" class="arrival_accoding_value pointer">삿포로</button>
						</div>
						
						<div id="arrival_china" class="according_section_arrival_tabcontent">
							<button id="CAN" class="arrival_accoding_value pointer">광저우</button>
							<button id="PEK" class="arrival_accoding_value pointer">베이징</button>
							<button id="SHA" class="arrival_accoding_value pointer">상하이</button>
						</div>
						
						<div id="arrival_USA" class="according_section_arrival_tabcontent">
							<button id="LAX" class="arrival_accoding_value pointer">로스앤젤레스</button>
							<button id="HNL" class="arrival_accoding_value pointer">호놀룰루</button>
							<button id="JFK" class="arrival_accoding_value pointer">뉴욕</button>
						</div>
						
						<div id="arrival_canada" class="according_section_arrival_tabcontent">
							<button id="YYZ" class="arrival_accoding_value pointer">토론토</button>
							<button id="YUL" class="arrival_accoding_value pointer">몬트리올</button>
							<button id="YVR" class="arrival_accoding_value pointer">밴쿠버</button>
							<button id="YYC" class="arrival_accoding_value pointer">캘거리</button>
							<button id="YOW" class="arrival_accoding_value pointer">오타와</button>
						</div>
					</div>
					
					<div id="date_accoding" class="according">
						<button id="depart_date">가는날</button>
						<button id="arrival_date">오는날</button>
						<button id="btn_return_depart_date">가는날 설정 변경</button>
						
						<div>
							<div id='calendar'></div>
						</div>
  
					</div>
					
					<div id="people_lineup_sit_accoding" class="according">
						<div class="people_lineup">
							<div id="adult">
								<h1>어른 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="adult_value">1</div>
								<button id="plus" class="pointer">+</button>						
							</div>
							<div id="child">
								<h1>소아 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="child_value">0</div>
								<button id="plus" class="pointer">+</button>						
							</div>
							<div id="baby">
								<h1>유아 :</h1>
								<button id="minus" class="pointer">-</button>
								<div id="baby_value">0</div>
								<button id="plus" class="pointer">+</button>						
							</div>
						</div>
						<div class="sit">
							<button id="sit3" class="sit_kinds pointer">이코노미석</button>
							<button id="sit2" class="sit_kinds pointer">비즈니스석</button>
							<button id="sit1" class="sit_kinds pointer">일등석</button>
						</div>	
					</div>
				</div>
				
				
				<div class="round_trip_accoding">
				
				</div>
			</section>
			
			
			
			<section class="input_values">
				<div>
					<form action="">
						<input type="text" name="hidden_ticket_type" id="hidden_ticket_type" 	value="1" 	readonly="readonly" required="required">
						<input type="text" name="hidden_depart_value" id="hidden_depart_value" 				readonly="readonly" required="required">
						<input type="text" name="hidden_arrival_value" id="hidden_arrival_value"		 	readonly="readonly" required="required">
						<input type="text" name="hidden_depart_date" id="hidden_depart_date" 				readonly="readonly" required="required">
						<input type="text" name="hidden_arrival_date" id="hidden_arrival_date" 				readonly="readonly" required="required">
						<input type="text" name="hidden_adult" id="hidden_adult" 				value="1" 	readonly="readonly" required="required">
						<input type="text" name="hidden_child" id="hidden_child" 				value="0"	readonly="readonly" required="required">
						<input type="text" name="hidden_baby" id="hidden_baby" 					value="0"	readonly="readonly" required="required">
						<input type="text" name="hidden_sit_type" id="hidden_sit_type" 			value="sit3"	readonly="readonly" required="required">
					</form>					
				</div>
			</section>
			
			
			<section class="recommend_section">
				<div class="recomend_section_cheap_background">
					<div class="recommend_cheap">
						<div> 저렴한곳 순서</div>
						<div class="cheap_slides" id="cheap_slides" >
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진1
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진2
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~2
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원2</div>
								</div>
							</div>
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진3
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~3
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원3</div>
								</div>
							</div>
						</div>
						
						<div class="cheap_slides" id="cheap_slides" >
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진4
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~4
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원4</div>
								</div>
							</div>
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진5
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~5
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원5</div>
								</div>
							</div>
							<div class="slides_wrap" id="cheap_slides_wrap">
								<div class="slides_image" id="cheap_slides_image">
									사진6
								</div>
								<div class="slides_name" id="cheap_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~6
								</div>
								<div class="slides_price" id="cheap_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원6</div>
								</div>
							</div>
						</div>
						
						
						
						<button id="cheap_slide_prev" class="slide_prev pointer" onclick="cheapSlidePlusSlides(-1)"></button>
						<button id="cheap_slide_next" class="slide_next pointer" onclick="cheapSlidePlusSlides(1)"></button>
					</div>
				</div>
				
				
				<div class="recomend_section_fast_background">
					<div class="recommend_fast">
						<div> 저렴한곳 순서</div>
						<div class="fast_slides" id="fast_slides" >
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							
						</div>
						
						<div class="fast_slides" id="fast_slides" >
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							<div class="slides_wrap" id="fast_slides_wrap">
								<div class="slides_image" id="fast_slides_image">
									사진1
								</div>
								<div class="slides_name" id="fast_slides_name">
									맑고 투명한 물~~ 괌으로 오세요~~1
								</div>
								<div class="slides_price" id="fast_slides_price">
									성인 1인 기준 :  
									<div>10,000,000원1</div>
								</div>
							</div>
							
						</div>
						
						
						
						
						
						<button id="fast_slide_prev" class="slide_prev pointer" onclick="fastSlidePlusSlides(-1)"></button>
						<button id="fast_slide_next" class="slide_next pointer" onclick="fastSlidePlusSlides(1)"></button>
					</div>
				</div>
			</section>
			
			
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
	
			<!-- 자바스크립트 -->
			
			
	<script>
	
	$(loadedHandler)
	function loadedHandler(){
		$(".according").css("display","none");
	}
	
				/* 편도 왕복 적용하는 펑션 */		
		function ticketType(event,ticketType,ticketTypeBtn){
			var i, tabcontent, tablinks;
			tabcontent=document.getElementsByClassName("tabcontent");
			tablinks = document.getElementsByClassName("tablinks");

			
			for(i = 0 ; i<tabcontent.length; i++){
				tabcontent[i].style.display="none";
			}
		
			for(i=0; i<tablinks.length; i++){
				tablinks[i].style.border= "none";
			}
		
			document.getElementById(ticketType).style.display="block";
			document.getElementById(ticketTypeBtn).style.borderBottom = "2px solid  rgb(0,106,255)";
			
			event.currentTarget.className +=" active";
		}	
			
				/* 편도 왕복 value input */
		$("button.tablinks").on("click",function(){
			if($(this).attr("id")=="one_way_btn"){
				$("#hidden_ticket_type").val(1);
			}else if($(this).attr("id")=="round_trip_btn"){
				$("#hidden_ticket_type").val(2);
			}
		});
		
				/* 출입국 지역 날짜 인원 according 버튼 펑션 */		
		function accordingInfo(event,accordingInfo){
			var i, according;
			according = document.getElementsByClassName("according");
			
			if(document.getElementById(accordingInfo).style.display==="block"){
				for(i=0 ; i<according.length; i++){
					according[i].style.display="none";
				}
			}else{
				for(i=0 ; i<according.length; i++){
					according[i].style.display="none";
				}
				if(accordingInfo == "depart_accoding" || accordingInfo == "arrival_accoding"){
					document.getElementById(accordingInfo).style.display="flex";
				}else{
					document.getElementById(accordingInfo).style.display="block";
				}
			}
		}
		
				/* checkpoint */
				/* 출국 설정하는 vertical Tabs 적용하는 펑션 */
		function departNation(event,nation,nationId){
			var i, tabcontent, tablinks;
			tabcontent=document.getElementsByClassName("according_section_depart_tabcontent");
			tablinks = document.getElementsByClassName("according_section_depart_tablinks");
			
			for(i = 0 ; i<tabcontent.length; i++){
				tabcontent[i].style.display="none";
			}
		
			for(i=0; i<tablinks.length; i++){
				tablinks[i].style.fontWeight ="0";
				tablinks[i].style.backgroundColor = "white";
			}
		
			document.getElementById(nation).style.display="block";
			document.getElementById(nationId).style.fontWeight ="900" ;
			document.getElementById(nationId).style.backgroundColor = "var(--color_blue_2)";
			}
				
				/* 입국 설정하는 vertical Tabs 적용하는 펑션 */
		function arrivalNation(event,nation,nationId){
			var i, tabcontent, tablinks;
			tabcontent=document.getElementsByClassName("according_section_arrival_tabcontent");
			tablinks = document.getElementsByClassName("according_section_arrival_tablinks");
			
			
			for(i = 0 ; i<tabcontent.length; i++){
				tabcontent[i].style.display="none";
			}
		
			for(i=0; i<tablinks.length; i++){
				tablinks[i].style.fontWeight ="0";
				tablinks[i].style.backgroundColor = "white";
			}
		
			document.getElementById(nation).style.display="block";
			document.getElementById(nationId).style.fontWeight ="900" ;
			document.getElementById(nationId).style.backgroundColor = "var(--color_blue_2)";
			
			event.currentTarget.className +=" active";
		}
		
				/* 출국 바 이름 변경 + value input + 입국 according open 펑션 */
		$("button.depart_accoding_value").on("click",function(){
			$("#depart").text($(this).text());										/*  바 이름 변경 */
	$("#hidden_depart_value").val($(this).attr("id"));								/* value input */
			document.getElementById("depart_accoding").style.display="none"; 		/* 출국 according close */
			document.getElementById("arrival_accoding").style.display="block";		/* 입국 according open */
		});
				
				/* 입국 value input 펑션 */
		$("button.arrival_accoding_value").on("click",function(){
			$("#arrival").text($(this).text());										/*  바 이름 변경 */
	$("#hidden_arrival_value").val($(this).attr("id"));								/* value input */
			document.getElementById("arrival_accoding").style.display="none";		/* 입국 according close */
			document.getElementById("date_accoding").style.display="block";			/* 날짜 according open */
		});
				
				
				/* 날짜 설정하는 펑션  */
				
														/* 달력 api */
	    document.addEventListener('DOMContentLoaded', function() {
	    	 var date = new Date();
	    	    var year = date.getFullYear();
	    	    var month = ("0" + (1 + date.getMonth())).slice(-2);
	    	    var day = ("0" + date.getDate()).slice(-2);
	    	
	    	const departdate = new Date($("#hidden_depart_date").val());
	    	const arrivaldate = new Date($("#hidden_arrival_date").val());
		    var ij = 0;		
			var calendarEl = document.getElementById('calendar');
		    var calendar = new FullCalendar.Calendar(calendarEl, {
		   		initialView: 'dayGridMonth',
		       	dateClick: function(info) {
		       		
					if($("#hidden_ticket_type").val()==1){
					   	$("#hidden_depart_date").val(info.dateStr);
					   	$("#one_way_date").children(1).text($("#hidden_depart_date").val());
					   	document.getElementById("date_accoding").style.display="none";
					   	document.getElementById("people_lineup_sit_accoding").style.display="block";
					}else if($("#hidden_ticket_type").val()==2){
						if($("#depart_date").css("display")=="block"){
							if(year + "-" + month + "-" + day > info.dateStr){
								alert("금일보다 과거의 날짜를 선택하실 수 없습니다. \n다시 입력해 주시길 바랍니다.");
								$("#round_trip_date").children(1).text("날짜 선택");
							}else if(year + "-" + month + "-" + day <= info.dateStr){
								$("#hidden_depart_date").val(info.dateStr);
								$("#round_trip_date").children(1).text($("#hidden_depart_date").val()+"/");
								document.getElementById("btn_return_depart_date").style.display="block";
								document.getElementById("depart_date").style.display="none";
								document.getElementById("arrival_date").style.display="block";
							}
						}
						else if($("#arrival_date").css("display")=="block"){
							$("#hidden_arrival_date").val(info.dateStr);
							if($("#hidden_depart_date").val() > $("#hidden_arrival_date").val()){
								alert("출발일보다 과거의 날짜를 선택하실 수 없습니다. \n다시 입력해 주시길 바랍니다.");
								$("#round_trip_date").children(1).text("날짜 선택");
							}
							else if($("#hidden_depart_date").val() <= $("#hidden_arrival_date").val()){
								$("#round_trip_date").children(1).text($("#hidden_depart_date").val()+"/ \n"+$("#hidden_arrival_date").val());
								document.getElementById("btn_return_depart_date").style.display="none";
								document.getElementById("arrival_date").style.display="none";
								document.getElementById("depart_date").style.display="block";
								document.getElementById("date_accoding").style.display="none";
								document.getElementById("people_lineup_sit_accoding").style.display="block";
							}
						}
					}
		       	}
		    });
		    calendar.render();
	    });
	    
													/* 오는날에서 가는날로 전환 */
		$("#btn_return_depart_date").on("click",function(){
			document.getElementById("arrival_date").style.display="none";
			document.getElementById("btn_return_depart_date").style.display="none";
			document.getElementById("depart_date").style.display="block";
		});		
				
				/* 인원 설정하는 펑션 - plus */
		$("button#plus").on("click",function(){
			if(Number($("div#adult").children("div").text()) == Number($("div#baby").children("div").text())){
				if($(this).parent().attr("id")=="adult"||$(this).parent().attr("id")=="child"){
					$(this).prev().text(Number($(this).prev().text())+1);
				}else if($(this).parent().attr("id")=="baby"){
					alert("유아는 좌석이 따로 배정되지 않으므로, \n성인보다 많이 탑승할 수 없습니다.");
				}
			}else if(Number($("div#adult").children("div").text()) <= Number($("div#baby").children("div").text())){
				alert("유아는 좌석이 따로 배정되지 않으므로, \n성인보다 많이 탑승할 수 없습니다.");
			}else{
				$(this).prev().text(Number($(this).prev().text())+1);
			}
			
		});
			
			/* 인원 설정하는 펑션 - minus */
		$("button#minus").on("click",function(){
			if(Number($(this).next().text()) < 1){
				alert("인원은 0명 이하로 입력하실 수 없습니다.");
			}else if(Number($("div#adult").children("div").text()) == Number($("div#baby").children("div").text())){
				if($(this).parent().attr("id")=="adult"){
					alert("유아는 좌석이 따로 배정되지 않으므로, \n성인보다 많이 탑승할 수 없습니다.");
				}else if($(this).parent().attr("id")=="baby"||$(this).parent().attr("id")=="child"){
					$(this).next().text(Number($(this).next().text())-1);
				}
			}else if(Number($("div#adult").children("div").text()) < Number($("div#baby").children("div").text())){
				alert("유아는 좌석이 따로 배정되지 않으므로, \n성인보다 많이 탑승할 수 없습니다.");
			}else{
			$(this).next().text(Number($(this).next().text())-1);
			}
		});
			
					/* 좌석 설정하는 펑션 */
		$("button.sit_kinds").on("click",function(){
			var kinds = document.getElementsByClassName("sit_kinds");
			for(i = 0 ; i<kinds.length; i++){
				kinds[i].style.background="none";
				kinds[i].style.color="black";
			}
		document.getElementById($(this).attr("id")).style.backgroundColor="var(--color_blue_2)";
		document.getElementById($(this).attr("id")).style.color="black";
		}); 
					
					/* 인원 or 좌석 input value + 바에 띄우기  */
		$("button#plus").on("click",lineupSitFunction);
		$("button#minus").on("click",lineupSitFunction);
		$("button.sit_kinds").on("click",lineupSitFunction);
		function lineupSitFunction(){
		 	if($(this).parent().attr("id")=="adult"){
		 		$("#hidden_adult").val($("#adult_value").text());}
			else if($(this).parent().attr("id")=="child"){
				$("#hidden_child").val($("#child_value").text());			}
			else if($(this).parent().attr("id")=="baby"){
		 		$("#hidden_baby").val($("#baby_value").text());}
			else if($(this).parent().attr("class")=="sit"){
				$("#hidden_sit_type").val($(this).attr("id"));
			} 
		 	
		 	$("#people_lineup").text(
		 		$("#"+$("#hidden_sit_type").val()).text() +"/"+
				"성인"+$("#hidden_adult").val()+"/"+
				"소아"+$("#hidden_child").val()+"/"+
				"유아"+$("#hidden_baby").val()
		 	);
		 
		}
		
		
		
		
				/*  Slide 기능 넣는 섹션 */
	let cheapSlideIndex = 1;
	cheapShowSlides(cheapSlideIndex);		
	
	function cheapSlidePlusSlides(n) {
		cheapShowSlides(cheapSlideIndex += n);
	}
	
	function cheapSlideCurrentSlide(n) {
		cheapShowSlides(cheapSlideIndex = n);
	}

	function cheapShowSlides(n) {
		
	  let i;
	  let slides = document.getElementsByClassName("cheap_slides");
	  if (n == slides.length) {
		  document.getElementById("cheap_slide_next").style.display="none";
		  document.getElementById("cheap_slide_prev").style.display="block";
		  }    
	  if (n == 1) {
		  document.getElementById("cheap_slide_prev").style.display="none";
		  document.getElementById("cheap_slide_next").style.display="block";
		  }
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none";  
	  }
	  slides[cheapSlideIndex-1].style.display = "flex";  
	}
	
	
	
	
	let fastSlideIndex = 1;
	fastShowSlides(fastSlideIndex);		
	
	function fastSlidePlusSlides(n) {
		fastShowSlides(fastSlideIndex += n);
	}
	
	function fastSlideCurrentSlide(n) {
		fastShowSlides(fastSlideIndex = n);
	}

	function fastShowSlides(n) {
		
	  let i;
	  let slides = document.getElementsByClassName("fast_slides");
	  
	  if (n == slides.length) {
		  document.getElementById("fast_slide_next").style.display="none";
		  document.getElementById("fast_slide_prev").style.display="block";
		  }    
	  if (n == 1) {
		  document.getElementById("fast_slide_prev").style.display="none";
		  document.getElementById("fast_slide_next").style.display="block";
		  }
	  for (i = 0; i < slides.length; i++) {
	  		slides[i].style.display = "none";  
	  }
	  slides[fastSlideIndex-1].style.display = "flex";  
	}
		
	
	
    
	
	
	</script>
	
</body>
</html>