<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_searchbar.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_main.css}" rel="stylesheet" />
	<link th:href="@{/css/calendar_ss.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<meta charset="UTF-8">
	
<title>Insert title here</title>
<script type="text/javascript">
var select_status = 0;

let currentIndex = 0;	//캐러셀 index

$(loadedHandler);

function loadedHandler() {
	//$('.wrap-date-box').css('display', 'none');	//처음 화면에서 달력 안보이게
	$('.input.location').on('click', locationClickHandler);
	$('.country').on('click', localClickHandler);
	$('.local').on('click', selectLocHandler);
	$('.input.time').on('click', timeClickHandler);
	$('.input.room').on('click', roomClickHandler);
	$('.plus').on('click', plusClickHandler);
	$('.minus').on('click', minusClickHandler);
	$('.left.btn2').on('click', leftClickHandler);
	$('.right.btn2').on('click', rightClickHandler);
	slide(0);
}
</script>	
<script th:src="@{/js/hotel/hotel_main.js}"		type="text/javascript"></script>
<script th:src="@{/js/hotel/hotel_searchbar.js}"		type="text/javascript"></script>
<script th:src='@{/js/calendar_ss.js}'></script>
</head>
<body>
	<div class="wrap-header">
		<header>
			<div th:replace="~{common/header :: Header}"></div>
			<div class="hrline">
				<hr>
			</div>
		</header>
		<div class="wrap-hotel-main">
			<div class="main-back" th:fragment="hotelSearchBar">
				<div class="wrap-hotel-search">
					<div style="height: 220px;"></div>
					<form class="hotel-search-bar" method="get" action="/shushoong/hotel/list">
						<button type="button" class="input location"><input type="text" class="selected-loc" name="nation" th:value="${nation}" style="width: 136px;" readonly placeholder="지역 명"><input type="hidden" name="loc" th:value="${hotelCode}"><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/></button>
						<button type="button" class="input time"><span>숙박 일정</span><span class="check-in-date" th:text="${checkIn}"></span> - <span class="check-out-date" th:text="${checkOut}"></span><input type="hidden" class="check-in" name="checkIn" th:value="${checkIn}"><input type="hidden" class="check-out" name="checkOut" th:value="${checkOut}"><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/></button>
						<button type="button" class="input room">
							<span class="num-of-people">객실 <span class="room-num">1</span> - 성인 <span class="adult-num">2</span>, 아동 <span class="child-num">0</span></span>
							<input type="hidden" name="room" value="1"><input type="hidden" name="adult" value="2"><input type="hidden" name="child" value="0"><img th:src="@{/images/icon_pin.png}" alt="핀" width="16px"/>
						</button>
						<button type="submit" class="search btn">검색</button>
					</form>
					<div class="wrap-loc-box">
						<div class="loc-inner-box">
							<div class="country-box">
								<div class="country korea">한국</div>
								<div class="country china">중국</div>
								<div class="country japan">일본</div>
								<div class="country america">미국</div>
							</div>
							<div class="local-box korea" style="display: grid;">
								<div class="local" data-nation="0" data-loccode="JJ">제주</div>
								<div class="local" data-nation="0" data-loccode="GN">강릉</div>
								<div class="local" data-nation="0" data-loccode="SE">서울</div>
								<div class="local" data-nation="0" data-loccode="GJ">광주</div>
								<div class="local" data-nation="0" data-loccode="PC">평창</div>
								<div class="local" data-nation="0" data-loccode="IC">인천</div>
								<div class="local" data-nation="0" data-loccode="SC">속초</div>
								<div class="local" data-nation="0" data-loccode="BS">부산</div>
							</div>
							<div class="local-box china">
								<div class="local" data-nation="1" data-loccode="SH">상해</div>
								<div class="local" data-nation="1" data-loccode="BJ">북경</div>
								<div class="local" data-nation="1" data-loccode="CD">청도</div>
								<div class="local" data-nation="1" data-loccode="WH">위해</div>
								<div class="local" data-nation="1" data-loccode="GJ">광주</div>
								<div class="local" data-nation="1" data-loccode="DR">대련</div>
								<div class="local" data-nation="1" data-loccode="SA">서안</div>
								<div class="local" data-nation="1" data-loccode="YG">연길</div>
								<div class="local" data-nation="1" data-loccode="SD">성도</div>
								<div class="local" data-nation="1" data-loccode="JK">중경</div>
								<div class="local" data-nation="1" data-loccode="HB">하얼빈</div>
								<div class="local" data-nation="1" data-loccode="CJ">천진</div>
								<div class="local" data-nation="1" data-loccode="GM">곤명</div>
								<div class="local" data-nation="1" data-loccode="NK">남경</div>
							</div>
							<div class="local-box japan">
								<div class="local" data-nation="2" data-loccode="TK">도쿄</div>
								<div class="local" data-nation="2" data-loccode="OS">오사카</div>
								<div class="local" data-nation="2" data-loccode="KT">교토</div>
								<div class="local" data-nation="2" data-loccode="HO">후쿠오카</div>
								<div class="local" data-nation="2" data-loccode="OI">오이타(유후인/벳부)</div>
								<div class="local" data-nation="2" data-loccode="OK">오키나와</div>
								<div class="local" data-nation="2" data-loccode="SP">삿포로</div>
								<div class="local" data-nation="2" data-loccode="NG">나고야</div>
							</div>
							<div class="local-box america">
								<div class="local" data-nation="3" data-loccode="HN">호놀룰루(하와이)</div>
								<div class="local" data-nation="3" data-loccode="LA">LA</div>
								<div class="local" data-nation="3" data-loccode="NY">뉴욕</div>
								<div class="local" data-nation="3" data-loccode="LV">라스베가스</div>
								<div class="local" data-nation="3" data-loccode="SF">샌프란시스코</div>
								<div class="local" data-nation="3" data-loccode="SE">시애틀</div>
								<div class="local" data-nation="3" data-loccode="DC">워싱턴</div>
								<div class="local" data-nation="3" data-loccode="CH">시카고</div>
								<div class="local" data-nation="3" data-loccode="BO">보스톤</div>
								<div class="local" data-nation="3" data-loccode="MC">멕시코시티</div>
								<div class="local" data-nation="3" data-loccode="OR">올랜도</div>
								<div class="local" data-nation="3" data-loccode="CN">코나</div>
								<div class="local" data-nation="3" data-loccode="CE">카우아이</div>
							</div>
						</div>
					</div>
					<div class="wrap-date-box">
						<div id='calendar'></div>
					</div>
					<div class="wrap-room-box">
						<div class="select-people-head">객실 선택</div>
						<hr></hr>
						<div class="room amount">
							<div class="cat room"><p>객실<p></div>
							<div class="btn-area">
								<button type="button" class="btn minus">−</button>
								<div class="num">1</div>
								<button type="button" class="btn plus">+</button>
							</div>
						</div>
						<div class="select-people-head">인원</div>
						<hr></hr>
						<div class="wrap-people-num">
							<div class="wrap-people amount">
								<div class="cat adult"><p>성인 </p><p>만 12세 이상</p></div>
								<div class="btn-area">
									<button type="button" class="btn minus">−</button>
									<div class="num">2</div>
									<button type="button" class="btn plus">+</button>
								</div>
							</div>
							<div class="wrap-people amount">
								<div class="cat child"><p>아동 </p><p>만 12세 미만</p></div>
								<div class="btn-area">
									<button type="button" class="btn minus">−</button>
									<div class="num">0</div>
									<button type="button" class="btn plus">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="wrap-hot-hotel-list">
				<div class="hot-hotel-title">가장 많이 찾은 호텔</div>
				<div class="hot-hotel-list">
					<div class="list-wrapper" >
						<a class="hot-hotel" th:each="hothotel : ${hotHotelList}" th:href="@{/hotel/view/{hotelCode}(hotelCode=${hothotel.hotelCode})}">
							<div class="hot-hotel-pic"><img th:src="${hothotel.hotelPic}" alt="a" style="display: block;"/></div>
							<div class="hot-hotel-info">
								<div class="hot-hotel-name" th:text="${hothotel.hotelName}">호텔이름</div>
								<div class="wrap-price"><div class="hot-hotel-price" th:text="${hothotel.hotelPrice}">호텔 가격</div><div>원~</div></div>
							</div>
						</a>
					</div>
				</div>
				<button type="button" class="left btn2">&lt;</button>
				<button type="button" class="right btn2">&gt;</button>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
</body>
</html>