<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org">
<div th:fragment="review_info_wrap" class="review_info_wrap">


<div th:if="${reviewDetailDto}">
    <th:block th:if="${#lists.isEmpty(reviewDetailDto.reviewDtoList)}">
        <div style="text-align: center; margin: 30px; font-family: 'SOYOMapleBoldTTF';">작성된 리뷰가 없습니다.</div>
    </th:block>
     <th:block th:if="${not #lists.isEmpty(reviewDetailDto.reviewDtoList)}">
		<div th:each="reviewDetail:${reviewDetailDto.reviewDtoList}">
			<div class="review_flex">
				<div class="review_grade">
					<p class="review_rate" th:text="${reviewDetail.rateAvg}"></p>
					<div class="review_id">
						<img th:src="@{/images/person.png}" class="id_img" alt="오른쪽 화살표" style="width:20px;">
						<p style="font-size: var(--font3);" th:text="${reviewDetail.userId}"></p>
					</div>
					<div class="review_tripper">
						<img th:src="@{/images/suitcase.png}" class="tripper_img" alt="오른쪽 화살표" style="width:20px;">										
						<p style="font-size: var(--font3);" th:text="${reviewDetail.tripperCat}"></p>
					</div>
				</div>
				<div class="review_content_wrap">
					<div class="review_content_title">
						<p th:text=" ${reviewDetail.reviewTitle}"></p>
					</div>
					<div class="review_content">
						<p th:text=" ${reviewDetail.reviewComment}"></p>
					</div>
					<div class="review_content_date">
						<p th:text=" ${reviewDetail.reviewDate}"></p>
					</div>
				</div>
			</div>	
			<hr style="border: 1px solid #c5c5c5;"></hr>
		</div>
	</th:block>
</div>

<div th:if="${reviewDetailDto}">
	<div th:if="${reviewDetailDto.totalReviewCount > 0}">
		<div style="text-align: center;">
			<div class="paging_wrap">
				<div th:if="${reviewDetailDto.startPageNum > 1}" class="goprepage">
		            <button type="button" class="btn-gopage" th:data-targetpage="${reviewDetailDto.startPageNum - 1}">&lt;</button>
		        </div>
		        
		        <div th:each="page :  ${#numbers.sequence(reviewDetailDto.startPageNum, reviewDetailDto.endPageNum)}">
			        <div th:if="${reviewDetailDto.currentPage == page}" class="current_page">
			            <span th:text="${page}"></span>
			        </div>
			        <div th:if="${reviewDetailDto.currentPage != page}" class="gopage">
			            <button type="button" class="btn-gopage" th:data-targetpage="${page}" th:text="${page}"></button>
			        </div>
		        </div>
		        
		        <div th:if="${reviewDetailDto.endPageNum < reviewDetailDto.totalReviewCount}">
		            <button type="button" th:data-targetpage="${reviewDetailDto.endPageNum + 1}" class="btn-gopage">&gt;</button>
		        </div>			
			</div>
		</div>
	</div>
</div>
</div>
</html>