<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_view.css}" rel="stylesheet" />
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
	
	<!--chart.js CDN  -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" rel="stylesheet">
	<script src="https://fastly.jsdelivr.net/npm/chart.js"></script>
	
	<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoo40WSHtW0JekF2N6b0Tm1DHbifYiSOg&loading=async&callback=initMap"></script>
	
<meta charset="UTF-8">
<title>호텔 상세페이지</title>
</head>
<body  onload="initialize()">

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-main">
				<div th:each="hotel : ${hotelViewList}" class="hotel_name">
 					<div th:text="${hotel.hotelName}" class="name_kr">세인트존스 호텔</div>
					<div th:text="${hotel.hotelEng}" class="name_en">St.Jones Hotel</div>				
				</div>
				<hr></hr>
				<div class="hotel_pic">
					<div th:each="hotelpic : ${hotelViewList}"class="pic_slide">
						<th:block th:each="piclist : ${hotelpic.hotelPic}">
							<img th:src="${piclist.hotelPicture}" class="pic"/>
						</th:block>
					</div>
				</div>
				
				<!-- 객실정보 -->
				<div class="hotel_info_all">
					<div class="info_list">
						<div class="room_choose"><a href="#hotel_room_list">객실선택</a></div>
						<div class="hotel_info"><a href="#wrap_hotel_info">호텔정보</a></div>
						<div class="hotel_review"><a href="#wrap_hotel_review">호텔후기</a></div>
						<div class="calendar">
							<img th:src="@{/images/calendar.png}" alt="오른쪽 화살표" class="cal_pic" style="width:30px;">
							<button type="button" class="cal_btn" style="vertical-align: middle;">2024.06.05(수) ~ 2024.06.07(금)</button>
						</div>
						<div class="headcount">
							<button type="button" class="count_btn">객실 1 ⦁ 성인 2명</button>
						</div>
					</div>
					<hr style="border: 1px solid #c5c5c5;"></hr>

					<div id="hotel_room_list">
						<p style="font-family: 'SOYOMapleBoldTTF'; font-size: var(--font1);">객실 선택</p>
						<hr style="border: 0.1em solid black;"></hr>	
							<form>
								<div class="wrap_room">
									<div th:each="roomlist: ${hotelViewList}" class="room">
										<div th:each="room : ${roomlist.hotelRooms}" class="roomlist">
											<div th:utext="${room.roomCat} + ', ' + ${room.roomAtt}" class="room_cat"></div>
											<div class="amount_num">
												<strong th:text="${room.hotelPrice}" style="font-family: 'SOYOMapleBoldTTF';font-size: var(--font1);"></strong>
											원
											</div>
											<button type="button" class="btn_reserve">예약하기</button>
											<div style="grid-column: 1/9">
												<hr style="border: 1px solid #F1F1F1;" >
											</div>
										</div>
									</div>
								</div>
							</form>
							<button type="button" class="more_room_btn" style="margin-left: 450px;">전체보기</button>						
						<p style="font-size: var(--font5); color: var(--color_gray_2); margin-top: 20px;" class="price_explain">* 객실요금은 세금/봉사료가 포함된 금액입니다.</p>
					</div>
					
					<!-- 호텔정보 -->
					<div id="wrap_hotel_info">
						<div class="hotel_info_head">
							<p style="font-family: 'SOYOMapleBoldTTF'; font-size: var(--font1);">호텔정보</p>
							<div class="map_wrap" th:each="hotelInfo : ${hotelViewList}">
								<button type="button" class="btn_map" th:data-address="${hotelInfo.hotelAddress}">
								<!-- 속성 이름이 data-로 시작하는 모든 속성은 사용자 정의 데이터를 저장하는 데 사용 -->
									<img th:src="@{/images/icon_pin.png}" alt="지도" class="map_pic" style="width:15px; height:20px; margin-right: 5px;">
									지도에서 보기
								</button>
							</div>
						</div>
						<hr style="border: 0.1em solid black;"></hr>
						
						<!-- 지도모달창 -->
						<div class="mapModal">
					        <div class="modal-content">
					            <div id="map"></div>
					            <div>
					                <input type="text" id="address" hidden/>
					                <input type="button" value="Encode" onclick="codeAddress()" hidden/>
					            </div>
					        </div>
						</div>

						<!-- 호텔정보 -->
						<div class="wrap_info">
							<div class="section">
								<div class="basic_info">기본정보</div>
								<div th:each="hotelinfo : ${hotelViewList}" class="hotel_about_write">
									<p th:text="'호텔명 : ' + ${hotelinfo.hotelName}"></p>
									<p th:text="'주소: ' + ${hotelinfo.hotelAddress}"></p>
									<p th:text="'전화: ' + ${hotelinfo.hotelCall}">전화 : 1-213-6887777</p>
									<p>팩스 :</p>
								</div>
							</div>
							<hr></hr>
							
							<div class="section">
								<div  class="hotel_intro">호텔소개</div>
								<div th:each="hotelinfo : ${hotelViewList}" class="hotel_intro_write">
									<p th:text="${hotelinfo.hotelIntro}"></p>
								</div>
							</div>
							<hr></hr>
							
							<div class="section">
								<div class="hotel_check">체크인/아웃</div>
								<div th:each="hotelinfo : ${hotelViewList}" class="hotel_check_write">
									<p th:text="'체크인: ' + ${hotelinfo.hotelCheckIn}"></p>
									<p th:text="'체크아웃: ' + ${hotelinfo.hotelCheckOut}"></p>
									<br>
 									<p style="font-size: var(--font4);">* 대표 체크인/아웃 시간은 객실별, 요일별로 상이할 수 있습니다. 자세한 정책은 해당 호텔측에 확인 해 주세요.</p>
								</div>
							</div>
							<hr></hr>
							
							<div class="section">
								<div class="room_explain">객실</div>
								<div class="room_explain_write">
									<p>에어컨이 설치된 889개의 객실에는 미니바 및 평면 TV도 갖추어져 있어 편하게 머무실 수 있습니다. 유선 및 무선 
									인터넷이 무료로 제공되며 위성 채널 프로그램도 구비되어 있어 지루하지 않게 시간을 보내실 수 있습니다. 
									별도의 욕조 및 샤워 시설을 갖춘 전용 욕실에는 고급 세면용품 및 헤어드라이어도 마련되어 있습니다. 
									편의 시설/서비스로는 전화 외에 금고 및 책상도 있습니다.</p>
								</div>
							</div>
							<hr></hr>
							<div class="section">
								<div class="hotel_facility">편의시설</div>
								<div class="hotel_facility_write">
									<div th:each="facility: ${facilitylist}">
										<div class="facility-item-wifi" th:if="${facility.hotelFacCat == '무선인터넷'}">
											<img th:src="@{/images/wifi.png}" class="wifi_img" alt="무선인터넷" style="width:15px;">
											<p style="margin-left: 10px;">무선인터넷</p>
										</div>
									</div>
									<div th:each="facility: ${facilitylist}">
										<div class="facility-item-parking" th:if="${facility.hotelFacCat == '주차'}">
											<img th:src="@{/images/parking.png}" class="parking_img" alt="주차" style="width:15px;">
											<p style="margin-left: 10px;">주차</p>
										</div>
									</div>
									<div th:each="facility: ${facilitylist}">
										<div class="facility-item-restaurant" th:if="${facility.hotelFacCat == '레스토랑'}">
											<img th:src="@{/images/restaurant.png}" class="restaurant_img" alt="레스토랑" style="width:15px;">
											<p style="margin-left: 10px;">레스토랑</p>
										</div>
									</div>
									<div th:each="facility: ${facilitylist}">
										<div class="facility-item-pool" th:if="${facility.hotelFacCat == '수영장'}">
											<img th:src="@{/images/pool.png}" class="pool_img" alt="수영장" style="width:15px;">
											<p style="margin-left: 10px;">수영장</p>
										</div>
									</div>									
									<div  th:each="facility: ${facilitylist}">
										<div class="facility-item-fitness" th:if="${facility.hotelFacCat == '피트니스센터'}">
											<img th:src="@{/images/fitness.png}" class="fitness_img" alt="피트니스센터" style="width:15px;">
											<p style="margin-left: 10px;">피트니스센터</p>
										</div>
									</div>									
									<div th:each="facility: ${facilitylist}">
										<div class="facility-item-air_con" th:if="${facility.hotelFacCat == '에어컨'}">
											<img th:src="@{/images/air_con.png}" class="air_con_img" alt="무선인터넷" style="width:15px;">
											<p style="margin-left: 10px;">에어컨</p>
										</div>
									</div>
									<div th:each="facility: ${facilitylist}">
										<div  class="facility-item-bar" th:if="${facility.hotelFacCat == '바'}">
											<img th:src="@{/images/bar.png}" class="bar_img" alt="무선인터넷" style="width:15px;">
											<p style="margin-left: 10px;">바</p>
										</div>
									</div>									
									<div  th:each="facility: ${facilitylist}">
										<div class="facility-item-casino" th:if="${facility.hotelFacCat == '카지노'}">
											<img th:src="@{/images/casino.png}" class="casino_img" alt="무선인터넷" style="width:15px;">
											<p style="margin-left: 10px;">카지노</p>
										</div>
									</div>									
								</div>
							</div>
							<hr></hr>
							
							<div class="section">
								<div class="hotel_policy">유의사항	 </div>
								<div th:each="hotelinfo : ${hotelViewList}" class="hotel_policy_write">
									<p th:text="${hotelinfo.hotelPolicy}"></p>
								</div>
							</div>
							<hr></hr>
							
							<div class="section">
								<div class="hotel_sanitary">위생 및 안전조치</div>
								<div class="hotel_sanitary_write">
									<p>법인 호스트/관리자</p>
									<p>주요 접촉 구역에 고객과 직원 간 가림막 있음</p>
									<p>성소수자 환영</p>
									<p>고객 체온 검사 실시 가능</p>
									<p>사회적 거리두기 시행 중</p>
									<p>지원 대상 체온 검사를 정기적으로 실시함</p>
									<p>고객에게 무료 손 소독제 제공</p>
									<p>숙박 시설을 소독제로 청소함</p>
									<p>무현금 거래 이용 가능</p>
									<p>직원이 개인 보호 장비 착용함</p>
									<p>안전 조치 강화를 위한 음식 서비스 변경 있음</p>
									<p>침구 및 타월을 60°C 이상의 고온으로 세탁함</p>
									<p>고객에게 마스크 제공 가능</p>							
								</div>
							</div>
							<hr></hr>
						</div><!-- wrap_info -->
					</div><!-- wrap hotel info -->
					
					<!-- 호텔리뷰 -->
					<div id="wrap_hotel_review">
						<p style="font-family: 'SOYOMapleBoldTTF'; font-size: var(--font1);">호텔후기</p>
						<hr style="border: 0.1em solid black;"></hr>
						<!-- 리뷰 차트 -->
						<div class="review_detail" th:each="reviewOverall : ${reviewOverallDto}">
							<div class="review_rate_avg"><strong style="font-family: 'SOYOMapleBoldTTF';font-size: 28px; color: var(--color_blue_1)" th:text="${reviewOverall.avgAllRate}"></strong> / 5</div>
							<div class="review_count" th:text="'(' + ${reviewOverall.reviewCount} + ')개'"></div>
							<div class="vertical_line"></div>
							<!-- 막대그래프 -->
							<div class="chart_wrap">
								<div class="grid-item">
									<canvas id="myChart" style="width:100%; height:100%;" 
									            th:data-avg-facility="${reviewOverall.avgHotelFacility}"
									            th:data-avg-clean="${reviewOverall.avgHotelClean}"
									            th:data-avg-conven="${reviewOverall.avgHotelConven}"
									            th:data-avg-kind="${reviewOverall.avgHotelKind}">
									</canvas>
									<!-- th:data-address="${searchlist.hotelAddress}" -->
								</div>
							</div>
						</div>
						<hr style="border: 1px solid #c5c5c5;"></hr>
						<div class="review_info_wrap"  th:each="reviewDetail: ${reviewDetailDto}">
							<div class="review_flex">
								<div class="review_grade">
									<p class="review_rate" th:text="${reviewDetail.rateAvg}"></p>
									<div class="review_id">
										<img th:src="@{/images/person.png}" class="id_img" alt="오른쪽 화살표" style="width:20px;">
										<p style="font-size: var(--font3);" th:text="${reviewDetail.userId}"></p>
									</div>
									<div class="review_tripper">
										<img th:src="@{/images/suitcase.png}" class="tripper_img" alt="오른쪽 화살표" style="width:20px;">										
										<p style="font-size: var(--font3);">출장여행객</p>
									</div>
								</div>
								<div class="review_content_wrap">
									<div class="review_content_title">
										<p th:text=" ${reviewDetail.reviewTitle}"></p>
									</div>
									<div class="review_content">
										<p th:text=" ${reviewDetail.reviewComment}"></p>
									</div>
									<div class="review_content_date">
										<p th:text=" ${reviewDetail.reviewDate}"></p>
									</div>
								</div>
							</div>	
							<hr style="border: 1px solid #c5c5c5;"></hr>
						</div>
					</div>
					<div class="review_btn">
						<button type="button" class="review_write_btn">리뷰 작성</button>
					</div>
					
					<!-- 모달창 구현 -->
			        <div id="modal" class="modal_overlay">
			            <div class="modal_window">
			            	<form id="frm_review">
			            			<button type="button" class="review_esc">X</button>

					            		<div class="facility">
					            			<p style="font-size: var(--font2);">숙박시설 상태 및 시설</p>
					            			<div class="facility_stars">
						            			<input type="radio" class="score" name="facility_score" id="facility_1" checked>
						            				<label for="facility_1">
						            					<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
						            				</label>
											    <input type="radio" class="score" name="facility_score" id="facility_2">
											    	<label for="facility_2">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											    <input type="radio" class="score" name="facility_score" id="facility_3">
											    	<label for="facility_3">
														<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
													</label>
											    <input type="radio" class="score" name="facility_score" id="facility_4">
											    	<label for="facility_4">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											    <input type="radio" class="score" name="facility_score" id="facility_5">
											    	<label for="facility_5">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											</div>
										</div>		            		
							            <div class="sanity">
							                <p style="font-size: var(--font2);">청결 상태</p>
							                <div class="sanity_stars">
								                <input type="radio" class="score" name="sanity_score" id="sanity_1" checked>
							                	<label for="sanity_1">
							                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
							                	</label>
											    <input type="radio" class="score" name="sanity_score" id="sanity_2">
											    	<label for="sanity_2">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											    <input type="radio" class="score" name="sanity_score" id="sanity_3">
											    	<label for="sanity_3">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											    <input type="radio" class="score" name="sanity_score" id="sanity_4">
											    	<label for="sanity_4">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											    <input type="radio" class="score" name="sanity_score" id="sanity_5">
											    	<label for="sanity_5">
											    		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
											    	</label>
											 </div>
							            </div>
						                <div class="conven">
						                	<p style="font-size: var(--font2);">편의 시설/서비스</p>
							                <div class="conven_stars">
							                	<input type="radio" class="score" name="conven_score" id="conven_1" checked>
								                	<label for="conven_1">
								                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
								                	</label>
											    <input type="radio" class="score" name="conven_score" id="conven_2">
												    <label for="conven_2">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="conven_score" id="conven_3">
												    <label for="conven_3">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="conven_score" id="conven_4">
												    <label for="conven_4">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="conven_score" id="conven_5">
												    <label for="conven_5">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											</div>	
						                </div>
						                <div class="service">
						                	<p style="font-size: var(--font2);">직원 및 서비스</p>
							                <div class="service_stars">
							                	<input type="radio" class="score" name="service_score" id="service_1" checked>
								                	<label for="service_1">
								                		<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
								                	</label>
											    <input type="radio" class="score" name="service_score" id="service_2">
												    <label for="service_2">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="service_score" id="service_3">
												    <label for="service_3">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="service_score" id="service_4">
												    <label for="service_4">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											    <input type="radio" class="score" name="service_score" id="service_5">
												    <label for="service_5">
												    	<img th:src="@{/images/star.png}" class="id_img" alt="오른쪽 화살표" style="width:15px;">
												    </label>
											</div>
						                </div>

						        <fieldset style="border: 1px solid black; padding: 15px 15px;" >
						            <legend style="font-size: var(--font2); padding: 0 5px;">여행객 유형</legend>
						                <select name="tourist_cat" style="padding: 5px; border: none; width: 370px;">
						                    <option value="alone">혼자</option>
						                    <option value="couple">커플/부부</option>
						                    <option value="family">가족</option>
						                    <option value="group">단체</option>
						                    <option value="business_trip">출장</option>
						                </select>
						        </fieldset>   
						        <fieldset style="border: 1px solid black; padding: 20px 15px; " >
						            <legend style="font-size: var(--font2); padding: 0 5px;">제목</legend>
									<input type="text" style="border: none; width: 370px;"/>
						        </fieldset>
						        <textarea rows="15" cols="50"></textarea>
						        <button type="button" class="btn_submit">리뷰 작성</button>
						    </form> <!-- 리뷰 form  -->
			             </div>
			        </div> <!-- 모달창 끝 -->

					<div style="text-align: center;">
						<ul class="paging_wrap">
							<li class="left_page">&lt;</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li class="right_page">&gt;</li>
							<!--  th:data-page="${}" -->
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
<script>

$(loadedHandler)

function loadedHandler(){
	
	/* 객실 전체보기 */
	$(".more_room_btn").on("click", showAllRoomHandler);
	
	// 방의 개수가 3개 이상이면 "전체보기" 버튼을 보이게 하기
	var roomCount = $(".roomlist").length;
	console.log("=================" + roomCount);
	
	
	if (roomCount > 3) {
		$(".roomlist:gt(2)").hide();
		//gt(index) 선택자는 지정된 인덱스보다 큰 인덱스를 가진 요소들 모두 선택
		$(".more_room_btn").show();
	}
	
	//지도 띄우기
 	$('.btn_map').on('click', showMapHandler);

	/* displayReviewChart(); */
	
	/* 리뷰 작성 모달 띄우기 */
	$('.review_write_btn').on('click', reviewWriteHandler);
	
	/* 리뷰 작성 모달 취소 */
	$('.review_esc').on('click', reviewEscHandler);
	
	/* 별점 체크 */
	$('.score').on('click', checkScoreHandler);
	
	/* 페이지 이동 */
	$('.right_page').on('click', rightPageHandler);
	
}

</script>	

<script th:src="@{/js/hotel/hotel_view.js}"
		type="text/javascript">
</script>

</body>
</html>