<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_list.css}" rel="stylesheet" />
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
	
<meta charset="UTF-8">
<title>호텔 목록</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-main">
				<div class="top-line">
					<div class="select">
						<span class="nation"></span>
						<span class="search-date"></span>
						<span class="room-capacity"></span>
					</div>
				</div>
				<div class="category">
					<div class="word_search">
						<input type="text" class="type_hotel" name="hotel_name"/>
						<button type="button" class="btn_search">검색</button>
					</div>
					<div class="select">
						<select name="search" class="sort sort-by" id="hotel_select" style="width:80px; height:30px; border-radius:10px;">
							 <option value="price" selected>가격</option>
							 <option value="review">리뷰</option>
							 <option value="grade">평점</option>
						</select>
						<select name="search" class="sort sort-to" id="hotel_select_rate" style="width:100px; height:30px; border-radius:10px;">
							 <option value="asc" selected>오름차순</option>
							 <option value="desc">내림차순</option>
						</select>
					</div>
				</div>

				
				<div class="container">
					<!-- aside 부분 - 슬라이드바 -->
						<div class="sidebar">
							 <p style="font-size: var(--font2); margin-bottom: 20px; font-family: 'SOYOMapleRegularTTF';">가격</p>
							 <form>
								 <div class="price-slider">
								     <div class="multi-range-slider">
								         <!-- 진짜 슬라이더 -->
								         <!-- <input type="range" id="input-left" min="0" max="100" value="1" /> -->
								         <input type="range" id="input-right" min="0" max="100" value="100" />
								
								         <!-- 커스텀 슬라이더 -->
								         <div class="slider">
								             <div class="track"></div>
								             <div class="range"></div>
								             <!-- <div class="circle left"></div> -->
								             <div class="circle right"></div>
								         </div>
								         <div class="circle price">
								          <div class="price1">0</div>
								          <div class="price2">가격2</div>
								         </div>
								     </div>
								 </div>
							</form>
						</div>
					
					
					<!-- section 부분 -->
					<div class="hotel">
						<div class="hotel_list" th:each="hotellist : ${hotelList}">
							<div class="hotel_pic" th:style="'background-image: url(' + ${hotellist.hotelPic} + '); background-size: cover;'">
								<div class="hotel_like">
									<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
								</div>
							</div>
							<div class="hotel_attr">
								<div class="hotel_kr" th:text="${hotellist.hotelName}"></div>
								<div class="hotel_eng" th:text="${hotellist.hotelEng}"></div>
								<div class="hotel_location" th:text="${hotellist.hotelAddress}"></div>
								<div class="hotel_review">
									<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
									<span th:text="${hotellist.hotelScore} + '/5'"></span>
								</div>
							</div>
							<div class="hotel_price" th:text="${hotellist.hotelPrice} + '원'"></div>
						</div>
						
<!-- 						<div class="hotel_list">
							<div class="hotel_pic">
								<div class="hotel_like">
									<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
								</div>
							</div>
							<div class="hotel_attr">
								<div class="hotel_hot">HOT</div>
								<div class="hotel_kr">호텔이름</div>
								<div class="hotel_eng">호텔영어이름</div>
								<div class="hotel_location">호텔위치</div>
								<div class="hotel_review">
									<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
									<span>3.5/5</span>
								</div>
							</div>
							<div class="hotel_price">190,000원~</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
<script>
//URL로부터 파라미터 읽어오기 위해 search객체 생성
var urlParams = new URLSearchParams(window.location.search);
var preloccode = urlParams.get('loc');
var prepeople = Number(urlParams.get('adult')) + parseInt(urlParams.get('child')/2, 10);

var prekeyword = null;
var maxPrice = null;
var presortBy = null;
var presortTo = null;

$(loadedHandler);

function loadedHandler(){
	//좋아요 버튼
	$(".hotel_like").on("click", likeHandler);
	$('.sort').on('change', sortHandler);
};
</script>
<script th:src="@{/js/hotel/hotel_list.js}"
		type="text/javascript">
</script>
</html>