<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- section 부분 -->
	<div class="hotel_list" id="realHotelList" th:fragment="hotellistsection">
		<a class="hotel" th:each="hotel : ${hotelList}" th:data-hotelcode="${hotel.hotelCode}" th:href="@{/hotel/view/{hotelCode}(hotelCode=${hotel.hotelCode})}">
				<div class="hotel_pic" th:style="'background-image: url(' + ${hotel.hotelPic} + '); background-size: cover;'">
					<th:block th:if="${#authorization.expr('isAnonymous()')}">
						<div class="hotel_like" >
							<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart" onclick="return loginHandler();">
						</div>
					</th:block>
					<th:block th:unless="${#authorization.expr('isAnonymous()')}">
						<th:block th:if="${!likeList.contains(hotel.hotelCode)}">
							<div class="hotel_like" >
								<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart" onclick="return likeHandler(this);">
							</div>
						</th:block>
						<th:block th:if="${likeList.contains(hotel.hotelCode)}">
							<div class="hotel_like">
								<img th:src="@{/images/heart_color.png}" alt="좋아요" style="width:40px;" class="heart" onclick="return likeHandler(this);">
							</div>
						</th:block>
					</th:block>
				</div>
			<div class="hotel_attr">
				<div class="hotel_kr" th:text="${hotel.hotelName}"></div>
				<div class="hotel_eng" th:text="${hotel.hotelEng}"></div>
				<div class="hotel_location" th:text="${hotel.hotelAddress}"></div>
				<div class="hotel_review">
					<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="star"></span>
					<span th:text="${hotel.hotelScore} + '/5'"></span>
					<span class="count_review" th:text="'(' + ${hotel.hotelReviewNum} + ')'"></span>
				</div>
			</div>
			<div class="wrap-price"><div class="hotel_price" th:text="${hotel.hotelPrice}"></div><div> 원~</div></div>
		</a>
	</div>
</html>