<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/basic/reset.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/core.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/layout.css}" rel="stylesheet" />
 	<link th:href="@{/css/basic/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/basic/header.css}" rel="stylesheet" />
	<link th:href="@{/css/hotel/hotel_pay_success.css}" rel="stylesheet" />
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<meta charset="UTF-8">
<title>결제 완료</title>
</head>
<body>

	<div class="wrapper">
		<div class="wrap-header">
			<header>
 				<div th:replace="~{common/header :: Header}"></div>
				<div class="hrline">
					<hr>
				</div>
			</header>
		</div>
		<div class="wrap-body">
			<div class="wrap-main">
				<div class="top_order">
					<div class="hotel_reserve_count">
						<div class="no_1">1</div>
						<div class="no_2">2</div>
						<div class="no_3">3</div>
					</div>
					<div class="hotel_reserve_write">
						<div class="first">예약하기</div>
						<div class="second">결제</div>
						<div class="third">에약완료</div>
					</div>
				</div>
	

				<div class="hotel_name">
					<p th:text="${hotelName}"></p>
				</div>
					
				<div class="grid_wrap">
					<div class="reserve_code">
						<p class="p">예약번호</p>
					</div>
					<div class="hotel_code">
						<div class="code_num" th:text="${hotelReserveCode}"></div>
					</div>
					<div class="check_in_out">
						<p class="p">체크인/체크아웃</p>
					</div>						
					<div class="check_in_out_time">
						<div class="time" th:text="${checkIn} + ' ~ ' + ${checkOut}"></div>
					</div>
					<div class="room">
						<p class="p">객실 정보</p>
					</div>
					<div class="room_info">
						<div class="room_att_cat" th:text="${roomCatDesc} + ', ' + ${roomAttDesc}"></div>
					</div>								
					<div class="request">
						<p class="p">요청 사항</p>
					</div>
					<div class="request_info">
						<div class="request_detail" th:text="${requestDesc}">
						</div>
					</div>						
					<div class="reserve_name">
						<p class="p">투숙객 성명</p>
					</div>
					<div class="resident">
						<div class="ko" th:text="${residenceNameKo}"></div>
					</div>							
					<div class="pay">
						<P class="p">금액</P>
					</div>
					<div class="payment">
						<div class="totalpay" th:text="${hotelPrice}"></div>
					</div>
				</div>
				
				<div class="btn">
					<button type="button" class="reserve_btn">예약 내역</button>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="wrap-footer">
  		<div th:replace="~{common/footer :: Footer}"></div> 
	</div>
	
</body>
</html>