<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">

<!-- section 부분 -->
<div class="hotel_list" th:fragment="hotellistsection" id="hotellistsection" >
	<div class="hotel" th:each="hotel : ${hotelList}" th:data-hotelcode="${hotel.hotelCode}">
		<div class="hotel_pic" th:style="'background-image: url(' + ${hotel.hotelPic} + '); background-size: cover;'">
			<div class="hotel_like" onclick="likeHandler(thisElement);">
				<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
			</div>
		</div>
		<div class="hotel_attr">
			<div class="hotel_kr" th:text="${hotel.hotelName}"></div>
			<div class="hotel_eng" th:text="${hotel.hotelEng}"></div>
			<div class="hotel_location" th:text="${hotel.hotelAddress}"></div>
			<div class="hotel_review">
				<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
				<span th:text="${hotel.hotelScore} + '/5'"></span>
			</div>
		</div>
		<div class="hotel_price" th:text="${hotel.hotelPrice} + '원'"></div>
	</div>
	
<!--
	<div class="hotel_list">
		<div class="hotel_pic">
			<div class="hotel_like">
				<img th:src="@{/images/heart.png}" alt="좋아요" style="width:40px;" class="heart">
			</div>
		</div>
		<div class="hotel_attr">
			<div class="hotel_hot">HOT</div>
			<div class="hotel_kr">호텔이름</div>
			<div class="hotel_eng">호텔영어이름</div>
			<div class="hotel_location">호텔위치</div>
			<div class="hotel_review">
				<span><img th:src="@{/images/star_line.png}" alt="별" style="width:20px;" class="heart"></span>
				<span>3.5/5</span>
			</div>
		</div>
		<div class="hotel_price">190,000원~</div>
	</div>
-->
</div>

</html>