@charset "UTF-8";

header .tn {
    /* 자식들의 기준점 */
    position: relative;
}

header .logo-side {
    margin-top: 15px;
}

header .tn .log {
    /* 로그인 오른쪽 고정 */
    font-size: 15px;
    position: absolute;
    top: 8px;
    right: 0;
}

header .log li {
    /* li정렬 */
    display: inline-block;
    text-align: center;
    margin: 0 15px 0 15px;
}

header .log li:nth-child(3){
    /* 메뉴 3개 띄우기 */
	margin-right: 160px;
}


header .log a {
    /* 로그인 폰트 세팅 */
    font-family: "SOYOMapleRegularTTF";
    font-size: var(--font4);
    font-weight: bolder;
}

header .nav2-wrap ul {
    margin-bottom: 15px;
}

header .nav2-wrap li {
    /* 상단 네비 가로 정렬 */
    display: inline-block;
    margin: 20px 0 10px 0;
    margin-right: 45px;
}

header .nav2-wrap li a {
    font-size: var(--font3);
    font-family: "SOYOMapleRegularTTF";
}

header .nav2-wrap li a:hover,
header .nav2-wrap li a.active {
    /* 클릭된 페이지 표시 */
    background-color: BCEFFF;
}

ul > li:nth-child(1) > a {
	font-size: var(--font3);	
	font-family: "SOYOMapleBoldTTF";
}

 ul > li:nth-child(2) > a {
	font-size: var(--font3);
	font-family: "SOYOMapleBoldTTF";	
}

ul > li:nth-child(3) > a {
	font-size: var(--font3);	
	font-family: "SOYOMapleBoldTTF";
}

header hr {
    /* 구분선 */
    width: 100%;
    background: var(--color_blue_1);
    height: 1px;
    border: 0;
    margin: 0;
}