@charset "UTF-8";

 .door1{

    position: relative;
    /* background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(/johny-goerend-KB9r_hTzyeQ-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
/*     min-height: 900px; */
    display: flex;
    align-items: center;
}










.pic-container {
    display: grid;
    grid-template-columns: 1fr; /* 한 줄에 한 개의 열 */
    position: relative;
}

/* 각 사진을 포함하는 요소 */
.pic {
    position: relative;
}

/* 이미지 스타일 */
.pic img {
    width: 100%; /* 가로로 꽉 차게 */
    height: auto;
    display: block;
}

/* 사진 안 text */
.door1_text {
    position: absolute;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    font-size: 50px;
    font-family: 'SOYOMapleBoldTTF';
}

.door2_text {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'SOYOMapleBoldTTF';
}

.door3_text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'SOYOMapleBoldTTF';
}


/* 해당 위치로 이동 */
.door2_button {
    position: absolute;
    bottom: 10px; /* 이미지 하단에 여백 추가 */
    right: 10px; /* 이미지 우측에 여백 추가 */
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
  
  
.door3_button {
    position: absolute;
    bottom: 10px; /* 이미지 하단에 여백 추가 */
    right: 10px; /* 이미지 우측에 여백 추가 */
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
     
    
    
    
    
    
    


/* .door1_img {

    width: 100%;
    filter: brightness(70%);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
} 
 */
.letter {
    color:white;
    text-align: center;
    margin-left: 50px;
    font-size: 60px;
    animation: fadeInUp 1s;
}

@keyframes fadeInUp{
    0%{opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}