@charset "UTF-8";

.pic-container {
    display: grid;
    grid-template-columns: 1fr; /* 한 줄에 한 개의 열 */
    position: relative;
}

.pic {
    position: relative;
}


.pic img {
    width: 100%;
    height: auto;
    display: block;
}

/* 사진 안 text */
.door1_text {
    position: absolute;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    font-size: 4vw;
    font-family: 'SOYOMapleBoldTTF';
}

.door2_text {
    position: absolute;
    top: 40%;
    right: 40%;
    transform: translate(-50%, -50%);
   	font-size: 3vw;
    font-family: 'SOYOMapleBoldTTF';
}

.door3_text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    font-family: 'SOYOMapleBoldTTF';
}


/* 해당 위치로 이동 */
.door2_button {
    position: absolute;
    bottom: 40%;
    right: 20%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--color_gray_3);
    border: none;
}

.door2_button:hover{
	 cursor: pointer;
	 background-color: var(--color_gray_2);
	 font-family: 'SOYOMapleBoldTTF';
}  
  
.door3_button {
    position: absolute;
    bottom: 40%;
    left: 20%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--color_gray_1);
    border: none;
}

.door3_button:hover{
	 cursor: pointer;
	 background-color: var(--color_gray_2);
	 font-family: 'SOYOMapleBoldTTF';
}
     