/* 할인 호텔 캐러셀*/

.wrap-discount-hotel-list {
	width: 960px;
	margin: 0 auto;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 40px;
	position:relative;
}

.wrap-discount-hotel-list .discount-hotel-title {
	font-size: 20px;
	font-weight: 900;
}

.wrap-discount-hotel-list .discount-hotel-list {
	width: 100%;
	height: 270px;
	overflow: hidden;
}

.wrap-discount-hotel-list .discount-hotel-list .list-wrapper {
	display: flex;
	flex-direction: row;
	gap: 30px;
	transition: transform 1s;
	width: auto;
	height: 270px;
}

.list-wrapper .discount-hotel {
	height: 100%;
	flex: 0 0 100%;
	border: 1px, solid, var(--color_gray_2);
	padding: 10px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.list-wrapper .discount-hotel-info {
	padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-wrapper .discount-hotel-info > div {
	text-align: left;
}

.list-wrapper .discount-hotel-info > div:nth-child(1){
	flex: 1 1 0;
}
.list-wrapper .discount-hotel-info > div:nth-child(2){
	flex: 3 1 0;
}
.list-wrapper .discount-hotel-info > div:nth-child(3){
	flex: 1 1 0;
}
.list-wrapper .discount-hotel-info > div:nth-child(4){
	flex: 1 1 0;
}

.list-wrapper .discount-hotel .discount-hotel-pic > img {
	display: block;
	width: 300px;
	height: 100%;
	object-fit: cover;
}

.discount-hotel .wrap-price {
	flex: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: end;
    padding-bottom: 10px;
    position: relative;
}

.discount-hotel .wrap-price > div {
	padding-right: 10px;
}

.discount-hotel .wrap-price .discount-ratio {
	position: absolute;
	bottom: 40px;
    right: 45px;
}

.discount-hotel .wrap-price .original-hotel-price {
	color: var(--color_gray_4);
	margin-right: 10px;
	text-decoration: line-through;
}

.discount-hotel .wrap-price > div:not(first-child) {
	color: red;
}

.discount-hotel .wrap-price > div:last-child {
	vertical-align: bottom;
	line-height: 20px;
}

.discount-hotel .discount-hotel-name {
	font-size: 20px;
	font-weight: 900;
	text-align: left;
}


.discount-hotel .discount-hotel-price {
	text-align: right;
	font-weight: 900;
	font-size: var(--font1);
}

.wrap-discount-hotel-list .btn2 {
	position: absolute;
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--color_blue_2);
    cursor: pointer;
    font-family: 'SOYOMapleRegularTTF';
    font-size: var(--font1);
}

.wrap-discount-hotel-list .btn2:hover {
	background-color: var(--color_blue_1);
	color: white;
	font-family: 'SOYOMapleBoldTTF';
	
}

.wrap-discount-hotel-list .btn2.left {
	left:-65px;
	top: 170px;
}

.wrap-discount-hotel-list .btn2.right {
	right:-65px;
	top: 170px;
}

/* 추천 여행지역 */
.wrap-recommend {
	width: 960px;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.wrap-recommend .recommend-title{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 900;
}

.recommended-loc {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    height: 200px;
}

.recommended-loc > a {
	border-radius: 50%;
	width: 200px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* position:relative; */
    cursor: pointer;
}

/* .recommended-loc > div::before {
	content: '';
	border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 검은색 반투명 오버레이
    pointer-events: none; 오버레이가 클릭을 차단하지 않도록 설정
} */

.recommended-loc > a > div {
	color: white;
	font-size: 20px;
	font-weight: 900;
}

/* 후기 */

.wrap-review {
	width: 960px;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	background-color: var(--color_blue_2);
}

.review-title {
	text-align: center;
	margin: 20px;
    font-size: 20px;
    font-weight: 900;
}

.review-content {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.review-detail {
	display: flex;
	flex-direction: column;
	flex: 5 1 0;
	padding: 40px;
    gap: 30px;
}

.pic {
	flex-basis: 250px;
	border-radius: 50%;
	background-size: cover;
	height: 250px;
	margin-right: 40px;
    margin-bottom: 40px;
}