<!DOCTYPE html>
<html>
<head>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoo40WSHtW0JekF2N6b0Tm1DHbifYiSOg&loading=async&callback=initMap"></script>
 <style>
  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<title>지도</title>
</head>
<body onload="initialize()">


<h1>구글맵 시험</h1>
	
<div id="map" style="width: 900px; height: 800px;"></div>
<div>
  <input type="textbox" id="address" value="Sydney, NSW">
  <input type="button" value="Encode" onclick="codeAddress()">
</div>
	
	<script>
		var geocoder;
		var map;
		function initialize() {
		  geocoder = new google.maps.Geocoder();
		  var latlng = new google.maps.LatLng(-34.397, 150.644);
		  var mapOptions = {
		    zoom: 8,
		    center: latlng
		  }
		  map = new google.maps.Map(document.getElementById('map'), mapOptions);
		}
		
		function codeAddress() {
		  var address = document.getElementById('address').value;
		  geocoder.geocode( { 'address': address}, function(results, status) {
		    if (status == 'OK') {
		      map.setCenter(results[0].geometry.location);
		      var marker = new google.maps.Marker({
		          map: map,
		          position: results[0].geometry.location
		      });
		    } else {
		      alert('Geocode was not successful for the following reason: ' + status);
		    }
		  });
		}
	   
	</script> 
</body>
</html>