@charset "UTF-8";

.catVal {
	margin-bottom: 5px;
}

.section-notice {
	width: 960px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.section-notice .notice-h1{
	margin: 20px;
	text-align: center;
	font-weight: 900;
    font-size: 20px;
}

/* 공지사항 리스트 */
section .onlineQnAList {
    /* margin-top: 40px; */
	margin-bottom: 100px;
}

section .viewAllList {
	display: flex;
	justify-content: right;
}

section .QnA-grid {
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
	background-color: #BCEFFF;
	display: grid;
	grid-template-columns: 1fr 9fr 2fr;
	align-items: center;
	text-align: center;
}
/* .section-notice .QnA-grid .th-no{ */
/* 	text-align: left; */
/*     margin-left: 50px; */
/* } */
.section-notice .QnA-grid .th-title{
	text-align: center;
/* 	margin-left: 80px; */
}

section .notice-list {
	height: 40px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #006AFF;
	display: grid;
	grid-template-columns: 1fr 9fr 2fr;
	align-items: center;
	text-align: center;
}
section .notice-list .td-no{
	text-align: center;
/*     margin-left: 50px; */
}

section .notice-list .td-title{
	text-align: left;
	margin-left: 70px;
}


section .viewQnAList {
	margin-top: 30px;
	border: none;
	border-radius: 20px;
	width: 90px;
	height: 40px;
	background-color: #BCEFFF;
	cursor: pointer;
	color: black;
	font-size: 13px;
	font-weight: bold;
	font-family: SOYOMapleRegularTTF;
}
section .viewQnAList:hover{
	cursor: pointer;
	background-color: #006AFF;
	color: white;
}
section .wrap-pageNum {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin: 20px;
	font-family: SOYOMapleRegularTTF;
}

section .wrap-pageNum .gopage {
	border:none;
	border-radius: 20px;
	padding: 5px 9px;
	background-color: var(--color_blue_2);
	color: black;
}

section .wrap-pageNum .btn-page:hover {
	background-color: var(--color_blue_1);
	color: white;
	cursor: pointer;
}
section .wrap-pageNum .current {
	background-color: var(--color_blue_1);
	color: white;
}
