section .onlineQnAList {
	margin-bottom: 100px;
}

.content-title {
	margin: 20px;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

section .viewAllList {
	display: flex;
	justify-content: right;
}

section .QnAContainer {
	margin-bottom: 10px;
}

section .QnA-grid {
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
	background-color: #BCEFFF;
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
	align-items: center;
	text-align: center;
}

section .QnA-content {
	height: 40px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #006AFF;
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
	align-items: center;
	text-align: center;
}

section .QnA-content:last-child {
	border-bottom: 3px solid #006AFF;
}

section .search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin: 20px;
}

section .searchKeyword {
	width:300px;
	height: 30px;
	border: 1px solid  #006AFF;
	border-radius: 10px;
}

section .questCat-category{
	width: 300px;
	border: 1px solid  #006AFF;
	border-radius: 10px;
}

section .searchQnAList {
	border: none;
	border-radius: 20px;
	width: 60px;
	height: 30px;
	background-color: var(--color_blue_1);
	cursor: pointer;
	color: white;
	font-size: 13px;
	font-weight: bold;
	font-family: SOYOMapleRegularTTF;
}

section .questCat-category {
	display: none;
}

section .wrap-pageNum {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin: 20px;
	font-family: SOYOMapleRegularTTF;
}

section .wrap-pageNum .gopage {
	border:none;
	border-radius: 20px;
	padding: 5px 9px;
	background-color: var(--color_blue_2);
	color: black;
}

section .wrap-pageNum .btn-page:hover {
	background-color: var(--color_blue_1);
	color: white;
	cursor: pointer;
}