.wrap-board {
    width: 960px;
    box-sizing: border-box;
    padding: 20px;
    display:inline-block;
    margin-top: 50px;
}

.wrap-board .qna-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wrap-board .qna-head .qna-title {
	font-size: 20px;
	font-weight: 900;
}

.wrap-board > .qna-main > div:not(hr) {
	margin: 10px;
}

.wrap-board .qna-main .qna-category {
	font-size: 17px;
	font-weight: 900;
}

.wrap-board .qna-main .qna-file {
	display:flex;
	flex-direction: row;
	gap: 40px;
}

.wrap-board .qna-main .qna-content {
	padding: 30px 0;
	font-size: 15px;
}

.wrap-comment {
	border: 3px solid var(--color_blue_1);
	border-radius: 20px;
	padding: 20px;
	margin: 30px 30px 15px 30px;
}

.wrap-comment .ask-date {
	font-weight: 900;
}

.wrap-comment .ask-content {
	margin: 10px;
}

.write-answer {
	display: none;
	resize: none;
	border: none;
}

.write-answer:focus {
	outline: none;
}

.wrap-writeAnswer {
	display:flex;
	justify-content: end;
	padding-right: 30px;
}

.wrap-writeAnswer .btn {
	margin-right: 10px;
	background-color: var(--color_blue_2);
	padding: 10px;
	border: none;
	border-radius: 10px;
}

.wrap-writeAnswer .btn:hover {
	background-color: var(--color_blue_1);
	color: white;
	cursor: pointer;		
}
.ans-update-btn{
	margin-right: 10px;
	background-color: var(--color_blue_2);
	padding: 10px;
	border: none;
	border-radius: 10px;
	float: right;
}
.ans-update-btn:hover{
	background-color: var(--color_blue_1);
	color: white;
	cursor: pointer;
}
.ans-delete-btn{
	background-color: var(--color_blue_2);
	padding: 10px;
	border: none;
	border-radius: 10px;
	float: right;
}
.ans-delete-btn:hover{
	background-color: var(--color_blue_1);
	color: white;
	cursor: pointer;
}