@charset "UTF-8";

.top-line {
	background-color: var(--color_gray_2);
	height: 100px;
}

.category {
	width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.select{
	margin-left: 700px;
}

.container {
	width: 960px;
    margin: 0 auto;
    display: flex;
}


.aside {
    flex: 1;
    background-color: blueviolet;
    box-sizing: border-box;
}

.hotel {
	flex: 5;
    box-sizing: border-box;
}

.hotel_list {
	width: 740px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.hotel_pic {
	 background-color: var(--color_gray_2);
	 width: 250px;
	 height: 180px;
	 border-radius: 20px;	 
}

.hotel_like{
	text-align:end;
	margin-right: 10px;
	margin-top: 10px;
}

.hotel_like:hover{
	cursor: pointer;
	text-align:end;
	margin-right: 10px;
	margin-top: 10px;
}

.heart {
	border: none;
	background-color: none;
}

.hotel_attr{
	margin-left: 20px;

}

.hotel_hot {
	border: 2px solid #E12D2D;
	border-radius: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font5);
	padding:2px;
	color: var(--color_red_1);
}

.hotel_kr{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font2);
	margin-top: 10px;
	margin-bottom: 20px;
}

.hotel_eng{
	font-size: var(--font4);
	color: var(--color_gray_2);
	
	margin-bottom: 35px;
}

.hotel_location{
	font-size: var(--font4);
	color: var(--color_gray_2);
	
	margin-bottom: 15px;
}

.hotel_review{
	font-size: var(--font4);
	
	margin-bottom: 10px;
	display: flex;
	align-items:center;
}


.hotel_price{
	font-family: 'SOYOMapleBoldTTF';
	font-size: var(--font1);
	color: var(--color_red_1);
	
	align-content: end;
	text-align: end;
	margin-bottom: 10px;
}

footer {
    clear: both;
}


