<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.mclass.shushoong.servicecenter.model.repository.ServiceCenterRepository">
	<!-- 1:1문의 검색 -->
	<select id="selectAllList" parameterType="hashMap" resultType="OnlineQnADto">
		select * from service_center 
			join faq_cat using (faq_id) 
			join faq_cat_desc using(quest_cat)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null and id !=''">
				USER_ID = #{id}
			</if>
			<if test="category != null and category !='' and keyword != null and keyword !='' ">
			 	<bind name="keyword3" value="'%' + keyword + '%'" />
				 <choose>
				 	<when test="category.equals('faqId')">
				 		AND FAQ_ID LIKE #{keyword3}
				 	</when>
				 	<when test="category.equals('askTitle')">
				 		AND ASK_TITLE LIKE #{keyword3}
				 	</when>
				 	<when test="category.equals('userId')">
				 		AND USER_ID LIKE #{keyword3}
				 	</when>
				 </choose>
			</if>
	 	 	<if test="category != null and category.equals('questCat')">
		 		AND QUEST_CAT = #{questCatCategory}
		 	</if>
	 	</trim>
	 	order by faq_id desc
	</select>
	
	<!-- 1:1문의 글 갯수(페이징용) -->
	<select id="selectTotalCount" parameterType="hashMap" resultType="int">
		select count(*) from service_center 
			join faq_cat using (faq_id) 
			join faq_cat_desc using(quest_cat)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null and id !=''">
				USER_ID = #{id}
			</if>
			<if test="category != null and category !='' and keyword != null and keyword !='' ">
			 	<bind name="keyword3" value="'%' + keyword + '%'" />
				 <choose>
				 	<when test="category.equals('faqId')">
				 		AND FAQ_ID LIKE #{keyword3}
				 	</when>
				 	<when test="category.equals('askTitle')">
				 		AND ASK_TITLE LIKE #{keyword3}
				 	</when>
				 	<when test="category.equals('userId')">
				 		AND USER_ID LIKE #{keyword3}
				 	</when>
				 </choose>
			</if>
	 	 	<if test="category != null and category.equals('questCat')">
		 		AND QUEST_CAT = #{questCatCategory}
		 	</if>
	 	</trim>
	</select>
	
	<!-- 1:1 문의 보기 -->
	<select id="selectOneQna" parameterType="String" resultType="OnlineQnADto">
		select quest_cat_desc, faq_id, user_id, ask_title, ask_content, ask_date, ans_content, ans_time 
		from service_center 
		join faq_cat using (faq_id) 
		join faq_cat_desc using(quest_cat)
		where faq_id = #{faqId}
	</select>
	
	<!-- 1:1 문의 작성 -->
	<update id="updateAnswer" parameterType="hashMap">
		update service_center set ans_time = sysdate, ans_content = #{ansContent}
		where faq_id = #{faqId}
	</update>
</mapper>