@charset "UTF-8";

small {
    visibility: hidden;
    padding: 0px 0px 2px 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

.error small {
    font-size: 10px;
    color: red;
    visibility: visible;
}

input, input:focus, textarea, textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}

.wrap-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

section .businessjoin-header {
	font-size: 20px;
	font-weight: bold;
	margin: 70px 0 50px 0;
}

section .businessJoinInfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

section .longinput {
	/* 	글상자서식 */
	border: 1px solid #BCEFFF;
	border-radius: 20px;
	width: 400px;
	height: 40px;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	text-indent: 10px;
	font-size: 15px;
	/* 	배치서식 */
	display: flex;
	flex-direction: column;
	margin: 10px 10px 5px 10px;
}

section .shortinput {
	/* 	글상자서식 */
	border: 1px solid #BCEFFF;
	border-radius: 20px;
	width: 285px;
	height: 40px;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	text-indent: 10px;
	font-size: 15px;
	/* 	배치서식 */
	margin: 10px 0 5px 10px;
}

section .businessJoinInfo>div>input:focus {
	/* 	글상자서식 */
	border: 3px solid #006AFF;
}

section .businessJoinInfo>div>label {
	display: flex;
	justify-content: left;
	text-indent: 20px;
	font-weight: bold;
}

section .btn.idCheck, .btn.emailSend, .btn.emailCheck {
	/* 	버튼서식 */
	border: none;
	border-radius: 20px;
	width: 110px;
	height: 40px;
	background-color: #BCEFFF;
	cursor: pointer;
	/* 	글자서식 */
	font-family: SOYOMapleRegularTTF;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 10px 5px 10px;
}

section .btn.idCheck, .btn.emailSend, .btn.emailCheck {
	margin: auto;
}

section .agreement-items {
	margin: 40px 0 60px 0;
	text-align: left;
}

section .marketing-title {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 30px;
}

input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: none;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
	background-color: #BCEFFF;
}

input[type="checkbox"]:checked {
	background-image:url("../../images/bluecheck.png");
	background-size: 100%;
	border: none;
}

section .checkSelection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: left;
}

section .on {
	text-indent: 5px;
}

section .allchk {
	font-weight: bold;
}

section .allchk, .serviceCheck, .privacyCheck {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
}

section .btn.businessJoin {
	/* 스타일서식 */
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: #006AFF;
	color: white;
	font-size: 17px;
	font-family: SOYOMapleRegularTTF;
	font-weight: bold;
	
	margin-bottom: 80px;
}