@charset "UTF-8";
.wrap-write{
	width: 960px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}
.wrap-write h1{
	text-align: center;
}
.write-table{
	width: 920px;
}

.write-table th{
	background-color: red;
	float: left;
}

.write-table td{
/* 	margin-left: 30px; */
}