@charset "UTF-8";
.wrap-write{
	width: 960px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}
.wrap-write h1{
	text-align: center;
}

th{
	color: red;
}