@charset "UTF-8";

.main_section{
	width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

.list_bar{
	text-align: center;
}

.btn_wrap{
	width : 400px;
	margin: auto;
	display: flex;
}

button.display_list_button{
	width: 200px;
	height: 50px;
	font-size: 20px;
	background: none;
	border: none;
}

#reserved_btn{
	border-top: 3px solid var(--color_blue_1);
}

#reserved_btn:hover{
	cursor:pointer;
}

#canceled_btn{
	border-left: 3px solid var(--color_blue_1);
	border-bottom: 3px solid var(--color_blue_1);
}

#canceled_btn:hover{
	cursor:pointer;
}

.reserved_list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(45px, auto);
	align-items: center;
	margin: 50px 0 0 130px;
	width: 700px;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
}

.reserve_code{
	grid-column: 1/ 2;
	grid-row: 1/ 2;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--color_blue_2);
	border-bottom: 1px solid var(--color_blue_1);
	border-right: 1px solid var(--color_blue_1);
}

.p{
	position: absolute;
	transform: translate(10px, 90%);
	font-family: 'SOYOMapleBoldTTF';
}

.hotel_code{
	grid-column: 2 / 6;
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--color_blue_1);
	vertical-align: middle;
}

.code_num {
    position: absolute;
    transform: translate(20px, 15px);
}

.check_in_out{
	grid-column: 1/ 2;
	grid-row: 2/ 3;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--color_blue_2);
	border-bottom: 1px solid var(--color_blue_1);
	border-right: 1px solid var(--color_blue_1);
}

.check_in_out_time{
	grid-column: 2 / 6;
	grid-row: 2/ 3;
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--color_blue_1);		
}

.time{
	position: absolute;
    transform: translate(20px, 15px);
}

.room{
	grid-column: 1/ 2;
	grid-row: 3/ 4;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--color_blue_2);
	border-right: 1px solid var(--color_blue_1);
}

.room_info{
	grid-column: 2 / 6;
	grid-row: 3/ 4;
	position: relative;
	width: 100%;
	height: 100%;
}

.room_att_cat{
	position: absolute;
    transform: translate(20px, 15px);	
}

.canceled_list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(45px, auto);
	align-items: center;
	margin: 50px 0 0 130px;
	width: 700px;
	border-top: 2px solid #006AFF;
	border-bottom: 2px solid #006AFF;
}