@charset "UTF-8";

.main_section{
	width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

.list_bar{
	text-align: center;
}

.btn_wrap{
	width : 400px;
	margin: auto;
	display: flex;
}

button.display_list_button{
	width: 200px;
	height: 50px;
	font-size: 20px;
	background: none;
	border: none;
}

#reserved_btn{
	border-top: 3px solid var(--color_blue_1);
}

#reserved_btn:hover{
	cursor:pointer;
}

#canceled_btn{
	border-left: 3px solid var(--color_blue_1);
	border-bottom: 3px solid var(--color_blue_1);
}

#canceled_btn:hover{
	cursor:pointer;
}

.reserved_list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 80px 0 0 130px;
	width: 700px;
	border-top: 3px solid var(--color_blue_1);
	border-bottom: 3px solid var(--color_blue_1);
}

.y {
	display:flex;
	flex-direction: row;
	gap: 10px;
}

.y:not(:first-child) {
	border-top: 1px solid var(--color_blue_1);
}

.y > div:first-child {
	padding: 5px;
	align-content:center;
	flex-basis: 20%;
	background-color: var(--color_blue_2);
}

.y > div:last-child {
	padding: 10px;
	align-content:center;
	flex-basis: 80%;
}

.p{
	 font-family: 'SOYOMapleBoldTTF'; 
}

.check_in_out_time{
	display: flex;
	flex-direction: column;
	gap: 10px;		
}

.canceled_list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 80px 0 0 130px;
	width: 700px;
	border-top: 3px solid var(--color_blue_1);
	border-bottom: 3px solid var(--color_blue_1);
}